Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

refactor: remove safe duplicates from registry
  src/infrastructure/error/exception_handler.py
  src/infrastructure/error/exception_type_mapper.py
  src/infrastructure/registry/base_registry.py
  tests/infrastructure/error/test_exception_type_mapper.py
  tests/infrastructure/registry/test_base_registry.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: extract ExceptionTypeMapper
  src/infrastructure/error/exception_handler.py
  src/infrastructure/error/exception_type_mapper.py
  src/infrastructure/storage/components/__init__.py
  src/infrastructure/storage/components/entity_cache.py
  src/infrastructure/storage/components/entity_serializer.py
  src/infrastructure/storage/components/event_publisher.py
  src/infrastructure/storage/components/version_manager.py
  tests/infrastructure/error/test_exception_type_mapper.py
  tests/infrastructure/storage/components/test_entity_cache.py
  tests/infrastructure/storage/components/test_entity_serializer.py
  tests/infrastructure/storage/components/test_event_publisher.py
  tests/infrastructure/storage/components/test_version_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: extract repository components
  src/infrastructure/di/storage_services.py
  src/infrastructure/storage/components/__init__.py
  src/infrastructure/storage/components/entity_cache.py
  src/infrastructure/storage/components/entity_serializer.py
  src/infrastructure/storage/repositories/template_repository.py
  tests/infrastructure/storage/components/test_entity_serializer.py
  tests/infrastructure/storage/components/test_event_publisher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: add symlink for test_dispatcher.py to fix pre-commit hook
  dev-tools/testing/test_dispatcher.py
  test_circular_dependency.py
  test_multi_provider.py
  test_phase_4.py
  test_process_value_objects.py
  test_registry_execution.py
  test_serialization.py
  test_template_generation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: requests list --limit parameter
  src/application/dto/queries.py
  src/application/queries/handlers.py
  src/cli/factories/request_command_factory.py
  src/cli/main.py
  src/interface/template_command_handlers.py
  test_handler_registration.py
  test_long_flag.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: remove accidentally committed test files
  test_handler_registration.py
  test_long_flag.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: register ListMachinesQuery handler
  src/cli/factories/machine_command_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: template generation field mapper initialization
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: singular command aliases
  src/cli/factories/cli_command_factory_orchestrator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: SSM to AMI ID resolution
  src/providers/aws/infrastructure/services/aws_image_resolution_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

perf: cache provider selection during batch processing
  src/infrastructure/template/configuration_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: Add .cache/ to .gitignore
  .gitignore
Due: none

chore: add .cache/ to .gitignore
  .gitignore
Due: none

fix: machines request missing requested_count
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/factories/request_command_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: request status double-formatting
  src/cli/response_formatter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

revert: request status double-formatting fix
  src/cli/response_formatter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: CLI routing for scheduler formatting
  debug_scheduler.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: filter None values from machine_ids
  src/application/commands/request_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: Remove debug statement and unused sys import from request_command_handlers
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: Add comprehensive regression analysis for last 2 days
  backlog/REGRESSION_ANALYSIS_2026-02-19.md
Due: quality-check

docs: add comprehensive regression analysis
  backlog/REGRESSION_ANALYSIS_2026-02-19.md
Due: quality-check

fix: machines list scheduler formatting
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/main.py
  src/interface/machine_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: filter None from machine_ids in RequestDTO
  src/application/request/dto.py
  src/infrastructure/storage/repositories/request_repository.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: security groups mapping in query handler
  src/application/machine/dto.py
  src/application/queries/handlers.py
  src/application/services/machine_sync_service.py
  src/providers/aws/infrastructure/adapters/machine_adapter.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  tests/unit/application/queries/test_security_groups_mapping.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add subnet and security group to sync service
  src/application/services/machine_sync_service.py
  src/domain/machine/aggregate.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: requests status --all syncs and shows all requests
  src/application/queries/handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: Add comprehensive --all flag audit report
  backlog/ALL_FLAG_AUDIT_2026-02-19.md
Due: quality-check

docs: add comprehensive --all flag audit report
  backlog/ALL_FLAG_AUDIT_2026-02-19.md
Due: quality-check

docs: Correct --all flag audit report
  backlog/ALL_FLAG_AUDIT_2026-02-19.md
Due: quality-check

docs: correct --all flag audit report
  backlog/ALL_FLAG_AUDIT_2026-02-19.md
Due: quality-check

fix: add singular machine alias for consistency
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
