Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: use canonical PascalCase comparisons for provider_api in fleet instance tagging
  src/providers/aws/utilities/aws_operations.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: extract config builders, validator, and shared utilities from AWS handlers
  src/providers/aws/configuration/config.py
  src/providers/aws/infrastructure/handlers/asg/__init__.py
  src/providers/aws/infrastructure/handlers/asg/config_builder.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/__init__.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/fleet_grouping_mixin.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet/__init__.py
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/validator.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_asg_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_run_instances_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_spot_fleet_handler.py
  tests/unit/providers/aws/infrastructure/test_resource_tags.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: extract release managers, capacity manager, and shared utilities from AWS handlers
  .gitignore
  src/providers/aws/infrastructure/handlers/asg/capacity_manager.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/release_manager.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/fleet_override_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/release_manager.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/e2e/test_end_to_end_integration.py
  tests/integration/test_handler_architecture.py
  tests/providers/aws/test_allocation_strategy_mapping.py
  tests/unit/providers/aws/infrastructure/handlers/test_cleanup.py
  tests/unit/providers/aws/test_handler_merge_integration.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: consolidate shared handler logic and fix stale provider_api values
  src/infrastructure/adapters/template_configuration_adapter.py
  src/providers/aws/configuration/config.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/asg/capacity_manager.py
  src/providers/aws/infrastructure/handlers/asg/config_builder.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_config_builder.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/release_manager.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/instance_override_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/release_manager.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/tags.py
  tests/unit/providers/aws/infrastructure/handlers/test_cleanup.py
  tests/unit/providers/test_providers_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: reorganise handler files into per-handler subpackages
  src/providers/aws/infrastructure/aws_handler_factory.py
  src/providers/aws/infrastructure/handlers/__init__.py
  src/providers/aws/infrastructure/handlers/asg/config_builder.py
  src/providers/aws/infrastructure/handlers/asg/handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
  src/providers/aws/infrastructure/handlers/run_instances/__init__.py
  src/providers/aws/infrastructure/handlers/run_instances/handler.py
  src/providers/aws/infrastructure/handlers/shared/__init__.py
  src/providers/aws/infrastructure/handlers/shared/base_config_builder.py
  src/providers/aws/infrastructure/handlers/shared/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/shared/fleet_grouping_mixin.py
  src/providers/aws/infrastructure/handlers/shared/fleet_override_builder.py
  src/providers/aws/infrastructure/handlers/shared/instance_override_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/handler.py
  tests/e2e/test_end_to_end_integration.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_handler_architecture.py
  tests/onaws/scenarios.py
  tests/providers/aws/test_allocation_strategy_mapping.py
  tests/unit/providers/aws/infrastructure/handlers/test_asg_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_cleanup.py
  tests/unit/providers/aws/infrastructure/handlers/test_ec2_fleet_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_run_instances_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_spot_fleet_handler.py
  tests/unit/providers/aws/infrastructure/test_resource_tags.py
  tests/unit/providers/aws/strategy/test_augment_capacity_metadata.py
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/providers/aws/test_handler_merge_integration.py
  tests/unit/providers/test_aws_handlers.py
  tests/unit/test_domain_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore retry wrappers, fleet role resolution, and release_hosts signature
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/run_instances/handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet/release_manager.py
  src/providers/aws/infrastructure/handlers/spot_fleet/validator.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: P0/P1 bugs, repository DI, docs cleanup, gitignore
  .gitignore
  docs/developer_guide/arch.md
  docs/root/architecture/template-infrastructure-improvements.md
  docs/root/deployment/docker.md
  docs/root/developer_guide/cqrs.md
  docs/root/index.md
  docs/root/provider_strategy_pattern_guide.md
  src/domain/template/template_aggregate.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/storage/base/repository.py
  tests/onaws/plugin_io_schemas.py
  tests/unit/infrastructure/scheduler/test_default_strategy_extended.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: repository DI wiring, docs cleanup, gitignore
  .gitignore
  docs/developer_guide/arch.md
  docs/root/architecture/template-infrastructure-improvements.md
  docs/root/deployment/docker.md
  docs/root/developer_guide/cqrs.md
  docs/root/index.md
  docs/root/provider_strategy_pattern_guide.md
  src/domain/template/template_aggregate.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/storage/base/repository.py
  tests/onaws/plugin_io_schemas.py
  tests/unit/infrastructure/scheduler/test_default_strategy_extended.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use Optional[AWSOperations] instead of type: ignore in SpotFleetValidator
  src/providers/aws/infrastructure/handlers/spot_fleet/validator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve merge conflicts in factory, CLI, DI services, and template adapter
  src/cli/factories/provider_command_factory.py
  src/config/loader.py
  src/domain/base/exceptions.py
  src/infrastructure/adapters/template_configuration_adapter.py
  src/infrastructure/di/services.py
  src/interface/mcp/server/core.py
  src/interface/mcp_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: enforce architecture compliance across query handlers, storage, scheduler, and auth
  src/api/middleware/__init__.py
  src/api/middleware/auth_middleware_enhanced.py
  src/api/server.py
  src/application/queries/__init__.py
  src/application/queries/handlers.py
  src/application/queries/request_query_handlers.py
  src/infrastructure/di/query_handler_services.py
  src/infrastructure/error/categories.py
  src/infrastructure/error/exception_handler.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/scheduler/registration.py
  src/infrastructure/storage/json/unit_of_work.py
  src/infrastructure/storage/repositories/machine_repository.py
  src/infrastructure/storage/repositories/request_repository.py
  tests/integration/test_lazy_loading_integration.py
  tests/unit/application/queries/test_get_template_handler.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use storage registry to create strategies in machine and request repository factories
  src/infrastructure/utilities/factories/repository_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: suppress B027 on intentional no-op hook methods in abstract base classes
  src/application/events/base/event_handler.py
  src/application/ports/cache_service_port.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve mypy duplicate module error in src/ layout
  makefiles/ci.mk
  pyproject.toml
  src/__init__.py
  tests/infrastructure/caching/test_ami_cache_service.py
  tests/providers/aws/domain/services/test_ami_resolver_caching.py
  tests/test_platform_dirs.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/architecture/test_ddd_compliance_fixed.py
  tests/unit/config/test_scheduler_config.py
  tests/unit/infrastructure/error/test_exception_handler.py
  tests/unit/infrastructure/test_multi_instance_provider_support.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: resolve mypy duplicate module error in src/ layout
  dev-tools/scripts/generate_pyproject.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve ruff violations across src — remove stale noqa directives, unused imports, and naming issues
  pyproject.toml
  src/application/queries/template_query_handlers.py
  src/cli/factories/provider_command_factory.py
  src/domain/template/factory.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/logging/logger.py
  src/infrastructure/storage/dynamodb/registration.py
  src/interface/mcp/server/handler.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: resolve mypy double-discovery of src-layout packages
  mypy.ini
Due: none

fix: update patch targets in platform_dirs tests to match actual module path
  pyproject.toml
  tests/test_platform_dirs.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: update patch targets in platform_dirs tests to match actual module path
  tests/test_platform_dirs.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: standardise API response fields to camelCase
  src/api/handlers/get_request_status_handler.py
  src/api/routers/machines.py
  src/api/routers/requests.py
  src/api/routers/templates.py
  tests/e2e/test_critical_path_e2e.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: enforce CQRS void returns on all command handlers
  src/application/commands/machine_handlers.py
  src/application/commands/provider_handlers.py
  src/application/machine/queries.py
  src/application/provider/commands.py
  src/application/queries/machine_query_handlers.py
  src/infrastructure/di/command_handler_services.py
  src/infrastructure/di/query_handler_services.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: add critical path E2E tests for request lifecycle and template flow
  pytest.ini
  src/application/commands/machine_handlers.py
  src/application/commands/provider_handlers.py
  src/application/commands/request_sync_handlers.py
  src/application/dto/template_dto.py
  src/application/queries/machine_query_handlers.py
  src/application/services/asg_metadata_service.py
  src/application/services/deprovisioning_orchestrator.py
  src/application/services/machine_sync_service.py
  src/application/services/provider_name_service.py
  src/application/services/provider_registry_service.py
  src/application/services/provider_validation_service.py
  src/application/services/provisioning_orchestration_service.py
  src/application/services/request_creation_service.py
  src/application/services/template_generation_service.py
  src/application/services/template_validation_service.py
  src/cli/factories/provider_command_factory.py
  src/domain/base/ports/asg_query_port.py
  src/domain/base/ports/provider_name_port.py
  src/domain/base/ports/template_example_generator_port.py
  src/infrastructure/adapters/asg_query_adapter.py
  src/infrastructure/adapters/template_example_generator_adapter.py
  src/infrastructure/di/domain_services.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/scheduler/base/strategy.py
  tests/conftest.py
  tests/docker/conftest.py
  tests/docker/test_container_integration.py
  tests/docker/test_docker_compose.py
  tests/docker/test_dockerfile.py
  tests/e2e/test_critical_path_e2e.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: align tests and command types with CQRS and config env var changes
  src/application/provider/commands.py
  tests/integration/test_ocp_compliance_integration.py
  tests/sdk/test_sdk_config.py
  tests/unit/application/provider/test_provider_commands.py
  tests/unit/providers/test_providers_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: add critical path E2E tests for request lifecycle and template flow
  tests/e2e/test_critical_path_e2e.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct env var names and remove stale config fields
  src/bootstrap.py
  src/cli/console.py
  src/config/schemas/app_config_settings.py
  src/config/schemas/app_schema.py
  src/config/schemas/logging_schema.py
  src/config/schemas/provider_settings_registry.py
  src/config/schemas/storage_schema.py
  src/providers/config_builder.py
  src/sdk/config.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: remove infrastructure imports from application layer
  pytest.ini
  src/application/commands/machine_handlers.py
  src/application/commands/provider_handlers.py
  src/application/commands/request_sync_handlers.py
  src/application/dto/template_dto.py
  src/application/queries/machine_query_handlers.py
  src/application/services/asg_metadata_service.py
  src/application/services/deprovisioning_orchestrator.py
  src/application/services/machine_sync_service.py
  src/application/services/provider_name_service.py
  src/application/services/provider_registry_service.py
  src/application/services/provider_validation_service.py
  src/application/services/provisioning_orchestration_service.py
  src/application/services/request_creation_service.py
  src/application/services/template_generation_service.py
  src/application/services/template_validation_service.py
  src/cli/factories/provider_command_factory.py
  src/domain/base/ports/asg_query_port.py
  src/domain/base/ports/provider_name_port.py
  src/domain/base/ports/template_example_generator_port.py
  src/infrastructure/adapters/asg_query_adapter.py
  src/infrastructure/adapters/template_example_generator_adapter.py
  src/infrastructure/di/domain_services.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/scheduler/base/strategy.py
  tests/conftest.py
  tests/docker/conftest.py
  tests/docker/test_container_integration.py
  tests/docker/test_docker_compose.py
  tests/docker/test_dockerfile.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: mark slow tests to enable selective test execution
  tests/e2e/test_performance.py
  tests/integration/test_lazy_loading_integration.py
  tests/performance/test_lazy_loading_performance.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: monthly dependency maintenance
  uv.lock
Due: none
