Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

build: add pyright to ci dependency group
  pyproject.toml
  uv.lock
Due: safety, quality-check

fix: bump urllib3 to >=2.6.3 and trivy-action to 0.34.0
  .github/workflows/dev-containers.yml
  .github/workflows/reusable-security.yml
Due: quality-check, validate-workflows

fix: resolve CI quality and security scan failures in PR #132
  hfmock.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: enforce orb: tag namespace reservation at domain and infrastructure layers
  src/domain/template/template_aggregate.py
  src/providers/aws/infrastructure/tags.py
  tests/unit/domain/test_template_aggregate.py
  tests/unit/providers/aws/infrastructure/test_resource_tags.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove dead create_launch_template method with hardcoded naming
  src/providers/aws/infrastructure/adapters/request_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve ruff violations introduced by recent changes
  src/interface/mcp/server/core.py
  tests/unit/providers/aws/infrastructure/test_resource_tags.py
  tests/unit/providers/test_providers_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: move inline json_utils imports to module level in loader and provider_command_factory
  src/cli/factories/provider_command_factory.py
  src/config/loader.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: move inline domain imports to module level in provider_command_factory
  src/cli/factories/provider_command_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: eliminate duplicate CQRS handlers and port definitions
  src/api/handlers/get_available_templates_handler.py
  src/api/handlers/get_request_status_handler.py
  src/api/handlers/get_return_requests_handler.py
  src/api/handlers/request_machines_handler.py
  src/api/handlers/request_return_machines_handler.py
  src/application/base/infrastructure_handlers.py
  src/application/dto/queries.py
  src/application/queries/provider_handlers.py
  src/application/queries/system.py
  src/application/queries/system_handlers.py
  src/cli/factories/system_command_factory.py
  src/domain/base/events/base_events.py
  src/domain/base/events/base_events_pure.py
  src/domain/base/ports.py
  src/infrastructure/adapters/ports/__init__.py
  src/infrastructure/adapters/ports/logger_port.py
  src/infrastructure/di/query_handler_services.py
  src/infrastructure/interfaces/instance_manager.py
  src/infrastructure/interfaces/provider.py
  src/infrastructure/interfaces/resource_manager.py
  src/infrastructure/utilities/config_utils.py
  src/infrastructure/utilities/exception_utils.py
  src/interface/system_command_handlers.py
  tests/config/test_loader_env.py
  tests/fixtures/mock_provider.py
  tests/unit/infrastructure/utilities/test_config_utils.py
  tests/unit/infrastructure/utilities/test_exception_utils.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore live machine status sync in GetRequestHandler and ListActiveRequestsHandler
  src/application/queries/request_query_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update GetRequestHandler test fixtures to match restored constructor signature
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct return request status and remove AWS internals from DI container
  src/application/queries/provider_handlers.py
  src/application/queries/system_handlers.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/providers/aws/infrastructure/aws_handler_factory.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/registration.py
  src/providers/aws/services/instance_operation_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/config/test_loader_env.py
  tests/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: allow explicit onaws path to bypass aws test skip in pytest
  tests/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve ConfigurationPort at handler construction time and register TemplateExampleGeneratorPort
  src/providers/aws/infrastructure/aws_handler_factory.py
  src/providers/aws/registration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: inject ConfigurationPort into AWSProviderStrategy via constructor
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/aws_handler_factory.py
  src/providers/aws/registration.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/integration/test_end_to_end_dry_run.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use typed allocation strategy values in EC2Fleet example templates
  config/aws_templates.json
  src/domain/base/value_objects.py
  src/domain/base/value_objects_pure.py
  src/providers/aws/domain/template/aws_template_aggregate.py
  src/providers/aws/domain/template/value_objects.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore aws_templates.json with all 20 hostfactory-format templates
  config/aws_templates.json
Due: quality-check

fix: run AWS resource cleanup before config teardown in onaws fixtures
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: restrict EC2Fleet instance tagging to instant fleets only and clean up example tags
  config/aws_templates.json
  src/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove invalid instance ResourceType from SpotFleet TagSpecifications
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: wait for all requested instances before declaring request complete
  src/application/services/request_status_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

perf: skip AWS client activation when all image specs are already resolved
  src/providers/aws/infrastructure/services/aws_image_resolution_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: correct request status determination for return and acquire requests
  src/application/services/machine_sync_service.py
  src/application/services/request_status_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: treat synchronous fleet types as complete when no pending instances remain
  src/application/services/request_status_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Revert "fix: treat synchronous fleet types as complete when no pending instances remain"
  src/application/services/request_status_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: detect synchronous fleet completion when capacity partially fulfilled
  src/application/services/request_status_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: scope instant fleet early-exit to EC2Fleet instant type only
  src/application/services/request_status_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove AWS-specific fleet type from application layer status logic
  src/application/services/request_status_service.py
  src/domain/request/request_types.py
  src/infrastructure/scheduler/base/strategy.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/unit/domain/test_request_types.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add fulfilled_count/is_terminal to ProvisioningResult and BatchingPolicy value object
  src/application/services/provisioning_orchestration_service.py
  src/application/value_objects/__init__.py
  src/application/value_objects/batching_policy.py
  tests/unit/application/test_batching_policy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add capacity top-up retry loop to provisioning orchestration
  src/application/services/provisioning_orchestration_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
