Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: use dynamic matrix for all Python versions in container build
  .github/workflows/container-build.yml
Due: quality-check, validate-workflows

fix: complete workflow optimization and fix broken container matrix
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/container-build.yml
Due: quality-check, validate-workflows

feat: add workflow job dependencies for better orchestration
  .github/workflows/ci-quality.yml
  .github/workflows/container-build.yml
Due: quality-check, validate-workflows

security: resolve urllib3 CVEs by dropping Python 3.9 support
  pyproject.toml
  uv.lock
Due: safety, quality-check

feat: drop Python 3.9 support, add Python 3.14 support
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/container-build.yml
  .github/workflows/test-matrix.yml
  .project.yml
  CONTRIBUTING.md
  README.md
  dev-tools/scripts/ci_check.py
  docs/root/deployment/dev_deployment_documentation.md
  docs/root/developer_guide/development.md
  docs/root/development/testing.md
  docs/root/getting_started/quick_start.md
  docs/root/user_guide/deployment.md
  docs/root/user_guide/installation.md
  tests/onaws/test_multi_asg_termination.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows

security: fix command injection vulnerability in container_dispatcher.py
  dev-tools/container/container_dispatcher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

security: add missing permissions to cache-management workflow
  .github/workflows/cache-management.yml
Due: quality-check, validate-workflows

fix: resolve Unicode regex overlapping ranges in CodeQL
  dev-tools/release/changelog_manager.py
  dev-tools/scripts/quality_check.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

security: fix remaining subprocess vulnerabilities in container_dispatcher.py
  dev-tools/container/container_dispatcher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: remove duplicate Ruff checks from Professional Quality Standards
  dev-tools/quality/quality_dispatcher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

security: fix all remaining subprocess calls in container_dispatcher.py
  dev-tools/container/container_dispatcher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

ci: make Quick Tests continue on error like Test Matrix
  .github/workflows/ci-tests.yml
Due: quality-check, validate-workflows

feat: prepare for v1.0.0 release
  pyproject.toml
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/architecture/test_ddd_compliance_fixed.py
  tests/unit/cli/test_cli_migration.py
  tests/unit/cli/test_storage_commands.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: add release branch support to semantic-release configuration
  pyproject.toml
Due: safety, quality-check

chore: temporarily disable test-quick in release pipeline to unblock v1.0.0
  dev-tools/release/orchestrator.sh
Due: none

style: fix ruff formatting issues
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/cli/test_storage_commands.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

security: update pip and uv to latest versions to fix Trivy alerts
  Dockerfile
Due: none

security: add explicit urllib3>=2.6.3 to fix 6 high severity CVEs
  pyproject.toml
Due: safety, quality-check

fix: correct urllib3 version requirement to >=2.6.0
  pyproject.toml
Due: safety, quality-check

style: fix import sorting in test_cqrs_patterns.py
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: auto-compute container matrix and set Python 3.14 as default
  .github/workflows/container-build.yml
  .project.yml
Due: quality-check, validate-workflows

fix: add system dependencies for Python 3.14 lxml build
  .github/actions/setup-python-uv/action.yml
Due: quality-check

fix: correct container push target in release publisher
  dev-tools/release/publisher.sh
Due: none

fix: set GHCR registry for container builds in semantic release
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: use dynamic registry config from .project.yml instead of hardcoded values
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: use dynamic project name from .project.yml in security container script
  dev-tools/scripts/security_container.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add Docker login for GHCR in semantic release workflow
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: separate release workflows - semantic release only creates versions, containers handled by dedicated workflow
  .github/workflows/container-build.yml
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: add SBOM workflow with proper triggers and remove duplicate RC suggestion workflow
  .github/workflows/sbom.yml
  .github/workflows/suggest-rc.yml
Due: quality-check, validate-workflows

fix: use dynamic Python version in SBOM workflow instead of hardcoded 3.11
  .github/workflows/sbom.yml
Due: quality-check, validate-workflows

security: fix critical and high severity vulnerabilities
  .github/actions/setup-python-uv/action.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/container-build.yml
Due: quality-check, validate-workflows

security: fix critical and high severity vulnerabilities
  Dockerfile
  dev-tools/security/detect_secrets.py
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: resolve CodeQL clear-text logging alert by avoiding sensitive words in log messages
  Dockerfile
  dev-tools/security/detect_secrets.py
  pyproject.toml
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: eliminate all 'secret' references to resolve CodeQL clear-text logging alert
  dev-tools/security/detect_credentials.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct syft installation command to use shell piping instead of arguments
  dev-tools/scripts/install_dev_tools.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: semantic release should only build PyPI packages, not containers
  pyproject.toml
Due: safety, quality-check

style: format install_dev_tools.py with ruff
  dev-tools/scripts/install_dev_tools.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add actions read permission to semantic release workflow
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: disable PyPI publishing in semantic-release configuration
  pyproject.toml
Due: safety, quality-check

feat: add Python wheels and checksums to GitHub releases
  dev-tools/scripts/generate_pyproject.py
  makefiles/deploy.mk
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports
