Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

feat: add machines terminate alias
  src/cli/main.py
  src/cli/response_formatter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add machines stop command
  src/interface/machine_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add templates validate command for loaded templates
  src/application/dto/queries.py
  src/application/queries/handlers.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/main.py
  src/interface/template_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add LAUNCHING state to machine lifecycle
  src/domain/machine/machine_status.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: template utility commands use CQRS pattern
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/factories/template_command_factory.py
  src/domain/base/value_objects.py
  src/domain/machine/aggregate.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: show commands require IDs and reject --all flag
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/main.py
  tests/unit/cli/test_show_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: machines status handles dict and object DTOs
  src/interface/machine_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: requests show --all helpful error
  src/cli/main.py
  tests/unit/cli/test_show_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: machines return finds pending machines correctly
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: templates validate shows specific error details
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: machines return validation filters invalid machines instead of blocking all
  src/application/commands/request_handlers.py
  tests/unit/application/test_return_validation_fix.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: add commit message format guidelines
  CONTRIBUTING.md
Due: quality-check

refactor: cleanup temp files and prepare pr
  COMPREHENSIVE_CLI_QA_TEST_REPORT.md
  IMPORT_GUARDS_IMPLEMENTATION_GUIDE.md
  PACKAGE_TESTING_STRATEGY_IMPLEMENTATION.md
  PHASE_3_4_COMPLETION_SUMMARY.md
  PHASE_6_CONFIGURATION_UPDATE_SUMMARY.md
  QA_INFRASTRUCTURE_COMMANDS_TEST_REPORT.md
  QA_REQUESTS_MACHINES_TEST_REPORT.md
  QA_SYSTEM_OPERATIONS_TEST_REPORT.md
  SHOW_COMMANDS_ARCHITECTURE_FIX_PLAN.md
  analysis_changes.md
  caching_analysis.md
  cli_argument_audit.md
  debug_scheduler.py
  god_objects_refactoring_tasks.md
  method_in_analysis.md
  templates_qa_test_report.md
  todo_axn_implementation.md
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add missing system command handlers to CLI execution
  backlog/ALL_FLAG_AUDIT_2026-02-19.md
  backlog/REGRESSION_ANALYSIS_2026-02-19.md
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: replace cloud provider references with generic names
  docs/developer_guide/arch.md
  docs/filtering.md
  docs/root/api/multi-provider-api.md
  docs/root/architecture/field_mapping_architecture.md
  docs/root/architecture/multi-provider-design.md
  docs/root/architecture/system_diagrams.md
  docs/root/configuration/provider-naming-guide.md
  docs/root/deployment/cloud_platforms.md
  docs/root/developer_guide/basesettings-providers.md
  docs/root/developer_guide/data_models.md
  docs/root/developer_guide/providers.md
  docs/root/engineering/solid_principles.md
  docs/root/hostfactory/deployment_scenarios.md
  docs/root/hostfactory/feature_mapping.md
  docs/root/patterns/factory_pattern.md
  docs/root/patterns/ports_and_adapters.md
  docs/root/provider_strategy_guide.md
  docs/root/security/security-scanning.md
  src/domain/services/image_resolution_service.py
  src/infrastructure/README.md
  src/providers/registration.py
  src/providers/registry.py
  tests/unit/config/test_basesettings_integration.py
  tests/unit/config/test_provider_config.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: remove openstack reference from naming guide
  docs/root/configuration/provider-naming-guide.md
Due: quality-check

docs: remove non-aws deployment examples from cloud platforms guide
  docs/root/deployment/cloud_platforms.md
Due: quality-check

feat(sdk): add CLI-style convenience methods and parameter mapping
  SDK_PARAMETER_MAPPING_SUMMARY.md
  config.yaml
  docs/root/sdk/quickstart.md
  pyproject.toml
  src/infrastructure/template/template_cache_service.py
  src/sdk/__init__.py
  src/sdk/client.py
  src/sdk/discovery.py
  src/sdk/parameter_mapping.py
  tests/sdk/test_parameter_mapping.py
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: resolve critical PR blocking issues
  src/providers/aws/domain/services/ami_resolver.py
  src/sdk/client.py
  tests/integration/test_end_to_end_integration.py
  tests/unit/application/test_return_validation_fix.py
  tests/unit/cli/test_show_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat(sdk): add CLI-style convenience methods and parameter mapping
  .gitignore
Due: none

fix: resolve all PR #132 workflow failures
  dev-tools/scripts/setup-hooks.sh
  pyproject.toml
  src/__init__.py
  src/api/server.py
  src/cli/main.py
  src/cli/response_formatter.py
  src/config/managers/configuration_manager.py
  src/config/managers/provider_manager.py
  src/config/schemas/provider_settings_registry.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/infrastructure_command_handler.py
  src/interface/machine_command_handlers.py
  src/interface/mcp/server/core.py
  src/interface/request_command_handlers.py
  src/interface/serve_command_handler.py
  src/interface/system_command_handlers.py
  src/monitoring/health.py
  src/providers/aws/domain/services/ami_resolver.py
  src/providers/aws/profile_discovery.py
  src/providers/factory.py
  tests/conftest.py
  tests/e2e/test_system_validation.py
  tests/integration/test_hostfactory_lifecycle.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/security/test_auth_security.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/config/test_provider_config.py
  tests/unit/infrastructure/di/test_cqrs_registry.py
  tests/unit/infrastructure/test_infrastructure_comprehensive.py
  tests/unit/patterns/test_strategy_pattern.py
  tests/unit/providers/test_providers_comprehensive.py
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: decouple bootstrap from concrete ConfigurationManager
  src/bootstrap.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(architecture): move storage events from domain to infrastructure layer
  src/domain/base/events/__init__.py
  src/infrastructure/events/__init__.py
  src/infrastructure/events/storage_events.py
  src/infrastructure/storage/repositories/request_repository.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve type errors from storage events migration
  src/domain/base/ports/storage_port.py
  src/infrastructure/events/storage_events.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: decouple request handlers from ProviderRegistryService via ProviderSelectionPort
  src/application/commands/request_handlers.py
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/__init__.py
  src/domain/base/ports/provider_selection_port.py
  src/infrastructure/adapters/provider_selection_adapter.py
  src/infrastructure/di/port_registrations.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve type and import errors
  src/application/services/provider_registry_service.py
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/provider_selection_port.py
  src/infrastructure/adapters/provider_selection_adapter.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve Phase 3 type and import errors
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/provider_selection_port.py
  src/infrastructure/adapters/provider_selection_adapter.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
