Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

fix: resolve three regressions in provisioning and status query paths
  src/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  tests/unit/providers/aws/infrastructure/handlers/test_ec2_fleet_handler.py
  tests/unit/providers/aws/infrastructure/test_resource_tags.py
  tests/unit/providers/aws/test_tag_specifications_guard.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

style: auto-format code with ruff [skip ci]
  src/application/services/provisioning_orchestration_service.py
  src/application/services/request_query_service.py
  src/infrastructure/adapters/ports/resource_provisioning_port.py
  src/providers/aws/exceptions/aws_exceptions.py
  tests/contract/test_rest_contract.py
  tests/onmoto/test_cqrs_control_loop.py
  tests/onmoto/test_hf_contract.py
  tests/providers/aws/contract/conftest.py
  tests/providers/aws/test_aws_validation_adapter.py
  tests/providers/contract/base_provisioning_contract.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/infrastructure/scheduler/test_cross_cutting.py
  tests/unit/infrastructure/scheduler/test_field_mapping.py
  tests/unit/infrastructure/scheduler/test_response_formatting.py
  tests/unit/infrastructure/scheduler/test_strategy_loading.py
  tests/unit/providers/aws/test_allocation_strategy.py
  tests/unit/test_di_template_defaults_wiring.py
  tests/unit/test_field_mapping_coverage.py
  tests/unit/test_hf_response_contracts.py
  tests/unit/test_spot_fleet_ordering.py
  tests/unit/test_template_roundtrip.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: allow werkzeug compound BSD-3-Clause license in dependency review
  .github/workflows/security-code.yml
Due: quality-check, validate-workflows

fix: exempt werkzeug from dependency review license check
  .github/workflows/security-code.yml
Due: quality-check, validate-workflows

chore: update aws_templates.json to match defaults
  config/aws_templates.json
Due: quality-check

fix: strip empty and irrelevant fields from HF template output
  src/infrastructure/scheduler/hostfactory/field_mapper.py
  tests/contract/test_hf_template_fields.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: include run_instances in cleanup config serialization
  src/infrastructure/adapters/configuration_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

style: fix import sorting in contract tests
  tests/contract/test_hf_template_fields.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: monthly dependency maintenance
  uv.lock
Due: none

fix: correct import paths and variant names in package variant CI tests
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: address container CVEs and pin trivy-action to working version
  .github/workflows/dev-containers.yml
  .github/workflows/reusable-security.yml
  .github/workflows/test-matrix.yml
  Dockerfile
Due: quality-check, validate-workflows

fix: use repository name for container cleanup package-name
  .github/workflows/dev-containers.yml
  .github/workflows/prod-release.yml
Due: quality-check, validate-workflows

fix: update test paths for orb namespace migration
  tests/integration/test_lazy_loading_integration.py
  tests/integration/test_package_name_integration.py
  tests/unit/cli/test_cli_migration.py
  tests/unit/infrastructure/test_configuration_adapter_package_info.py
  tests/unit/infrastructure/test_infrastructure_comprehensive.py
  tests/unit/providers/test_providers_comprehensive.py
  tests/unit/test_architectural_compliance.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: upgrade trivy-action from 0.33.1 to 0.34.2
  .github/workflows/dev-containers.yml
  .github/workflows/reusable-security.yml
Due: quality-check, validate-workflows

fix: update stale src.* imports and fix lazy loading tests
  src/orb/domain/exceptions/image_resolution_error.py
  src/orb/infrastructure/di/handler_discovery.py
  src/orb/providers/aws/infrastructure/caching/aws_image_cache.py
  src/orb/providers/aws/infrastructure/services/aws_image_resolution_service.py
  tests/integration/test_lazy_loading_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: relax run.py line count assertion and remove stale config path
  tests/integration/test_multi_provider_configuration.py
  tests/unit/cli/test_cli_migration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: update remaining bare module paths to orb namespace
  src/orb/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/orb/providers/base/strategy/__init__.py
  tests/integration/test_handler_architecture.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/application/services/test_provider_capability_service.py
  tests/unit/application/services/test_provider_selection_service.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/application/test_request_handlers_partial.py
  tests/unit/infrastructure/test_base_registry.py
  tests/unit/infrastructure/test_multi_instance_provider_support.py
  tests/unit/infrastructure/test_storage_registration.py
  tests/unit/infrastructure/test_storage_registry_integration.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update reset_singletons module paths for orb namespace
  tests/utilities/reset_singletons.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: update package-testing workflow for orb namespace
  .github/workflows/package-testing.yml
Due: quality-check, validate-workflows

chore: remove UBS bug scanner from pre-push hook
  .githooks/README.md
  .githooks/pre-push
Due: quality-check

fix: update CLI description, prog name, and hfmock scripts path
  .project.yml
  hfmock.py
  pyproject.toml
  src/orb/__main__.py
  src/orb/_package.py
  src/orb/cli/args.py
  src/orb/run.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: invoke_provider.sh use src/orb/run.py directly, not -m orb
  src/orb/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
Due: none

feat: centralise package_root, support EC2 instance profiles, improve dev deps and onaws tests
  .project.yml
  dev-tools/quality/check_architecture.py
  dev-tools/quality/validate_cqrs.py
  dev-tools/setup/install_completions.sh
  hfmock.py
  local_env.sh
  makefiles/common.mk
  pyproject.toml
  src/orb/_package.py
  src/orb/config/installation_detector.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
  src/orb/interface/init_command_handler.py
  src/orb/providers/aws/infrastructure/aws_client.py
  src/orb/providers/aws/profile_discovery.py
  src/orb/providers/aws/services/capability_service.py
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  tests/integration/test_handler_architecture.py
  tests/integration/test_lazy_loading_integration.py
  tests/integration/test_ocp_compliance_integration.py
  tests/onaws/conftest.py
  tests/performance/test_lazy_loading_performance.py
  tests/unit/architecture/test_clean_architecture.py
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

docs: fix docs structure, add missing nav entries, update README with provider/scheduler info
  .gitignore
  README.md
  docs/developer_guide/arch.md
  docs/mkdocs.yml
  docs/root/architecture/system_diagrams.md
  docs/root/cli/filtering.md
  docs/root/user_guide/abis.md
Due: quality-check

docs: simplify AWS and config sections in README, move details to docs
  README.md
  docs/root/user_guide/configuration.md
Due: quality-check

docs: restructure README with grouped sections and visual hierarchy
  README.md
Due: quality-check

fix: auto-sync coverage source from .project.yml, convert providers to bullets
  README.md
  dev-tools/package/generate_pyproject.py
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

chore: remove stale tests/sdk/ directory superseded by tests/unit/sdk/
  tests/sdk/test_parameter_mapping.py
  tests/sdk/test_sdk_client.py
  tests/sdk/test_sdk_config.py
  tests/sdk/test_sdk_discovery.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: implement SDK middleware, batch operations, and custom serialization
  src/orb/sdk/__init__.py
  src/orb/sdk/client.py
  src/orb/sdk/discovery.py
  src/orb/sdk/middleware.py
  tests/unit/sdk/test_sdk_batch.py
  tests/unit/sdk/test_sdk_middleware.py
  tests/unit/sdk/test_sdk_serialization.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add typed Protocol for SDK business methods
  src/orb/sdk/__init__.py
  src/orb/sdk/protocols.py
  tests/unit/sdk/test_sdk_protocol.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add moto-based SDK E2E tests and expand quickstart docs
  docs/root/sdk/quickstart.md
  pytest.ini
  tests/onmoto/test_sdk_onmoto.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: use per-client container for region/profile overrides in SDK
  src/orb/sdk/client.py
  tests/unit/sdk/test_sdk_client.py
  tests/unit/sdk/test_sdk_client_isolation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve 4 API consistency bugs across REST and CLI interfaces
  src/orb/api/routers/machines.py
  src/orb/api/routers/requests.py
  src/orb/interface/serve_command_handler.py
  tests/unit/interface/test_cli_handler_execution.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: clean up API layer — snake_case DTOs, remove dead code, accept both key formats
  src/orb/api/handlers/request_return_machines_handler.py
  src/orb/api/models/request_machines.py
  src/orb/api/routers/machines.py
  src/orb/api/routers/templates.py
  src/orb/application/request/dto.py
  src/orb/infrastructure/di/scheduler_services.py
  src/orb/interface/template_command_handlers.py
  tests/integration/api/test_async_request_poll.py
  tests/unit/api/test_api_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: standardize response fields, strengthen E2E tests, add API reference docs
  docs/root/sdk/api-reference.md
  src/orb/api/handlers/get_request_status_handler.py
  src/orb/api/handlers/get_return_requests_handler.py
  tests/onmoto/test_sdk_onmoto.py
  tests/unit/api/test_api_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: move sdk_usage.py to docs/root/examples, wire up examples in docs index
  docs/root/examples/sdk_usage.py
  docs/root/index.md
  docs/root/sdk/quickstart.md
  examples/sdk_usage.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
