Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: correct semantic-release configuration for desired workflow
  pyproject.toml
Due: safety, quality-check

1.1.0
  pyproject.toml
Due: safety, quality-check

fix: remove stale vim file accidentally committed
  :wq!
Due: none

fix: remove stale vim file accidentally committed (#91)
  :wq!
Due: none

1.0.0
  pyproject.toml
Due: safety, quality-check

fix: add missing GitHub permissions for semantic-release
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: add missing GitHub permissions for semantic-release (#92)
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: add releases write permission for GitHub API
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: ensure semantic-release runs on exact workflow commit
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: ensure semantic-release runs on exact workflow commit (#93)
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

1.0.1
  pyproject.toml
Due: safety, quality-check

fix: disable PyPI publishing in semantic-release until OIDC configured
  pyproject.toml
Due: safety, quality-check

fix: ensure wheel and source distributions are uploaded to GitHub releases
  pyproject.toml
Due: safety, quality-check

fix: ensure semantic-release creates v1.0.0 with wheel uploads
  .github/workflows/semantic-release.yml
  .release-notes-templates/RELEASE_NOTES.md.j2
  :wq!
  dev-tools/scripts/generate_pyproject.py
  makefiles/deploy.mk
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows

fix: add git identity configuration to semantic-release workflow
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

feat: use official python-semantic-release GitHub Action
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: complete semantic-release workflow with asset uploads and yq fallbacks
  .github/workflows/semantic-release.yml
  makefiles/common.mk
  pyproject.toml
Due: safety, quality-check, validate-workflows

fix: add .nojekyll to disable Jekyll processing for GitHub Pages
  .nojekyll
Due: none

fix: remove broken src/orb symlink directory
  src/orb/__init__.py
  src/orb/api
  src/orb/application
  src/orb/cli
  src/orb/config
  src/orb/domain
  src/orb/infrastructure
  src/orb/providers
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

release: implement CI/CD fixes and cut v1.0.0
  .github/actions/get-config/action.yml
  .github/workflows/publish.yml
  .github/workflows/semantic-release.yml
  .gitignore
  .nojekyll
  :wq!
  makefiles/common.mk
  makefiles/deploy.mk
  pyproject.toml
  src/orb/__init__.py
  src/orb/api
  src/orb/application
  src/orb/cli
  src/orb/config
  src/orb/domain
  src/orb/infrastructure
  src/orb/providers
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

fix: use make targets for Python versions in container tag calculation
  dev-tools/container/calculate_tags.sh
Due: none

fix: use GitHub App token for semantic-release cross-workflow triggers
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

feat: improve CI/CD workflow reliability and add production pipeline
  .github/workflows/container-build.yml
  .github/workflows/production-release.yml
  .github/workflows/publish.yml
Due: quality-check, validate-workflows

refactor: improve workflow naming and add comprehensive documentation
  .github/workflows/dev-containers.yml
  .github/workflows/dev-publish.yml
  .github/workflows/prod-release.yml
  .github/workflows/semantic-release.yml
  docs/developer_guide/cicd-pipeline.md
Due: quality-check, validate-workflows

docs: update existing documentation for new CI/CD pipeline
  CONTRIBUTING.md
  README.md
  docs/developer_guide/cicd-pipeline.md
  docs/root/developer_guide/releases.md
Due: quality-check

refactor: rename dev-publish to dev-pypi for consistent naming
  .github/workflows/dev-pypi.yml
Due: quality-check, validate-workflows

fix: resolve all workflow issues and clean up obsolete files
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/release-management.yml
  .github/workflows/sbom.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: remove unnecessary changelog validation on main branch pushes
  .github/workflows/changelog.yml
Due: quality-check, validate-workflows

refactor: rename changelog workflow for clarity
  .github/workflows/changelog-validation.yml
Due: quality-check, validate-workflows

fix: add critical path filtering to prevent unnecessary workflow runs
  .github/workflows/dev-containers.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: improve CI/CD workflow efficiency and validation
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/dev-containers.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/docs.yml
  .github/workflows/reusable-security.yml
  .github/workflows/reusable-test.yml
  .github/workflows/security-code.yml
  .github/workflows/semantic-release.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, validate-workflows

fix: add security scanning to release dependencies
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: remove hardcoded Python version from cache-management
  .github/workflows/cache-management.yml
Due: quality-check, validate-workflows

fix: centralize environment variables in shared-config
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/shared-config.yml
Due: quality-check, validate-workflows

fix: standardize action versions to latest stable
  .github/workflows/cache-management.yml
  .github/workflows/ci-tests.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/reusable-test.yml
  .github/workflows/shared-config.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: complete environment variable centralization
  .github/workflows/ci-tests.yml
  .github/workflows/reusable-test.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: improve workflow security and reliability
  .github/workflows/ci-quality.yml
  .github/workflows/docs.yml
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: complete cache standardization and workflow consistency
  .github/workflows/changelog-validation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/dependabot.yml
  .github/workflows/dev-containers.yml
  .github/workflows/semantic-release.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, validate-workflows

fix: add concurrency controls and improve workflow naming
  .github/workflows/changelog-validation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/dependabot.yml
  .github/workflows/dev-containers.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/docs.yml
  .github/workflows/prod-release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows
