Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

refactor: decouple request handlers from ProviderRegistryService via ProviderSelectionPort
  src/application/commands/request_handlers.py
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/__init__.py
  src/domain/base/ports/provider_selection_port.py
  src/infrastructure/adapters/provider_selection_adapter.py
  src/infrastructure/di/port_registrations.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: decouple bootstrap from concrete ConfigurationManager
  src/bootstrap.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: reduce Pyright errors via parallel agent team (wave 4)
  src/application/commands/cleanup_handlers.py
  src/application/commands/system_handlers.py
  src/application/events/handlers/machine_handlers.py
  src/application/queries/bulk_handlers.py
  src/application/services/scheduler_registry_service.py
  src/application/services/storage_registry_service.py
  src/infrastructure/adapters/ports/auth/token_port.py
  src/infrastructure/performance/performance_monitor.py
  src/infrastructure/storage/components/dynamodb_transaction_manager.py
  src/infrastructure/storage/components/transaction_manager.py
  src/infrastructure/storage/sql/strategy.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/managers/aws_resource_manager.py
  src/providers/aws/resilience/aws_retry_errors.py
  src/providers/aws/utilities/aws_operations.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: reduce Pyright errors via parallel agent team (wave 1)
  src/application/commands/machine_handlers.py
  src/application/commands/provider_handlers.py
  src/application/commands/request_handlers.py
  src/application/queries/specialized_handlers.py
  src/application/queries/system_handlers.py
  src/config/schemas/app_schema.py
  src/infrastructure/di/server_services.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/scheduler/registration.py
  src/infrastructure/scheduler/registry.py
  src/infrastructure/storage/components/lock_manager.py
  src/infrastructure/storage/dynamodb/strategy.py
  src/infrastructure/storage/dynamodb/unit_of_work.py
  src/infrastructure/storage/sql/strategy.py
  src/infrastructure/storage/sql/unit_of_work.py
  src/providers/aws/domain/template/aws_template_aggregate.py
  src/providers/aws/infrastructure/adapters/request_adapter.py
  src/providers/base/strategy/__init__.py
  src/providers/base/strategy/composite_strategy.py
  src/providers/base/strategy/fallback_strategy.py
  src/providers/base/strategy/load_balancing/strategy.py
  src/providers/base/strategy/provider_strategy.py
  src/providers/base/strategy/selector_utils.py
  src/providers/registry.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: reduce Pyright errors by 250 (1370 → 1120)
  src/application/base/command_handler.py
  src/application/base/handlers.py
  src/application/events/base/action_event_handler.py
  src/application/events/base/event_handler.py
  src/application/events/base/logging_event_handler.py
  src/application/events/bus/event_bus.py
  src/application/events/handlers/infrastructure_handlers.py
  src/application/events/handlers/template_handlers.py
  src/domain/base/ports/configuration_port.py
  src/domain/base/ports/error_handling_port.py
  src/domain/base/ports/provisioning_orchestration_port.py
  src/domain/base/ports/request_creation_port.py
  src/domain/base/ports/request_status_management_port.py
  src/domain/request/aggregate.py
  src/infrastructure/di/buses.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/storage/dynamodb/strategy.py
  src/infrastructure/storage/dynamodb/unit_of_work.py
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/infrastructure/handlers/fleet_grouping_mixin.py
  src/providers/aws/resilience/aws_retry_strategy.py
  src/providers/base/strategy/composite_strategy.py
  src/providers/base/strategy/fallback_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: reduce Pyright errors via parallel agent team (wave 2)
  src/api/handlers/get_request_status_handler.py
  src/api/routers/templates.py
  src/api/server.py
  src/application/queries/provider_handlers.py
  src/application/request/dto.py
  src/application/services/event_publishing_service.py
  src/bootstrap.py
  src/cli/factories/request_command_factory.py
  src/domain/base/dependency_injection.py
  src/domain/base/events/provider_events.py
  src/domain/base/ports/configuration_port.py
  src/infrastructure/adapters/template_configuration_adapter.py
  src/infrastructure/di/container.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/logging/logger.py
  src/infrastructure/storage/dynamodb/registration.py
  src/infrastructure/storage/json/strategy.py
  src/infrastructure/template/configuration_manager.py
  src/infrastructure/template/template_cache_service.py
  src/infrastructure/template/template_repository_impl.py
  src/infrastructure/utilities/factories/sql_engine_factory.py
  src/interface/request_command_handlers.py
  src/providers/aws/domain/template/value_objects.py
  src/providers/aws/infrastructure/adapters/template_adapter.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/managers/aws_resource_manager.py
  src/providers/factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: migrate TestStorageCommand and MCPValidateCommand to query handlers
  src/application/commands/system.py
  src/application/commands/system_handlers.py.bak3
  src/application/queries/system_handlers.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/factories/system_command_factory.py
  src/interface/storage_command_handlers.py
  typings/application/dto/base.pyi
  typings/application/dto/queries.pyi
  typings/application/interfaces/command_handler.pyi
  typings/application/interfaces/command_query.pyi
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: migrate ValidateTemplateCommand to ValidateTemplateQuery (CQRS Phase 2)
  src/application/commands/template_handlers.py
  src/application/template/__init__.py
  src/application/template/commands.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/factories/template_command_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: reduce Pyright errors via parallel agent team (wave 3)
  src/api/handlers/get_return_requests_handler.py
  src/api/handlers/request_return_machines_handler.py
  src/application/events/handlers/infrastructure_handlers.py
  src/application/events/handlers/request_handlers.py
  src/application/events/handlers/template_handlers.py
  src/application/machine/dto.py
  src/application/services/template_defaults_service.py
  src/application/services/template_generation_service.py
  src/cli/factories/system_command_factory.py
  src/config/installation_detector.py
  src/config/schemas/performance_schema.py
  src/domain/machine/aggregate.py
  src/domain/request/aggregate.py
  src/infrastructure/adapters/cache_adapter.py
  src/infrastructure/auth/token_blacklist/redis_blacklist.py
  src/infrastructure/error/exception_handler.py
  src/infrastructure/error/utilities.py
  src/infrastructure/storage/components/dynamodb_client_manager.py
  src/infrastructure/storage/components/sql_connection_manager.py
  src/infrastructure/storage/json/strategy.py
  src/infrastructure/storage/json/unit_of_work.py
  src/infrastructure/storage/registry.py
  src/infrastructure/storage/repository_migrator.py
  src/infrastructure/storage/sql/registration.py
  src/infrastructure/template/services/template_storage_service.py
  src/interface/storage_command_handlers.py
  src/interface/template_command_handlers.py
  src/providers/aws/configuration/config.py
  src/providers/aws/domain/machine/value_objects.py
  src/providers/aws/domain/template/value_objects.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/template/ami_cache.py
  src/providers/aws/registration.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: complete CQRS migration + add pagination to list endpoints
  src/application/dto/base.py
  src/application/dto/paginated_responses.py
  src/application/dto/queries.py
  src/application/queries/handlers.py
  src/cli/factories/machine_command_factory.py
  src/cli/factories/request_command_factory.py
  tests/unit/application/queries/test_pagination.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: reduce Pyright errors via parallel agent team (wave 5)
  src/api/handlers/get_available_templates_handler.py
  src/api/handlers/request_machines_handler.py
  src/application/base/provider_handlers.py
  src/application/decorators.py
  src/application/events/handlers/system_handlers.py
  src/application/services/request_status_management_service.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/factories/provider_command_factory.py
  src/config/schemas/common_schema.py
  src/config/schemas/storage_schema.py
  src/config/validators/config_validator.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/adapters/ports/auth/token_port.py
  src/infrastructure/adapters/template_configuration_adapter.py
  src/infrastructure/caching/request_cache_service.py
  src/infrastructure/di/handler_discovery.py
  src/infrastructure/storage/base/repository.py
  src/infrastructure/storage/base/strategy.py
  src/infrastructure/storage/components/sql_serializer.py
  src/infrastructure/storage/concurrency.py
  src/infrastructure/storage/json/registration.py
  src/infrastructure/storage/metrics_decorators.py
  src/infrastructure/storage/repositories/machine_repository.py
  src/infrastructure/storage/repositories/request_repository.py
  src/infrastructure/storage/repositories/template_repository.py
  src/infrastructure/storage/sql/models.py
  src/infrastructure/validation/startup_validator.py
  src/interface/health_command_handler.py
  src/interface/scheduler_command_handlers.py
  src/interface/serve_command_handler.py
  src/monitoring/health.py
  src/providers/aws/application/events/aws_handlers.py
  src/providers/aws/domain/request/value_objects.py
  src/providers/aws/infrastructure/adapters/aws_validation_adapter.py
  src/providers/aws/infrastructure/adapters/resource_manager_adapter.py
  src/providers/aws/infrastructure/dry_run_adapter.py
  src/providers/aws/managers/aws_resource_manager.py
  src/providers/aws/utilities/aws_operations.py
  src/sdk/client.py
  src/sdk/discovery.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve Pyright type errors from CQRS migration and pagination
  pyrightconfig.json
  src/application/base/handlers.py
  src/application/commands/template_handlers.py
  src/application/dto/paginated_responses.py
  src/application/ports/cache_service_port.py
  src/application/queries/handlers.py
  src/cli/factories/template_command_factory.py
  src/domain/base/domain_interfaces.py
  src/domain/base/ports/container_port.py
  src/domain/base/ports/template_configuration_port.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: skip tests for removed ProviderContext and ProviderCapabilityService modules
  tests/providers/base/strategy/test_provider_context_integration.py
  tests/test_logging_fixes.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: reduce Pyright errors via parallel agent team (wave 6)
  src/application/events/decorators.py
  src/application/queries/storage_handlers.py
  src/application/services/deprovisioning_orchestrator.py
  src/application/services/machine_sync_service.py
  src/cli/formatters.py
  src/cli/main.py
  src/cli/response_formatter.py
  src/config/managers/configuration_manager.py
  src/config/managers/provider_manager.py
  src/config/schemas/provider_strategy_schema.py
  src/config/schemas/server_schema.py
  src/domain/base/events/system_events.py
  src/domain/services/template_validation_domain_service.py
  src/infrastructure/auth/registry.py
  src/infrastructure/di/components/dependency_resolver.py
  src/infrastructure/di/decorators.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/di/registry_services.py
  src/infrastructure/error/error_middleware.py
  src/infrastructure/events/__init__.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/storage/components/dynamodb_converter.py
  src/interface/init_command_handler.py
  src/interface/machine_command_handlers.py
  src/interface/provider_config_handler.py
  src/monitoring/metrics.py
  src/providers/aws/configuration/template_extension.py
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/infrastructure/services/aws_native_spec_service.py
  src/providers/aws/services/ec2_fleet_configuration_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: additional test collection fixes for botocore metrics and handlers
  tests/providers/aws/test_botocore_metrics.py
  tests/unit/infrastructure/test_unified_base_registry.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

test: fix all 24 test collection errors - comprehensive test suite fixes
  tests/integration/test_refactored_template_system.py
  tests/performance/test_lazy_loading_performance.py
  tests/providers/aws/test_botocore_metrics.py
  tests/providers/base/strategy/test_provider_context.py
  tests/providers/base/strategy/test_provider_context_edge_cases.py
  tests/test_provider_strategy_examples.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/application/services/test_provider_capability_service.py
  tests/unit/application/services/test_provider_selection_service.py
  tests/unit/application/test_request_handlers_partial.py
  tests/unit/domain/base/test_exceptions.py
  tests/unit/infrastructure/persistence/test_json_strategy_metrics.py
  tests/unit/infrastructure/scheduler/test_symphony_hostfactory_strategy.py
  tests/unit/infrastructure/test_base_registry.py
  tests/unit/infrastructure/test_multi_instance_provider_support.py
  tests/unit/infrastructure/test_provider_registry.py
  tests/unit/infrastructure/test_storage_registration.py
  tests/unit/infrastructure/test_storage_registry.py
  tests/unit/infrastructure/test_storage_registry_integration.py
  tests/unit/infrastructure/test_unified_base_registry.py
  tests/unit/providers/test_aws_handlers.py
  tests/unit/test_performance_benchmarks.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: message bus fixes, Azure/GCP removal, agent skills, knowledge index (yxlj+imz8+pb10+ruhn)
  src/application/events/base/event_handler.py
  src/application/events/bus/event_bus.py
  src/application/ports/query_bus_port.py
  src/domain/constants.py
  src/infrastructure/di/buses.py
  tests/integration/test_security_features.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add fleet_role to provider instance template_defaults
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/infrastructure_command_handler.py
  src/providers/aws/services/infrastructure_discovery_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: class naming, dead code removal, duplication elimination (0bxa+x1bi+6sm0)
  src/application/services/provider_name_service.py
  src/application/services/template_defaults_service.py
  src/application/services/template_generation_service.py
  src/domain/machine/machine_metadata.py
  src/domain/machine/value_objects.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/utilities/__init__.py
  src/infrastructure/utilities/common/string_utils.py
  src/providers/registry/provider_registry.py
  tests/test_import_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: complete P0 tasks - camelCase API, stub endpoints, security tests, E2E tests
  src/api/models/base.py
  src/api/routers/machines.py
  src/api/routers/templates.py
  src/application/dto/base.py
  src/application/request/dto.py
  src/interface/mcp/server/core.py
  src/interface/system_command_handlers.py
  tests/e2e/test_critical_path_e2e.py
  tests/integration/test_security_features.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve all 24 Pyright warnings - 0 errors, 0 warnings
  src/application/ports/command_bus_port.py
  src/application/ports/query_bus_port.py
  src/domain/__init__.py
  src/domain/base/__init__.py
  src/infrastructure/di/buses.py
  src/infrastructure/storage/components/entity_cache.py
  src/infrastructure/storage/concurrency.py
  src/monitoring/health.py
  src/providers/aws/infrastructure/handlers/__init__.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: DI simplification, code quality automation, naming conventions, duplication elimination (1zp7.4+wmqn+llll+krbg.4)
  Makefile
  makefiles/ci.mk
  makefiles/quality.mk
  pyproject.toml
  src/infrastructure/di/__init__.py
  src/infrastructure/di/buses.py
  src/infrastructure/di/container.py
  src/infrastructure/di/domain_services.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/di/lazy_config.py
  src/infrastructure/di/services.py
  src/infrastructure/storage/repositories/machine_repository.py
  src/infrastructure/storage/repositories/request_repository.py
  src/infrastructure/storage/repositories/template_repository.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

feat: exception types, test coverage, variable naming, error propagation
  src/application/commands/machine_handlers.py
  src/application/commands/request_creation_handlers.py
  src/domain/machine/aggregate.py
  src/domain/machine/machine_metadata.py
  src/domain/request/aggregate.py
  src/domain/services/filter_service.py
  src/domain/services/template_validation_domain_service.py
  src/domain/template/template_aggregate.py
  tests/unit/application/services/test_request_creation_service.py
  tests/unit/application/services/test_request_status_management_service.py
  tests/unit/domain/test_filter_service.py
  tests/unit/domain/test_request_identifiers.py
  tests/unit/domain/test_request_metadata.py
  tests/unit/domain/test_request_types.py
  tests/unit/domain/test_template_validation_domain_service.py
  tests/unit/domain/test_value_objects_pure.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: improve type correctness in bus ports and concurrency control
  src/infrastructure/di/buses.py
  src/infrastructure/storage/concurrency.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace TemplateDTOPort with Any in BulkTemplateResponse
  src/application/dto/bulk_responses.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add provider_override param to DefaultSchedulerStrategy.load_templates_from_path
  src/infrastructure/scheduler/default/default_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: SOLID, domain purity, code duplication, bounded context fixes
  src/application/commands/request_creation_handlers.py
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/__init__.py
  src/domain/base/ports/configuration_port.py
  src/domain/base/ports/provider_config_port.py
  src/domain/base/ports/provider_provisioning_port.py
  src/domain/base/ports/provider_selection_port.py
  src/domain/base/ports/provider_template_port.py
  src/domain/base/value_objects.py
  src/domain/base/value_objects_pure.py
  src/domain/machine/machine_identifiers.py
  src/domain/request/request_identifiers.py
  src/domain/request/request_metadata.py
  src/domain/request/request_types.py
  src/domain/services/template_validation_domain_service.py
  src/infrastructure/di/port_registrations.py
  src/infrastructure/storage/base/__init__.py
  src/infrastructure/storage/base/repository_mixin.py
  src/infrastructure/storage/repositories/machine_repository.py
  src/infrastructure/storage/repositories/request_repository.py
  src/infrastructure/storage/repositories/template_repository.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: complete P1 tasks - network timeouts, debug cleanup, handler split
  src/application/commands/request_creation_handlers.py
  src/application/commands/request_handlers.py
  src/application/commands/request_lifecycle_handlers.py
  src/application/commands/request_sync_handlers.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/storage/components/dynamodb_client_manager.py
  src/infrastructure/storage/dynamodb/registration.py
  src/infrastructure/validation/secure_input.py
  src/infrastructure/validation/startup_validator.py
  src/monitoring/health.py
  src/providers/aws/auth/cognito_strategy.py
  src/providers/aws/auth/iam_strategy.py
  src/providers/aws/domain/services/ami_resolver.py
  src/providers/aws/services/infrastructure_discovery_service.py
  src/providers/aws/session_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: code quality improvements - file splits, domain purity, exception handling
  src/application/services/provider_name_service.py
  src/cli/args.py
  src/cli/main.py
  src/cli/router.py
  src/domain/base/ports/configuration_port.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/di/services.py
  src/interface/infrastructure_command_handler.py
  src/providers/registry/__init__.py
  src/providers/registry/provider_registry.py
  src/providers/registry/types.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add --subnet-ids, --security-group-ids, --fleet-role flags to orb init
  src/cli/args.py
  src/interface/init_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: fix CLI commands - add storage show, clarify --provider flag (bbl+r7x)
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: commit pre-existing source and doc changes
  ANALYSIS_STORAGE_EVENTS_REGRESSION.md
  ANALYSIS_SUMMARY.txt
  EXECUTIVE_SUMMARY_STORAGE_EVENTS.md
  IMPLEMENTATION_GUIDE_STORAGE_EVENTS.md
  ISP_REFACTORING_SUMMARY.md
  ISP_VERIFICATION_REPORT.md
  QUICK_REFERENCE_DOMAIN_VS_INFRASTRUCTURE_EVENTS.md
  README.md
  README_REGRESSION_ANALYSIS.md
  REGRESSION_1_COMPLETE_ANALYSIS.md
  REGRESSION_1_FILE_INDEX.md
  REGRESSION_3_ANALYSIS.md
  SDK_PARAMETER_MAPPING_SUMMARY.md
  SECURITY_SPRINT_SUMMARY.md
  config/aws_templates.json
  docs/root/cli/cli-reference.md
  docs/root/cli/infrastructure-commands.md
  docs/root/getting_started/quick_start.md
  hfmock.py
  pyproject.toml
  scripts/invoke_provider.sh
  src/api/middleware/auth_middleware.py
  src/api/server.py
  src/cli/args.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/formatters.py
  src/cli/router.py
  src/infrastructure/auth/registry.py
  src/infrastructure/caching/request_cache_service.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/mcp/server/core.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

chore: add tracked git hooks with ruff autoformat and beads integration
  scripts/hooks/pre-commit
  scripts/install-hooks.sh
Due: none

chore: update install-hooks.sh to reference dev-tools/scripts/hooks
  dev-tools/setup/install-hooks.sh
Due: none

fix: make get_scripts_location() scheduler-strategy-aware
  hfmock.py
  src/application/commands/system_handlers.py
  src/application/commands/template_handlers.py
  src/config/installation_detector.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  tests/infrastructure/scheduler/base/test_strategy.py
  tests/integration/test_hostfactory_lifecycle.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: move scripts/hooks to dev-tools/scripts/hooks
  dev-tools/scripts/hooks/pre-commit
Due: none

feat: make get_scripts_location() scheduler-strategy-aware
  hfmock.py
  src/config/installation_detector.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
