Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

chore: move install-hooks.sh to dev-tools/setup
  dev-tools/setup/install-hooks.sh
Due: none

feat: move HF scripts to hostfactory dir and update pyproject.toml packaging
  pyproject.toml
  src/infrastructure/scheduler/hostfactory/scripts/getAvailableTemplates.bat
  src/infrastructure/scheduler/hostfactory/scripts/getAvailableTemplates.sh
  src/infrastructure/scheduler/hostfactory/scripts/getRequestStatus.bat
  src/infrastructure/scheduler/hostfactory/scripts/getRequestStatus.sh
  src/infrastructure/scheduler/hostfactory/scripts/getReturnRequests.bat
  src/infrastructure/scheduler/hostfactory/scripts/getReturnRequests.sh
  src/infrastructure/scheduler/hostfactory/scripts/invoke_provider.bat
  src/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
  src/infrastructure/scheduler/hostfactory/scripts/requestMachines.bat
  src/infrastructure/scheduler/hostfactory/scripts/requestMachines.sh
  src/infrastructure/scheduler/hostfactory/scripts/requestReturnMachines.bat
  src/infrastructure/scheduler/hostfactory/scripts/requestReturnMachines.sh
  src/infrastructure/scheduler/hostfactory/scripts/templateWizard.bat
  src/infrastructure/scheduler/hostfactory/scripts/templateWizard.sh
Due: safety, quality-check

chore: update install-hooks.sh to reference dev-tools/scripts/hooks
  dev-tools/setup/install-hooks.sh
Due: none

chore: add tracked git hooks with ruff autoformat and beads integration
  scripts/hooks/pre-commit
  scripts/install-hooks.sh
Due: none

fix: update invoke_provider.sh PROJECT_ROOT to account for new scripts depth
  src/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
Due: none

feat: make get_scripts_location() scheduler-strategy-aware
  tests/infrastructure/scheduler/base/test_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: unwrap HF JSON envelope in request handler
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add -f/--file and -d/--data flags to subcommands via add_global_arguments
  src/cli/args.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: broaden handle_get_request_status return type to include list
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: orb init improvements and HF machine formatting consolidation
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/init_command_handler.py
  src/providers/aws/services/infrastructure_discovery_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add HF attributes object and fix REST API response wrapper fields
  src/api/routers/machines.py
  src/api/routers/templates.py
  src/application/request/dto.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: serialize instanceTags dict to JSON string per HF schema requirement
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: reserve orb: tag namespace on all AWS resources
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/infrastructure/tags.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: implement orb: reserved tag namespace on all AWS resources (826, 827)
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/infrastructure/tags.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: correct README config examples and fix docs (788, 792)
  README.md
  tests/unit/providers/aws/test_launch_template_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct README config examples and documentation
  README.md
  tests/unit/providers/aws/test_launch_template_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: onaws test bugs and remove request_id alias from HF router response
  src/api/routers/machines.py
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/onaws/test_rest_api_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: rewrite and modernise user-facing documentation
  docs/root/cli/cli-reference.md
  docs/root/user_guide/api_reference.md
  docs/root/user_guide/infrastructure-commands.md
  docs/root/user_guide/installation.md
Due: quality-check

docs: rewrite and modernize user-facing documentation (789, 793, 794, 795)
  docs/root/cli/cli-reference.md
  docs/root/user_guide/api_reference.md
  docs/root/user_guide/infrastructure-commands.md
  docs/root/user_guide/installation.md
Due: quality-check

fix: add onaws conftest.py - auto-create logs/ dir and add repo root to sys.path
  tests/onaws/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: serialize instanceTags dict to string in format_templates_response
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use pre-generated request_id in REST handler (CQRS command returns None)
  src/api/handlers/request_machines_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: test isolation - unique dirs, yield+cleanup, per-test logs
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: RequestMachinesResponse.to_dict() returns snake_case for default scheduler
  src/application/request/dto.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Revert "fix: RequestMachinesResponse.to_dict() returns snake_case for default scheduler"
  src/application/request/dto.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(830): remove orphaned RequestMachinesResponse from api/models
  src/api/models/request_machines.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(829): remove void CQRS return value usage in templates router
  src/api/routers/templates.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(828,831): generate request_id before void CQRS command execution
  src/api/handlers/request_return_machines_handler.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove wrong provider_api_map from resolve_template_id
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(832): remove scheduler-specific envelope unwrapping from CLI handler
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(833): set ORB_CONFIG_DIR in onaws test fixtures
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports
