Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

feat: SOLID, domain purity, code duplication, bounded context fixes
  src/application/commands/request_creation_handlers.py
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/__init__.py
  src/domain/base/ports/configuration_port.py
  src/domain/base/ports/provider_config_port.py
  src/domain/base/ports/provider_provisioning_port.py
  src/domain/base/ports/provider_selection_port.py
  src/domain/base/ports/provider_template_port.py
  src/domain/base/value_objects.py
  src/domain/base/value_objects_pure.py
  src/domain/machine/machine_identifiers.py
  src/domain/request/request_identifiers.py
  src/domain/request/request_metadata.py
  src/domain/request/request_types.py
  src/domain/services/template_validation_domain_service.py
  src/infrastructure/di/port_registrations.py
  src/infrastructure/storage/base/__init__.py
  src/infrastructure/storage/base/repository_mixin.py
  src/infrastructure/storage/repositories/machine_repository.py
  src/infrastructure/storage/repositories/request_repository.py
  src/infrastructure/storage/repositories/template_repository.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: exception types, test coverage, variable naming, error propagation
  src/application/commands/machine_handlers.py
  src/application/commands/request_creation_handlers.py
  src/domain/machine/aggregate.py
  src/domain/machine/machine_metadata.py
  src/domain/request/aggregate.py
  src/domain/services/filter_service.py
  src/domain/services/template_validation_domain_service.py
  src/domain/template/template_aggregate.py
  tests/unit/application/services/test_request_creation_service.py
  tests/unit/application/services/test_request_status_management_service.py
  tests/unit/domain/test_filter_service.py
  tests/unit/domain/test_request_identifiers.py
  tests/unit/domain/test_request_metadata.py
  tests/unit/domain/test_request_types.py
  tests/unit/domain/test_template_validation_domain_service.py
  tests/unit/domain/test_value_objects_pure.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: class naming, dead code removal, duplication elimination (0bxa+x1bi+6sm0)
  src/application/services/provider_name_service.py
  src/application/services/template_defaults_service.py
  src/application/services/template_generation_service.py
  src/domain/machine/machine_metadata.py
  src/domain/machine/value_objects.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/utilities/__init__.py
  src/infrastructure/utilities/common/string_utils.py
  src/providers/registry/provider_registry.py
  tests/test_import_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: standardise class naming, remove dead code, eliminate duplication
  src/application/services/provider_name_service.py
  src/application/services/template_defaults_service.py
  src/application/services/template_generation_service.py
  src/domain/machine/machine_metadata.py
  src/domain/machine/value_objects.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/utilities/__init__.py
  src/infrastructure/utilities/common/string_utils.py
  src/providers/registry/provider_registry.py
  tests/test_import_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: message bus fixes, Azure/GCP removal, agent skills, knowledge index (yxlj+imz8+pb10+ruhn)
  src/application/events/base/event_handler.py
  src/application/events/bus/event_bus.py
  src/application/ports/query_bus_port.py
  src/domain/constants.py
  src/infrastructure/di/buses.py
  tests/integration/test_security_features.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: message bus wiring, remove Azure/GCP references
  src/application/events/base/event_handler.py
  src/application/events/bus/event_bus.py
  src/application/ports/query_bus_port.py
  src/domain/constants.py
  src/infrastructure/di/buses.py
  tests/integration/test_security_features.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: DI simplification, code quality automation, naming conventions, duplication elimination (1zp7.4+wmqn+llll+krbg.4)
  Makefile
  makefiles/ci.mk
  makefiles/quality.mk
  pyproject.toml
  src/infrastructure/di/__init__.py
  src/infrastructure/di/buses.py
  src/infrastructure/di/container.py
  src/infrastructure/di/domain_services.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/di/lazy_config.py
  src/infrastructure/di/services.py
  src/infrastructure/storage/repositories/machine_repository.py
  src/infrastructure/storage/repositories/request_repository.py
  src/infrastructure/storage/repositories/template_repository.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: incorrect subnet validation in tests when more than 1 subnets are possible
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve all 24 Pyright warnings - 0 errors, 0 warnings
  src/application/ports/command_bus_port.py
  src/application/ports/query_bus_port.py
  src/domain/__init__.py
  src/domain/base/__init__.py
  src/infrastructure/di/buses.py
  src/infrastructure/storage/components/entity_cache.py
  src/infrastructure/storage/concurrency.py
  src/monitoring/health.py
  src/providers/aws/infrastructure/handlers/__init__.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: improve type correctness in bus ports and concurrency control
  src/infrastructure/di/buses.py
  src/infrastructure/storage/concurrency.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace TemplateDTOPort with Any in BulkTemplateResponse
  src/application/dto/bulk_responses.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add fleet_role to provider instance template_defaults
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/infrastructure_command_handler.py
  src/providers/aws/services/infrastructure_discovery_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add provider_override param to DefaultSchedulerStrategy.load_templates_from_path
  src/infrastructure/scheduler/default/default_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add --subnet-ids, --security-group-ids, --fleet-role flags to orb init
  src/cli/args.py
  src/interface/init_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: updating onaws tests for the new template formats
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/config_templates/config.base.json
  tests/onaws/config_templates/default_config.base.json
  tests/onaws/config_templates/templates.base.json
  tests/onaws/scenarios.py
  tests/onaws/scenarios_rest_api.py
  tests/onaws/template_processor.py
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/onaws/test_onaws.py
  tests/onaws/test_rest_api_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: response formatter receives formatted json instead of DTO
  src/cli/response_formatter.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: commit pre-existing source and doc changes
  ANALYSIS_STORAGE_EVENTS_REGRESSION.md
  ANALYSIS_SUMMARY.txt
  EXECUTIVE_SUMMARY_STORAGE_EVENTS.md
  IMPLEMENTATION_GUIDE_STORAGE_EVENTS.md
  ISP_REFACTORING_SUMMARY.md
  ISP_VERIFICATION_REPORT.md
  QUICK_REFERENCE_DOMAIN_VS_INFRASTRUCTURE_EVENTS.md
  README.md
  README_REGRESSION_ANALYSIS.md
  REGRESSION_1_COMPLETE_ANALYSIS.md
  REGRESSION_1_FILE_INDEX.md
  REGRESSION_3_ANALYSIS.md
  SDK_PARAMETER_MAPPING_SUMMARY.md
  SECURITY_SPRINT_SUMMARY.md
  config/aws_templates.json
  docs/root/cli/cli-reference.md
  docs/root/cli/infrastructure-commands.md
  docs/root/getting_started/quick_start.md
  hfmock.py
  pyproject.toml
  scripts/invoke_provider.sh
  src/api/middleware/auth_middleware.py
  src/api/server.py
  src/cli/args.py
  src/cli/factories/cli_command_factory_orchestrator.py
  src/cli/formatters.py
  src/cli/router.py
  src/infrastructure/auth/registry.py
  src/infrastructure/caching/request_cache_service.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/mcp/server/core.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

refactor: fix strategy and factory pattern violations (6qag, dq42)
  src/providers/base/strategy/provider_selector.py
  src/providers/base/strategy/selector_utils.py
  src/providers/config_builder.py
  src/providers/config_validator.py
  src/providers/factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve type errors from storage events migration
  src/domain/base/ports/storage_port.py
  src/infrastructure/events/storage_events.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: add ISP verification report from parallel execution
  ISP_VERIFICATION_REPORT.md
Due: quality-check

feat: complete Round 2 parallel execution - CQRS, architecture, patterns
  src/application/base/handlers.py
  src/application/commands/cleanup_handlers.py
  src/application/commands/request_handlers.py
  src/application/dto/base.py
  src/application/dto/commands.py
  src/application/dto/queries.py
  src/application/queries/__init__.py
  src/application/queries/cleanup_query_handlers.py
  src/application/queries/system_handlers.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/adapters/__init__.py
  src/infrastructure/adapters/cache_adapter.py
  src/infrastructure/adapters/provider_strategy_adapter.py
  src/infrastructure/adapters/storage_adapter.py
  src/providers/aws/domain/services/ami_resolver.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: add explicit gitignore rules for Claude Code session files
  .gitignore
Due: none

fix: resolve Phase 3 type and import errors
  src/application/services/provider_registry_service.py
  src/infrastructure/adapters/provider_selection_adapter.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: complete parallel sprint execution - infrastructure, domain purity, security
  .claude/hooks/on-file-write.sh
  .codex/rules/ubs.md
  .gemini/rules
  ANALYSIS_STORAGE_EVENTS_REGRESSION.md
  ANALYSIS_SUMMARY.txt
  EXECUTIVE_SUMMARY_STORAGE_EVENTS.md
  IMPLEMENTATION_GUIDE_STORAGE_EVENTS.md
  QUICK_REFERENCE_DOMAIN_VS_INFRASTRUCTURE_EVENTS.md
  README_REGRESSION_ANALYSIS.md
  REGRESSION_1_COMPLETE_ANALYSIS.md
  REGRESSION_1_FILE_INDEX.md
  REGRESSION_3_ANALYSIS.md
  SECURITY.md
  SECURITY_SPRINT_SUMMARY.md
  docs/adr/003-pydantic-in-domain-layer.md
  src/api/middleware/auth_middleware_enhanced.py
  src/api/server.py
  src/domain/base/domain_exceptions.py
  src/domain/base/entity_pure.py
  src/domain/base/events/base_events_pure.py
  src/domain/base/value_objects_pure.py
  src/infrastructure/auth/strategy/bearer_token_strategy_enhanced.py
  src/infrastructure/auth/token_blacklist/__init__.py
  src/infrastructure/auth/token_blacklist/blacklist_port.py
  src/infrastructure/auth/token_blacklist/in_memory_blacklist.py
  src/infrastructure/auth/token_blacklist/redis_blacklist.py
  src/infrastructure/validation/__init__.py
  src/infrastructure/validation/input_validator.py
  src/infrastructure/validation/secure_input.py
  tests/unit/infrastructure/auth/test_token_blacklist.py
  tests/unit/infrastructure/validation/test_input_validator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(architecture): move storage events from domain to infrastructure layer
  src/domain/base/events/__init__.py
  src/infrastructure/events/__init__.py
  src/infrastructure/events/storage_events.py
  src/infrastructure/storage/repositories/request_repository.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve Phase 3 type and import errors
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/ports/provider_selection_port.py
  src/infrastructure/adapters/provider_selection_adapter.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: remove unused Optional imports from provider services
  src/application/services/provider_registry_service.py
  src/infrastructure/adapters/provider_selection_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: complete CQRS handler fixes - 12 handlers now return void
  src/application/commands/cleanup_handlers.py
  src/application/commands/provider_handlers.py
  src/application/commands/system.py
  src/application/commands/system_handlers.py
  src/application/commands/template_handlers.py
  src/application/provider/commands.py
  src/application/template/commands.py
  src/interface/storage_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
