Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

style: fix formatting in ci_check.py
  dev-tools/scripts/ci_check.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

security: remove comment triggers to eliminate TOCTOU RCE vulnerability
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: quality-check, validate-workflows

security: pin external actions to specific versions
  .github/workflows/reusable-security.yml
  .github/workflows/security.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, validate-workflows

security: add GitHub Script input validation and fix workflow syntax
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
Due: quality-check, validate-workflows

fix: remove empty if statements causing workflow validation failures
  .github/workflows/container.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: quality-check, validate-workflows

fix: correct version to 0.1.0rc0 to match latest release
  .project.yml
Due: quality-check

fix: enable PEP 440 compliant alpha promotion from RC versions
  dev-tools/release/promote_manager.sh
Due: none

fix: resolve hanging issue in promote_manager.sh
  dev-tools/release/promote_manager.sh
Due: none

fix: comprehensive workflow and documentation improvements
  .github/workflows/publish.yml
  Makefile
  SECURITY.md
  docs/root/developer_guide/releases.md
  makefiles/changelog.mk
  makefiles/ci.mk
  makefiles/common.mk
  makefiles/deploy.mk
  makefiles/dev.mk
  makefiles/quality.mk
Due: quality-check, validate-workflows

feat: implement selective pyproject.toml templating
  .github/dependabot.yml
  .gitignore
  dev-tools/scripts/generate_pyproject.py
  makefiles/dev.mk
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

feat: add tomli dependency for pyproject.toml parsing
  pyproject.toml
Due: safety, quality-check

fix: complete selective templating implementation
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/reusable-security.yml
  .github/workflows/reusable-test.yml
  .github/workflows/security.yml
  .github/workflows/validate-workflows.yml
  makefiles/dev.mk
  pyproject.toml.template
Due: quality-check, validate-workflows

fix: complete dependabot and UV integration
  .github/actions/setup-python-uv/action.yml
  .github/dependabot.yml
  uv.lock
Due: quality-check

fix: simplify dependabot workflow for selective templating
  .github/workflows/dependabot.yml
Due: quality-check, validate-workflows

clean: remove implementation comments from dependabot config
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: quality-check, validate-workflows

feat: add automatic and manual release workflows
  .github/workflows/auto-release-stable.yml
  .github/workflows/manual-promote.yml
Due: quality-check, validate-workflows

fix: resolve get-config action failures
  .github/actions/get-config/action.yml
Due: quality-check

fix: complete get-config action using yq directly
  .github/actions/get-config/action.yml
Due: quality-check

fix: implement proper mypy templating and resolve ruff issues
  dev-tools/scripts/generate_pyproject.py
  dev-tools/testing/run_tests.py
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: remove pyproject.toml from clean target
  dev-tools/scripts/generate_pyproject.py
  makefiles/dev.mk
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve ruff F401 and F841 errors in generate_pyproject.py
  dev-tools/scripts/generate_pyproject.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: container test failing to find local images in PR builds
  .github/workflows/container.yml
Due: quality-check, validate-workflows

fix: add --load flag to container-build-single for local testing
  makefiles/deploy.mk
Due: none

fix: include Python version in container tag for matrix builds
  makefiles/deploy.mk
Due: none

fix: always require Python version in container tags
  makefiles/deploy.mk
Due: none

release: update version to 0.1.0 for stable release
  .project.yml
Due: quality-check

fix: implement intelligent version detection based on last successful release
  .github/actions/get-config/action.yml
Due: quality-check

fix: resolve shellcheck issues in container workflow
  .github/workflows/container.yml
Due: quality-check, validate-workflows

fix: remove emojis from container workflow to meet professional quality standards
  .github/workflows/container.yml
Due: quality-check, validate-workflows

fix: add resilience to container manifest creation
  .github/workflows/container.yml
Due: quality-check, validate-workflows

fix: use is-release output for environment selection instead of event type
  .github/workflows/publish.yml
Due: quality-check, validate-workflows

fix: use changelog manager for release notes generation
  makefiles/changelog.mk
Due: none

fix: make changelog_manager.py executable
  dev-tools/release/changelog_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: use simple release notes generation without git-changelog dependency
  makefiles/changelog.mk
Due: none

fix: properly redirect release_notes.sh output to expected file
  makefiles/changelog.mk
Due: none

fix: resolve circular dependency in scheduler strategy configuration
  src/config/managers/configuration_manager.py
  src/infrastructure/scheduler/hostfactory/strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: implement integrated release system with semantic-release
  .github/workflows/auto-release-alpha.yml
  .github/workflows/auto-release-beta.yml
  .github/workflows/auto-release-stable.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/manual-promote.yml
  .github/workflows/process-beta-trigger.yml
  .github/workflows/process-rc-approval.yml
  .github/workflows/publish.yml
  .github/workflows/release-management.yml
  .github/workflows/semantic-release.yml
  README.md
  dev-tools/integrated/release_orchestrator.sh
  dev-tools/integrated/unified_publisher.sh
  dev-tools/package/version_bump.sh
  dev-tools/release/changelog_manager.py
  dev-tools/release/create_changelog_pr.sh
  dev-tools/release/dry_run_release.sh
  dev-tools/release/promote_manager.sh
  dev-tools/release/release_creator.sh
  dev-tools/release/release_notes.sh
  dev-tools/release/update_release_notes.sh
  dev-tools/release/version_manager.sh
  makefiles/changelog.mk
  makefiles/deploy.mk
  pyproject.toml
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows

fix: comprehensive release system improvements
  .github/workflows/release-management.yml
  .github/workflows/semantic-release.yml
  dev-tools/integrated/release_orchestrator.sh
  dev-tools/integrated/unified_publisher.sh
  dev-tools/release/orchestrator.sh
  dev-tools/release/publisher.sh
  makefiles/deploy.mk
  pyproject.toml
Due: safety, quality-check, validate-workflows

fix: remove unused unified publisher input from container workflow
  .github/workflows/container.yml
Due: quality-check, validate-workflows

fix: move scheduler directory logic from config manager to scheduler strategies
  src/config/managers/configuration_manager.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/scheduler/default/strategy.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/ohfp/config/managers/configuration_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
