Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: pass request_type through machine status formatter for return requests
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: return request status transitions to complete when instances terminate
  src/application/services/request_status_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add --force flag to orb machines return for stuck terminations
  src/application/commands/request_creation_handlers.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: rename force cancel helper and improve wording
  src/application/commands/request_creation_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add --force flag to hfmock requestReturnMachines
  hfmock.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: route unknown flags to command_args in invoke_provider.sh
  src/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
Due: none

fix: correct return request sync and status reporting
  src/application/commands/request_creation_handlers.py
  src/application/services/machine_sync_service.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: map RequestStatus.COMPLETED value 'complete' to HF 'complete' status
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: remove stale TODO comments and dead 'completed' status alias
  src/domain/request/request_types.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: fleet/ASG handler correctness fixes
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: treat InvalidInstanceID.NotFound as idempotent success in terminate
  src/providers/aws/infrastructure/adapters/request_adapter.py
  src/providers/aws/utilities/aws_operations.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: remove dead code blocks and unconditional sleep from AWS handlers
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: invoke_provider.sh — extract only -f <file>, pass everything else verbatim
  src/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
Due: none

fix: template_processor scheduler_type param + hfmock default scheduler orb CLI routing
  hfmock.py
  tests/onaws/template_processor.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add ASG and SpotFleet branches to describe_resource_instances
  src/providers/aws/services/instance_operation_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use per-test AWS credentials in test_onaws.py cleanup helpers
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: delete duplicate dead detect_secrets.py and detect_credentials.py
  .claude/hooks/on-file-write.sh
  dev-tools/security/detect_credentials.py
  dev-tools/security/detect_secrets.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: use get_request_status to poll return request completion
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: AMI cache to work/.cache, config.json to config/ subdir, scripts/ gitignore, fast-fail loops
  .gitignore
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use config.get_cache_dir() as single source of truth for AMI cache dir
  src/config/managers/path_resolver.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use typed ConfigurationPort lookup for AMI cache dir resolution
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: path_resolver base_dir and handler_discovery cache path
  src/config/managers/path_resolver.py
  src/infrastructure/di/handler_discovery.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: write aws_templates.json to config/ subdir so ORB can find it
  tests/onaws/template_processor.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: keep request IN_PROGRESS while instances still pending/starting
  src/application/services/request_status_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: SpotFleet fleet_role injection, scheduler_type stamp, fast-fail on error, test speed, cache path cleanup
  src/infrastructure/di/handler_discovery.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: SpotFleet role discovery, validation, and template injection
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/services/infrastructure_discovery_service.py
  tests/onaws/template_processor.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve 6 test failure groups across scheduler, provider, and API layers
  src/api/handlers/get_request_status_handler.py
  src/application/services/request_status_management_service.py
  src/config/managers/type_converter.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/hostfactory/field_mappings.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/request_command_handlers.py
  src/providers/aws/configuration/config.py
  src/providers/aws/configuration/validator.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/adapters/resource_manager_adapter.py
  src/providers/aws/services/instance_operation_service.py
  src/providers/base/strategy/provider_strategy.py
  tests/config/test_multi_provider_configuration.py
  tests/config/test_provider_strategy_integration.py
  tests/onaws/test_onaws.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/application/services/test_request_status_management_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve onaws integration test failures across 5 failure groups
  hfmock.py
  src/cli/response_formatter.py
  src/infrastructure/scheduler/hostfactory/field_mapper.py
  src/infrastructure/scheduler/hostfactory/field_mappings.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/specs/asg/default.json
  src/providers/aws/specs/ec2fleet/default.json
  tests/onaws/template_processor.py
  tests/unit/providers/aws/test_handler_merge_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve 6 test failure groups across scheduler, provider, and API layers
  config.yaml
Due: quality-check

fix: restore malformed JSON repair in hfmock raw_decode extraction
  hfmock.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports
