Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

test: add router endpoint and CLI handler tests, fix templates router DI
  src/orb/api/routers/templates.py
  tests/unit/api/test_router_endpoints.py
  tests/unit/interface/test_request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update e2e tests for templates router DI migration
  tests/e2e/test_critical_path_e2e.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct package variant import guard tests in CI matrix
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: add missing config_manager arg to GetReturnRequestsRESTHandler DI registration
  src/orb/infrastructure/di/server_services.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve 10 security, test, and quality issues from PR review
  pyproject.toml
  src/orb/api/middleware/auth_middleware.py
  src/orb/api/routers/machines.py
  src/orb/api/server.py
  src/orb/application/queries/__init__.py
  src/orb/config/schemas/server_schema.py
  src/orb/infrastructure/auth/strategy/bearer_token_strategy.py
  src/orb/infrastructure/auth/strategy/bearer_token_strategy_enhanced.py
  src/orb/infrastructure/di/server_services.py
  src/orb/providers/aws/auth/iam_strategy.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/orb/sdk/protocols.py
  tests/onmoto/test_config_driven_provision.py
  tests/onmoto/test_sdk_onmoto.py
  tests/security/test_auth_security.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/api/test_router_endpoints.py
  tests/unit/config/test_aws_provider_config_aliases.py
  tests/unit/interface/test_request_command_handlers.py
  tests/unit/sdk/test_sdk_batch.py
  tests/unit/sdk/test_sdk_client_isolation.py
  tests/unit/sdk/test_sdk_discovery.py
  tests/unit/sdk/test_sdk_programmatic_config.py
  tests/unit/sdk/test_sdk_protocol.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: resolve 7 merge-readiness issues from PR review
  docs/root/examples/sdk_usage.py
  src/orb/api/middleware/auth_middleware.py
  src/orb/api/server.py
  src/orb/bootstrap.py
  src/orb/providers/aws/auth/iam_strategy.py
  src/orb/providers/aws/configuration/config.py
  tests/integration/api/test_authentication_flows.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use short_name for PYTHON_MODULE instead of deriving from pypi_name
  makefiles/common.mk
Due: none

fix: resolve release pipeline failures in coverage and container tags
  dev-tools/container/calculate_tags.sh
  pyproject.toml
Due: safety, quality-check

fix: use absolute URLs for README logo so it renders on PyPI
  README.md
Due: quality-check

fix: resolve AWS resource and launch template cleanup leaks
  config/default_config.json
  pyproject.toml
  src/orb/config/schemas/app_schema.py
  src/orb/config/schemas/provider_strategy_schema.py
  src/orb/domain/base/ports/configuration_port.py
  src/orb/infrastructure/adapters/configuration_adapter.py
  src/orb/providers/aws/infrastructure/handlers/asg/capacity_manager.py
  src/orb/providers/aws/infrastructure/handlers/base_handler.py
  src/orb/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/orb/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
  src/orb/providers/aws/infrastructure/handlers/ec2_fleet/release_manager.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/handler.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/release_manager.py
  tests/onaws/cleanup_helpers.py
  tests/onaws/conftest.py
  tests/onaws/scenarios_mcp.py
  tests/onaws/test_cleanup_e2e_onaws.py
  tests/onaws/test_mcp_onaws.py
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/onaws/test_onaws.py
  tests/onaws/test_rest_api_onaws.py
  tests/onaws/test_sdk_onaws.py
  tests/onmoto/conftest.py
  tests/onmoto/test_cleanup_e2e.py
  tests/onmoto/test_cli_onmoto.py
  tests/onmoto/test_config_driven_provision.py
  tests/onmoto/test_cqrs_control_loop.py
  tests/onmoto/test_hf_contract.py
  tests/onmoto/test_mcp_onmoto.py
  tests/onmoto/test_partial_return.py
  tests/onmoto/test_provision_lifecycle.py
  tests/onmoto/test_rest_api_onmoto.py
  tests/providers/aws/contract/conftest.py
  tests/test_injectable_migration.py
  tests/unit/providers/aws/infrastructure/handlers/test_cleanup.py
  tests/unit/providers/aws/test_launch_template_manager.py
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

test: add unit tests for CLI provider, infrastructure, and system handlers
  tests/unit/interface/test_infrastructure_command_handler.py
  tests/unit/interface/test_provider_config_handler.py
  tests/unit/interface/test_system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: delete dead ProviderStrategyResolver and ProviderSelection stack
  src/orb/domain/base/ports/provider_strategy_resolver_port.py
  src/orb/infrastructure/adapters/__init__.py
  src/orb/infrastructure/adapters/provider_strategy_adapter.py
  src/orb/infrastructure/services/provider_strategy_resolver.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: remove dead ssm_parameter_prefix config and unused SSM function
  config/README.md
  config/default_config.json
  docs/root/api/multi-provider-api.md
  docs/root/deployment/dev_deployment_documentation.md
  docs/root/user_guide/templates.md
  src/orb/config/README.md
  src/orb/providers/aws/configuration/config.py
  src/orb/providers/aws/configuration/template_extension.py
  src/orb/providers/aws/utilities/ssm_utils.py
  src/orb/providers/config_builder.py
  tests/unit/config/test_provider_config.py
  tests/unit/providers/test_providers_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove collect_ignore hiding test_machine_status_cqrs_migration
  tests/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

test: add CLI argument parsing and flag propagation tests
  tests/unit/cli/test_args.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: remove unnecessary moto importorskip
  tests/integration/test_aws_dry_run_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

test: fix path calculation in test_setup after move to tests/unit/
  tests/unit/test_setup.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: guard metrics flush_traces logger call against shutdown race
  src/orb/monitoring/metrics.py
  uv.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: CI metrics workflow, Docker config, and example config cleanup
  .github/workflows/advanced-metrics.yml
  Dockerfile
  config/config.example.json
Due: quality-check, validate-workflows

refactor: remove provider imports from domain TemplateFactory
  src/orb/application/queries/template_query_handlers.py
  src/orb/domain/template/factory.py
  src/orb/infrastructure/di/infrastructure_services.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: move infrastructure and system events out of domain
  src/orb/application/commands/cleanup_handlers.py
  src/orb/domain/base/__init__.py
  src/orb/domain/base/events/__init__.py
  src/orb/infrastructure/events/__init__.py
  src/orb/infrastructure/events/infrastructure_events.py
  src/orb/infrastructure/events/system_events.py
  tests/infrastructure/error/test_http_response_handler.py
  tests/unit/domain/base/test_exceptions.py
  tests/unit/infrastructure/error/test_exception_handler.py
  tests/unit/providers/aws/test_launch_template_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add logging to empty except blocks and suppress unused param warnings
  src/orb/infrastructure/di/infrastructure_services.py
  src/orb/infrastructure/events/__init__.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve pyright diagnostics in test and adapter files
  src/orb/infrastructure/adapters/configuration_adapter.py
  tests/unit/infrastructure/error/test_exception_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: make Codecov upload non-fatal when coverage XML is missing
  .github/workflows/reusable-test.yml
Due: quality-check, validate-workflows

fix: update tests for new template_factory param and get_cleanup_config method
  tests/unit/application/queries/test_get_template_handler.py
  tests/unit/test_injectable_migration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: delete dead DomainConfigurationService and fix pyright errors
  src/orb/domain/base/configuration_service.py
  src/orb/infrastructure/adapters/configuration_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: address code quality review comments
  tests/unit/config/test_provider_config.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: restore DomainConfigurationService as config-to-domain bridge
  src/orb/api/handlers/request_machines_handler.py
  src/orb/application/commands/request_creation_handlers.py
  src/orb/domain/base/configuration_service.py
  src/orb/infrastructure/di/domain_services.py
  src/orb/infrastructure/di/server_services.py
  src/orb/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: move remaining AWS-specific code into providers/aws/
  src/orb/config/schemas/common_schema.py
  src/orb/infrastructure/di/infrastructure_services.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/infrastructure/validation/startup_validator.py
  src/orb/interface/provider_config_handler.py
  src/orb/monitoring/health.py
  src/orb/providers/aws/adapters/__init__.py
  src/orb/providers/aws/adapters/template_example_generator_adapter.py
  src/orb/providers/aws/config_builder.py
  src/orb/providers/aws/health.py
  src/orb/providers/aws/registration.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  src/orb/providers/base/strategy/provider_strategy.py
  src/orb/providers/config_validator.py
  src/orb/providers/factory.py
  tests/unit/test_config_builder_in_aws.py
  tests/unit/test_health_no_aws.py
  tests/unit/test_no_aws_aliases_in_hf.py
  tests/unit/test_no_aws_in_common_schema.py
  tests/unit/test_no_aws_template_example_in_infra.py
  tests/unit/test_provider_config_no_aws.py
  tests/unit/test_startup_validator_no_aws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: fix credential leaks, remove dead code, improve DI
  src/orb/application/commands/request_creation_handlers.py
  src/orb/application/services/provider_registry_service.py
  src/orb/application/services/provisioning_orchestration_service.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/infrastructure/validation/startup_validator.py
  src/orb/interface/provider_config_handler.py
  src/orb/providers/aws/managers/__init__.py
  src/orb/providers/aws/managers/aws_instance_manager.py
  src/orb/providers/aws/managers/py.typed
  tests/integration/test_aws_dry_run_integration.py
  tests/integration/test_integration_flow.py
  tests/unit/infrastructure/scheduler/test_strategy_loading.py
  tests/unit/providers/test_providers_comprehensive.py
  tests/unit/test_injectable_migration.py
  tests/unit/test_no_aws_in_common_schema.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: fix layer violations, clean comments, replace hardcoded strings
  src/orb/application/commands/provider_handlers.py
  src/orb/application/commands/request_creation_handlers.py
  src/orb/application/queries/system_handlers.py
  src/orb/application/services/machine_grouping_service.py
  src/orb/application/services/provisioning_orchestration_service.py
  src/orb/application/services/request_creation_service.py
  src/orb/application/services/template_defaults_service.py
  src/orb/application/services/template_generation_service.py
  src/orb/cli/field_mapping.py
  src/orb/config/schemas/cleanup_schema.py
  src/orb/config/schemas/common_schema.py
  src/orb/config/schemas/metrics_schema.py
  src/orb/config/schemas/performance_schema.py
  src/orb/config/validators/config_validator.py
  src/orb/infrastructure/di/domain_services.py
  src/orb/infrastructure/di/infrastructure_services.py
  src/orb/infrastructure/scheduler/base/strategy.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/infrastructure/template/dtos.py
  src/orb/infrastructure/validation/startup_validator.py
  src/orb/interface/init_command_handler.py
  src/orb/interface/mcp/server/core.py
  src/orb/interface/system_command_handlers.py
  src/orb/providers/aws/domain/template/aws_template_aggregate.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/config/test_config_validator.py
  tests/unit/infrastructure/scheduler/test_registry_get_strategy_class.py
  tests/unit/infrastructure/template/test_template_dto_no_aws_fields.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: complete audit fixes for tasks 1714 and 1718
  src/orb/config/schemas/metrics_schema.py
  src/orb/infrastructure/adapters/configuration_adapter.py
  src/orb/interface/init_command_handler.py
  src/orb/providers/aws/infrastructure/aws_client.py
  src/orb/providers/aws/infrastructure/instrumentation/botocore_metrics.py
  tests/onmoto/conftest.py
  tests/onmoto/test_config_driven_provision.py
  tests/onmoto/test_hf_contract.py
  tests/onmoto/test_partial_return.py
  tests/onmoto/test_provision_lifecycle.py
  tests/providers/aws/contract/conftest.py
  tests/unit/config/test_metrics_config_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: address GH Code Quality findings and ruff violations
  src/orb/infrastructure/di/domain_services.py
  src/orb/interface/system_command_handlers.py
  src/orb/providers/aws/infrastructure/handlers/base_handler.py
  src/orb/providers/factory.py
  src/orb/providers/registry/provider_registry.py
  tests/unit/application/services/test_provisioning_orchestration_service_di.py
  tests/unit/application/services/test_request_creation_service.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/config/test_type_converter.py
  tests/unit/infrastructure/template/test_template_dto_no_aws_fields.py
  tests/unit/infrastructure/test_provider_registry_adapter.py
  tests/unit/interface/test_aws_leak_cleanup.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: consolidate dual import in test_provisioning_orchestration_service_di
  tests/unit/application/services/test_provisioning_orchestration_service_di.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: add health/ to .gitignore
  .gitignore
Due: none

test: add architecture boundary enforcement tests (TDD guard rails)
  tests/unit/architecture/conftest.py
  tests/unit/architecture/test_application_import_boundaries.py
  tests/unit/architecture/test_circular_dependencies.py
  tests/unit/architecture/test_cli_infrastructure_boundary.py
  tests/unit/architecture/test_domain_import_boundaries.py
  tests/unit/architecture/test_domain_purity.py
  tests/unit/architecture/test_interface_provider_boundary.py
  tests/unit/architecture/test_provider_leak_detection.py
  tests/unit/architecture/test_scheduler_leak_detection.py
  tests/unit/architecture/test_storage_leak_detection.py
  tests/unit/architecture/test_violation_ratchet.py
  tests/unit/architecture/violation_counts.json
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: remove AWS-specific types and provider leaks from domain layer
  src/orb/application/request/dto.py
  src/orb/domain/base/ports/configuration_port.py
  src/orb/domain/base/provider_interfaces.py
  src/orb/domain/machine/machine_metadata.py
  src/orb/domain/request/aggregate.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/interface/request_command_handlers.py
  src/orb/providers/aws/domain/template/aws_template_aggregate.py
  src/orb/providers/aws/infrastructure/adapters/machine_adapter.py
  src/orb/providers/aws/strategy/aws_provider_adapter.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  src/orb/providers/base/strategy/provider_strategy.py
  tests/unit/architecture/conftest.py
  tests/unit/architecture/test_application_import_boundaries.py
  tests/unit/architecture/test_circular_dependencies.py
  tests/unit/architecture/test_cli_infrastructure_boundary.py
  tests/unit/architecture/test_domain_import_boundaries.py
  tests/unit/architecture/test_domain_purity.py
  tests/unit/architecture/test_interface_provider_boundary.py
  tests/unit/architecture/test_provider_leak_detection.py
  tests/unit/architecture/test_scheduler_leak_detection.py
  tests/unit/architecture/test_storage_leak_detection.py
  tests/unit/architecture/test_violation_ratchet.py
  tests/unit/architecture/violation_counts.json
  tests/unit/infrastructure/scheduler/test_hostfactory_metadata_promotion.py
  tests/unit/test_no_aws_aliases_in_hf.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: remove service locators from AWS provider and introduce ProviderRegistryPort
  src/orb/application/services/provider_registry_service.py
  src/orb/domain/base/ports/provider_registry_port.py
  src/orb/infrastructure/adapters/ports/resource_provisioning_port.py
  src/orb/providers/aws/application/events/aws_handlers.py
  src/orb/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/orb/providers/aws/infrastructure/aws_client.py
  src/orb/providers/aws/infrastructure/aws_handler_factory.py
  src/orb/providers/aws/infrastructure/handlers/asg/handler.py
  src/orb/providers/aws/infrastructure/handlers/base_handler.py
  src/orb/providers/aws/infrastructure/handlers/run_instances/handler.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/handler.py
  src/orb/providers/aws/infrastructure/services/aws_native_spec_service.py
  src/orb/providers/aws/services/instance_operation_service.py
  src/orb/providers/config_builder.py
  src/orb/providers/registry/provider_registry.py
  tests/unit/providers/aws/infrastructure/handlers/test_cleanup.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
