Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, ruff-optional, mypy, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, detect-secrets, check-file-sizes

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  ruff-optional: any of: \.(py)$
  mypy: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  semgrep: any of: \.(py)$
  trivy-fs: any of: \.(py|txt|yml|yaml|toml|json)$
  trufflehog: any of: \.(py|txt|yml|yaml|toml|json|md|sh)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-actionlint: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-shell-scripts: any of: \.sh$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

fix: add proper logging and force flag support to release scripts
  dev-tools/release/release_creator.sh
  dev-tools/release/version_manager.sh
Due: trufflehog, validate-shell-scripts

fix: skip branch confirmation in backfill mode
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

fix: skip final confirmation in backfill mode
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

fix: remove emoji from release success message
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

fix: remove emoji from release notes generation
  dev-tools/release/release_notes.sh
Due: trufflehog, validate-shell-scripts

fix: improve overlap protection for backfill releases
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

feat: add comprehensive version normalization system
  Makefile
  dev-tools/release/release_creator.sh
  dev-tools/release/version_normalizer.sh
Due: trufflehog, validate-shell-scripts

fix: remove duplicate code causing syntax error in release_creator.sh
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

fix: build packages from current commit for backfill releases
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

test: update version for release test
  .project.yml
Due: quality-check, security-scan, trivy-fs, trufflehog

feat: comprehensive version normalization and release system
  dev-tools/release/release_creator.sh
Due: trufflehog, validate-shell-scripts

fix: show dependency installation output when not in quiet mode
  dev-tools/package/build.sh
Due: trufflehog, validate-shell-scripts

fix: update container cleanup regex to preserve Python version tags
  .github/workflows/container.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: restore correct base version to 0.1.0
  .project.yml
Due: quality-check, security-scan, trivy-fs, trufflehog

fix: implement PEP 440 compliant version normalization
  Makefile
  dev-tools/release/version_normalizer.sh
Due: trufflehog, validate-shell-scripts

fix: prevent VERSION environment variable override in generate-pyproject
  Makefile
Due: none

fix: use existing VERSION environment variable in build target
  Makefile
Due: none

fix: remove redundant version conversion in container build script
  dev-tools/scripts/container_build.sh
Due: trufflehog, validate-shell-scripts

fix: replace hyperbolic term 'Unified' with descriptive version description
  .github/actions/get-config/action.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  Makefile
  dev-tools/release/historical_release.sh
  dev-tools/release/release_creator.sh
  dev-tools/release/version_manager.sh
  dev-tools/release/version_normalizer.sh
  dev-tools/scripts/container_build.sh
  dev-tools/scripts/pre_commit_check.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, check-file-sizes

fix: align container workflow with unified versioning system
  .github/workflows/container.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: add required OCI labels and fix container cleanup regex
  .github/workflows/container.yml
  Dockerfile
Due: hadolint, quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: simplify container cleanup regex to keep all release types
  .github/workflows/container.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: standardize license to Apache-2.0 in API documentation
  src/api/documentation/openapi_config.py
  src/ohfp/api/documentation/openapi_config.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat: parameterize author/vendor using centralized .project.yml config
  Dockerfile
  Makefile
  dev-tools/docker/Dockerfile.dev-tools
  dev-tools/scripts/container_build.sh
  src/api/documentation/openapi_config.py
  src/ohfp/api/documentation/openapi_config.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-shell-scripts, detect-secrets, check-file-sizes

fix: parameterize remaining hardcoded license and improve fallbacks
  .project.yml
  Dockerfile
  Makefile
  dev-tools/docker/Dockerfile.dev-tools
  dev-tools/scripts/container_build.sh
  src/infrastructure/adapters/configuration_adapter.py
  src/ohfp/infrastructure/adapters/configuration_adapter.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-shell-scripts, detect-secrets, check-file-sizes

fix: update test assertion for improved fallback description
  tests/unit/infrastructure/test_configuration_adapter_package_info.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: consolidate fallback system to single source of truth
  src/_package.py
  src/infrastructure/adapters/configuration_adapter.py
  src/ohfp/infrastructure/adapters/configuration_adapter.py
  tests/unit/infrastructure/test_configuration_adapter_package_info.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat: parameterize all remaining hardcoded references
  .env.example
  .github/actions/get-config/action.yml
  .github/workflows/security.yml
  Dockerfile
  Makefile
  dev-tools/scripts/container_build.sh
  dev-tools/scripts/generate_sbom.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, check-file-sizes

refactor: remove redundant .get() fallbacks in _package.py
  src/_package.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

docs: clarify when hardcoded fallback values are used in _package.py
  src/_package.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor: remove old version-bump targets and fix workflows to use Makefile
  .github/workflows/process-rc-approval.yml
  .github/workflows/suggest-rc.yml
  Makefile
  dev-tools/scripts/quick_start.sh
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts

fix: make generate_pyproject.py independent of _package.py to resolve CI issue
  dev-tools/scripts/generate_pyproject.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: remove duplicate MIN_PYTHON_VERSION key in generate_pyproject.py
  dev-tools/scripts/generate_pyproject.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: make _get_from_package_metadata() return complete config structure
  src/_package.py
Due: format-fix, ruff-check, ruff-optional, mypy, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: update .PHONY declaration to include all public targets
  Makefile
Due: none

refactor: split massive Makefile into modular structure
  Makefile
  makefiles/ci.mk
  makefiles/common.mk
  makefiles/deploy.mk
  makefiles/dev.mk
  makefiles/quality.mk
Due: none

fix: use run-tool function consistently for Python execution
  makefiles/dev.mk
Due: none

cleanup: remove unused files and consolidate MCP examples
  .gitignore
  MANIFEST.in
  docs/mcp/integration-guide.md
  docs/mcp/tools-mode.md
  examples/mcp/claude/claude_desktop_config.json
  junit-unit.xml
  uv.lock
Due: quality-check, trivy-fs, trufflehog
