Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix(onaws): correct partial return test matrix across all provider APIs
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests): skip partial return test when fewer than 2 physical instances provisioned
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: monthly dependency maintenance
  uv.lock
Due: none

fix(ci+tests): add integration/onmoto/e2e to PR workflow, fix e2e test mocks
  .github/workflows/ci-tests.yml
  .github/workflows/test-matrix.yml
  makefiles/ci.mk
  makefiles/common.mk
  tests/e2e/test_cli_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows

fix(ci+tests): fix coverage XML generation, codecov flags, and remaining test failures
  .github/workflows/ci-tests.yml
  .github/workflows/test-matrix.yml
  makefiles/ci.mk
  makefiles/common.mk
  src/orb/sdk/discovery.py
  tests/docker/test_container_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows, detect-secrets

fix(tests): fix create_return_request assertion to use created_request_ids
  tests/onmoto/test_sdk_onmoto.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests): mock health port in auth_client fixture and bearer token test
  tests/integration/api/test_api_endpoints.py
  tests/integration/api/test_authentication_flows.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests): remove duplicate deps imports flagged by GH code quality bot
  tests/integration/api/test_api_endpoints.py
  tests/integration/api/test_authentication_flows.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests+ci): fix scheduler-agnostic assertions and coverage XML parse errors
  .github/workflows/ci-tests.yml
  tests/e2e/test_critical_path_e2e.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows

fix(tests): mock health port in base client fixture to prevent 503 in CI
  tests/integration/api/test_api_endpoints.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: add sdk-go make targets to .PHONY
  Makefile
Due: none

fix: resolve pyright, workflow, and GH code quality issues
  .github/workflows/semantic-release.yml
  makefiles/ci.mk
  pyproject.toml
  tests/integration/api/test_scheduler_header.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows

feat: move go.mod to root for unified version tags
  .github/dependabot.yml
  .github/workflows/semantic-release.yml
  go.mod
  makefiles/ci.mk
  sdk/go/examples/basic/main.go
  sdk/go/examples/managed_process/main.go
  sdk/go/examples/scheduler/main.go
  sdk/go/go.mod
  sdk/go/internal/process/manager_test.go
  sdk/go/internal/sse/reader_test.go
  sdk/go/mock/server.go
  sdk/go/mock/server_test.go
  sdk/go/orb/auth_aws.go
  sdk/go/orb/client.go
  sdk/go/orb/client_test.go
  sdk/go/orb/integration_test.go
  sdk/go/orb/scheduler_test.go
  sdk/go/testutil/orb.go
Due: quality-check, validate-workflows

fix: restore sdk/go/ path segment in internal Go imports
  sdk/go/examples/basic/main.go
  sdk/go/examples/managed_process/main.go
  sdk/go/examples/scheduler/main.go
  sdk/go/internal/process/manager_test.go
  sdk/go/internal/sse/reader_test.go
  sdk/go/mock/server.go
  sdk/go/mock/server_test.go
  sdk/go/orb/auth_aws.go
  sdk/go/orb/client.go
  sdk/go/orb/client_test.go
  sdk/go/orb/integration_test.go
  sdk/go/orb/scheduler_test.go
  sdk/go/testutil/orb.go
Due: none

fix(ci): update sdk-go workflow to use root go.mod and make targets
  .github/workflows/sdk-go.yml
Due: quality-check, validate-workflows

fix: bump go 1.22 to 1.24 and pin ogen to v1.19.0 in drift check
  .github/workflows/sdk-go.yml
  go.mod
Due: quality-check, validate-workflows

fix(request-flow): enforce state machine, fix model_copy, zero-instance handling
  src/orb/application/commands/machine_handlers.py
  src/orb/application/services/request_status_management_service.py
  src/orb/domain/request/aggregate.py
  src/orb/domain/request/request_types.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(request-flow): fix return path, orchestrator, and status sync bugs
  src/orb/application/commands/request_creation_handlers.py
  src/orb/application/commands/request_lifecycle_handlers.py
  src/orb/application/services/machine_grouping_service.py
  src/orb/application/services/orchestration/acquire_machines.py
  src/orb/application/services/orchestration/return_machines.py
  src/orb/application/services/provisioning_orchestration_service.py
  src/orb/application/services/request_creation_service.py
  src/orb/application/services/request_status_service.py
  src/orb/config/loader.py
  src/orb/infrastructure/storage/repositories/request_repository.py
  src/orb/providers/aws/infrastructure/handlers/asg/capacity_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): cache native spec service, non-retryable IAM errors, architecture cleanup
  src/orb/infrastructure/resilience/strategy/exponential.py
  src/orb/infrastructure/utilities/network_utils.py
  src/orb/providers/aws/infrastructure/aws_handler_factory.py
  src/orb/providers/aws/infrastructure/handlers/ec2_fleet/config_builder.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/config_builder.py
  src/orb/providers/aws/resilience/aws_retry_strategy.py
  src/orb/providers/aws/utilities/boto_config.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(config): rename app.log→orb.log, orb init dir persistence, remove default_config copy, scripts_dir schema
  src/orb/config/default_config.json
  src/orb/config/schemas/app_schema.py
  src/orb/interface/init_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: wire orb config show missing sections, fix fleetRole ARN expansion, add scheduler mismatch flag
  src/orb/application/dto/system.py
  src/orb/application/queries/system_handlers.py
  src/orb/config/loader.py
  src/orb/config/schemas/scheduler_schema.py
  src/orb/domain/base/ports/configuration_port.py
  src/orb/infrastructure/adapters/configuration_adapter.py
  src/orb/infrastructure/scheduler/base/strategy.py
  src/orb/infrastructure/template/configuration_manager.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: add unit tests for watch feature — orchestrator, factory fields, args parsing, serializer round-trip
  tests/unit/application/factories/test_request_dto_factory.py
  tests/unit/application/services/orchestration/test_watch_request_status_orchestrator.py
  tests/unit/cli/test_args.py
  tests/unit/infrastructure/persistence/test_repository_serializers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: expose launchTemplateId in templates list output
  src/orb/infrastructure/template/dtos.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat(aws): add launch_template.respect_lt_networking flag
  src/orb/providers/aws/config/aws_defaults.json
  src/orb/providers/aws/configuration/config.py
  src/orb/providers/aws/infrastructure/handlers/run_instances/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): remove placeholder infra stubs from template_defaults
  src/orb/providers/aws/config/aws_defaults.json
Due: quality-check

feat(aws): add launch_template.do_not_override flag
  src/orb/providers/aws/config/aws_defaults.json
  src/orb/providers/aws/configuration/config.py
  src/orb/providers/aws/infrastructure/launch_template/manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

revert: restore template_defaults stubs (undo 6b1ce26a)
  src/orb/providers/aws/config/aws_defaults.json
Due: quality-check

fix(storage): persist price_type in MachineSerializer
  src/orb/infrastructure/storage/repositories/machine_repository.py
  tests/unit/infrastructure/persistence/test_repository_serializers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): adapter emits top-level tags from raw AWS responses
  src/orb/providers/aws/infrastructure/adapters/machine_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): SpotFleet handler uses adapter to parse raw AWS response
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_spot_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): dispatch DESCRIBE_RESOURCE_INSTANCES to the correct handler
  src/orb/application/commands/request_sync_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): remove fake placeholder defaults from aws_defaults.json
  src/orb/providers/aws/config/aws_defaults.json
  tests/onmoto/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

- fix: draft of the documentation changes for HostFactory configuration with ORB
  docs/root/deployment/dev_deployment_documentation.md
Due: quality-check

feat(hostfactory): tag invoke_provider log with originating wrapper script
  src/orb/infrastructure/scheduler/hostfactory/scripts/getAvailableTemplates.bat
  src/orb/infrastructure/scheduler/hostfactory/scripts/getAvailableTemplates.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/getRequestStatus.bat
  src/orb/infrastructure/scheduler/hostfactory/scripts/getRequestStatus.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/getReturnRequests.bat
  src/orb/infrastructure/scheduler/hostfactory/scripts/getReturnRequests.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/invoke_provider.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/requestMachines.bat
  src/orb/infrastructure/scheduler/hostfactory/scripts/requestMachines.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/requestReturnMachines.bat
  src/orb/infrastructure/scheduler/hostfactory/scripts/requestReturnMachines.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/templateWizard.bat
  src/orb/infrastructure/scheduler/hostfactory/scripts/templateWizard.sh
Due: none

fix(watch): resolve AZ and vCPUs in request watch
  src/orb/application/dto/queries.py
  src/orb/application/queries/machine_query_handlers.py
  src/orb/application/services/machine_sync_service.py
  src/orb/application/services/orchestration/watch_request_status.py
  src/orb/application/services/request_status_management_service.py
  src/orb/interface/request_command_handlers.py
  tests/integration/test_machine_provider_data_roundtrip.py
  tests/unit/application/services/orchestration/test_watch_request_status_orchestrator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

- fix(aws): remove placeholder infra stubs from template_defaults
  src/orb/providers/aws/config/aws_defaults.json
  tests/onmoto/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports
