Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

Hardcode short package name to create release
  Dockerfile
  dev-tools/scripts/container_build.sh
Due: none

Fix container-build target: Pass environment variables to shell script
  dev-tools/scripts/container_build.sh
  makefiles/deploy.mk
Due: none

Fix docs-build for CI environments: Use ci-docs-build in GitHub Actions
  makefiles/deploy.mk
Due: none

Fix docs-deploy for CI environments: Use ci-docs-deploy in GitHub Actions
  makefiles/deploy.mk
Due: none

Comprehensive fix for Git configuration issues in CI pipeline
  dev-tools/release/delete_release.sh
  dev-tools/scripts/ci_docs_deploy.sh
  makefiles/deploy.mk
Due: none

0.2.0
  CHANGELOG.md
Due: quality-check

fix: build permissions
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

Fix: ASG handler for hostfactory
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/scenarios.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Refactoring
  src/application/services/provider_capability_service.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/scheduler/registration.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/infrastructure/test_getrequestatus_functionality.py
  tests/test_field_mapping_integration.py
  tests/unit/infrastructure/scheduler/test_default_strategy.py
  tests/unit/infrastructure/scheduler/test_format_conversion_consistency.py
  tests/unit/infrastructure/scheduler/test_scheduler_strategy_initialization.py
  tests/unit/infrastructure/scheduler/test_symphony_hostfactory_strategy.py
  tests/unit/infrastructure/test_scheduler_native_spec_parsing.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactoring terminate instances path for all handlers WIP
  src/application/commands/request_handlers.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/scheduler/default/__init__.py
  src/infrastructure/scheduler/hostfactory/__init__.py
  src/providers/aws/infrastructure/adapters/__init__.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/base/strategy/provider_context.py
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/scenarios.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: monthly dependency maintenance
  uv.lock
Due: none

Refactoring handlers->release_hosts code paths WIP
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/domain/request/aggregate.py
  src/infrastructure/adapters/ports/resource_provisioning_port.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/persistence/repositories/request_repository.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/aws/utilities/aws_operations.py
  tests/onaws/scenarios.py
  tests/onaws/test_multi_asg_termination.py
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: asg_handler release_hosts
  src/application/commands/request_handlers.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactoring aws handlers
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: refactoring aws handlers, adding system tests
  docs/root/hostfactory/supported-apis.md
  docs/root/testing/system-tests-onaws.md
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/fleet_grouping_mixin.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/scenarios.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: adding API logging to aws handlers
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: multiple unit tests
  tests/integration/api/test_api_endpoints.py
  tests/integration/api/test_authentication_flows.py
  tests/integration/test_aws_dry_run_integration.py
  tests/integration/test_bootstrap_integration.py
  tests/integration/test_clean_architecture_integration.py
  tests/integration/test_cqrs_migration_baseline.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_end_to_end_dry_run.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_full_workflow.py
  tests/integration/test_multi_provider_configuration.py
  tests/integration/test_native_spec_all_providers.py
  tests/integration/test_ocp_compliance_integration.py
  tests/integration/test_provider_strategy_dry_run.py
  tests/onaws/test_multi_resource_termination.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: aws handlers additional logging
  src/application/queries/handlers.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Feat: ABIS support implementation
  docs/aws_attribute_based_instance_selection.md
  src/infrastructure/scheduler/hostfactory/field_mappings.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/providers/aws/domain/template/aws_template_aggregate.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/test_field_mapping_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: default scheduler. Multiple tests have been added.
  .env.example
  README.md
  docs/aws_attribute_based_instance_selection.md
  docs/root/user_guide/configuration.md
  hfmock.py
  src/application/request/dto.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/request_command_handlers.py
  tests/onaws/config_templates/config.base.json
  tests/onaws/config_templates/default_config.base.json
  tests/onaws/config_templates/templates.base.json
  tests/onaws/plugin_io_schemas.py
  tests/onaws/scenarios.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
  tests/providers/aws/test_aws_template_defaults.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: multiple test cases, mostly import issues
  scripts/invoke_provider.sh
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/utilities/aws_operations.py
  tests/config/test_template_defaults.py
  tests/e2e/test_end_to_end_integration.py
  tests/integration/test_comprehensive_edge_cases.py
  tests/integration/test_end_to_end_dry_run.py
  tests/integration/test_handler_architecture.py
  tests/integration/test_ocp_compliance_integration.py
  tests/integration/test_storage_strategy.py
  tests/onaws/template_processor.py
  tests/performance/test_auth_performance.py
  tests/providers/aws/test_aws_template_defaults.py
  tests/security/test_auth_security.py
  tests/test_field_mapping_integration.py
  tests/unit/architecture/test_ddd_compliance_fixed.py
  tests/unit/config/test_native_spec_validation.py
  tests/unit/domain/test_business_rules.py
  tests/unit/domain/test_multi_provider_domain.py
  tests/unit/infrastructure/scheduler/test_symphony_hostfactory_strategy.py
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/providers/aws/test_launch_template_manager.py
  tests/unit/providers/aws/test_native_spec_package_context.py
  tests/unit/providers/aws/test_spec_file_loading.py
  tests/unit/providers/test_fleet_tag_builder.py
  tests/unit/test_domain_validation.py
  tests/unit/test_performance_benchmarks.py
  tests/unit/test_security_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: Implementation of the maintain modes.
  src/domain/base/events/base_events.py
  src/domain/base/events/domain_events.py
  src/domain/base/events/infrastructure_events.py
  src/domain/base/events/persistence_events.py
  src/domain/request/aggregate.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/docker/test_docker_compose.py
  tests/docker/test_dockerfile.py
  tests/e2e/test_configuration_integration.py
  tests/integration/test_cqrs_migration_baseline.py
  tests/integration/test_lazy_loading_integration.py
  tests/onaws/test_onaws.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: various test cases corrected
  tests/infrastructure/test_getrequestatus_functionality.py
  tests/integration/test_cqrs_migration_baseline.py
  tests/integration/test_package_name_integration.py
  tests/integration/test_provider_strategy_dry_run.py
  tests/interface/mcp/test_mcp_server_handler.py
  tests/onaws/scenarios.py
  tests/providers/base/strategy/test_provider_context_integration.py
  tests/sdk/test_sdk_client.py
  tests/sdk/test_sdk_discovery.py
  tests/test_import_validation.py
  tests/test_injectable_migration.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/application/test_native_spec_error_handling.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/cli/test_cli_migration.py
  tests/unit/config/test_scheduler_config.py
  tests/unit/domain/test_template_aggregate.py
  tests/unit/infrastructure/error/test_exception_handler.py
  tests/unit/infrastructure/test_base_registry.py
  tests/unit/infrastructure/test_config_driven_provider_registration.py
  tests/unit/infrastructure/test_infrastructure_comprehensive.py
  tests/unit/infrastructure/test_multi_instance_provider_support.py
  tests/unit/providers/aws/test_spec_file_loading.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

Fix: native spec tests
  tests/unit/application/test_native_spec_service.py
  tests/unit/config/test_native_spec_validation.py
  tests/unit/providers/aws/test_spec_file_loading.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

Fix: corrected process of determining fleet fulfillment state.
  docs/root/testing/system-tests-onaws.md
  src/application/queries/handlers.py
  src/application/services/native_spec_service.py
  src/domain/base/value_objects.py
  src/infrastructure/persistence/repositories/template_repository.py
  src/providers/aws/domain/template/aws_template_aggregate.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/config_templates/config.base.json
  tests/onaws/config_templates/default_config.base.json
  tests/onaws/config_templates/templates.base.json
  tests/onaws/scenarios.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

merge
  tests/integration/test_end_to_end_dry_run.py
  tests/unit/domain/test_business_rules.py
  tests/unit/providers/aws/test_launch_template_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

merge
  src/application/queries/handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: unit tests
  src/infrastructure/error/decorators.py
  src/providers/base/strategy/__init__.py
  src/providers/base/strategy/provider_selector.py
  tests/e2e/test_cli_integration.py
  tests/infrastructure/di/test_injectable_decorator.py
  tests/infrastructure/scheduler/base/test_strategy.py
  tests/infrastructure/test_request_caching.py
  tests/integration/test_bootstrap_integration.py
  tests/integration/test_clean_architecture_integration.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_machine_status_cqrs_migration.py
  tests/integration/test_native_spec_all_providers.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/performance/test_lazy_loading_performance.py
  tests/providers/base/strategy/test_provider_context.py
  tests/providers/base/strategy/test_provider_context_edge_cases.py
  tests/test_end_to_end.py
  tests/test_logging_fixes.py
  tests/test_provider_strategy_examples.py
  tests/unit/application/queries/test_request_status_capacity.py
  tests/unit/architecture/test_ddd_compliance_fixed.py
  tests/unit/cli/test_storage_commands.py
  tests/unit/domain/test_machine_aggregate.py
  tests/unit/infrastructure/di/test_cqrs_registry.py
  tests/unit/infrastructure/scheduler/test_format_conversion_consistency.py
  tests/unit/infrastructure/scheduler/test_scheduler_strategy_initialization.py
  tests/unit/infrastructure/scheduler/test_symphony_hostfactory_strategy.py
  tests/unit/infrastructure/test_jinja_advanced_rendering.py
  tests/unit/infrastructure/test_provider_registry.py
  tests/unit/infrastructure/test_repository_patterns.py
  tests/unit/infrastructure/test_scheduler_native_spec_parsing.py
  tests/unit/infrastructure/test_storage_registration.py
  tests/unit/infrastructure/test_storage_registry_integration.py
  tests/unit/interface/test_cli_handler_execution.py
  tests/unit/providers/aws/strategy/test_augment_capacity_metadata.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: rest API fixes
  .gitignore
  src/api/dependencies.py
  src/api/handlers/request_machines_handler.py
  src/api/routers/machines.py
  src/api/routers/templates.py
  src/application/queries/provider_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: metrics collection class for provider_services
  src/application/queries/__init__.py
  src/cli/main.py
  src/infrastructure/auth/strategy/bearer_token_strategy.py
  src/infrastructure/di/core_services.py
  src/infrastructure/di/provider_services.py
  src/monitoring/metrics.py
  src/providers/base/strategy/__init__.py
  src/providers/base/strategy/provider_context.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: updating main.py removing unused function.
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: adding boto3 hooks metrics.
  src/domain/base/ports.py
  src/domain/base/ports/configuration_port.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/di/core_services.py
  src/infrastructure/di/provider_services.py
  src/interface/system_command_handlers.py
  src/monitoring/metrics.py
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/instrumentation/__init__.py
  src/providers/aws/infrastructure/instrumentation/botocore_metrics.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/infrastructure/test_circular_dependency_fix.py
  tests/providers/aws/test_botocore_metrics.py
  tests/unit/config/test_metrics_config_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: adding metrics to json storage strategy
  src/infrastructure/persistence/json/registration.py
  src/infrastructure/persistence/json/strategy.py
  src/infrastructure/persistence/json/template.py
  src/infrastructure/persistence/json/unit_of_work.py
  src/infrastructure/persistence/metrics_decorators.py
  tests/unit/infrastructure/persistence/test_json_strategy_metrics.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: formatting
  src/infrastructure/persistence/json/registration.py
  src/infrastructure/persistence/json/strategy.py
  src/infrastructure/persistence/json/template.py
  src/infrastructure/persistence/json/unit_of_work.py
  src/infrastructure/persistence/metrics_decorators.py
  tests/unit/config/test_metrics_config_adapter.py
  tests/unit/infrastructure/persistence/test_json_strategy_metrics.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: rest api and metrics
  pytest.ini
  src/api/dependencies.py
  src/api/handlers/get_request_status_handler.py
  src/api/handlers/request_machines_handler.py
  src/api/handlers/request_return_machines_handler.py
  src/api/models/requests.py
  src/api/routers/machines.py
  src/api/routers/requests.py
  src/api/utils/request_id_generator.py
  src/application/base/infrastructure_handlers.py
  src/application/commands/request_handlers.py
  src/application/dto/commands.py
  src/application/request/dto.py
  src/domain/request/aggregate.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/monitoring/metrics.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/fleet_grouping_mixin.py
  tests/conftest.py
  tests/onaws/scenarios_rest_api.py
  tests/onaws/test_rest_api_onaws.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/monitoring/test_metrics_tracing.py
  tests/unit/monitoring/test_metrics_tracing_config.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: rest API on aws tests.
  src/infrastructure/adapters/configuration_adapter.py
  tests/onaws/scenarios.py
  tests/onaws/scenarios_rest_api.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
  tests/onaws/test_rest_api_onaws.py
  visualise/test/__init__.py
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: apply various fixes to config, caching, and parsing
  .gitignore
  config/default_config.json
  pytest.ini
  src/application/queries/handlers.py
  src/application/services/provider_capability_service.py
  src/infrastructure/scheduler/hostfactory/field_mappings.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/scenarios_rest_api.py
  tests/onaws/template_processor.py
  tests/onaws/test_rest_api_onaws.py
  tests/unit/domain/test_machine_aggregate.py
  visualise/instance_vcpu_mapping.json
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

renaming ./src/ohfp -> /src/orb
  src/orb/__init__.py
  src/orb/api
  src/orb/application
  src/orb/cli
  src/orb/config
  src/orb/domain
  src/orb/infrastructure
  src/orb/providers
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

dev-tools/completions/bash/ohfp-completion.bash -> dev-tools/completions/bash/orb-completion.bash dev-tools/completions/zsh/_ohfp -> dev-tools/completions/zsh/_orb
  dev-tools/completions/bash/orb-completion.bash
  dev-tools/completions/zsh/_orb
Due: none

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
