Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

final renaming
  local_env.sh
Due: none

renaming continue
  deployment/docker/docker-entrypoint.sh
  scripts/invoke_provider.sh
Due: none

chore: monthly dependency maintenance
  uv.lock
Due: none

feat: prepare for 1.0 stable release
  README.md
  docs/root/architecture/lazy-loading-design.md
  docs/root/architecture/machine-discovery-flow.md
  docs/root/developer_guide/performance-optimization.md
  docs/root/examples/production-config.json
  docs/root/hostfactory/deployment_scenarios.md
  docs/root/hostfactory/integration_guide.md
  docs/root/mcp/integration-guide.md
  docs/root/user_guide/deployment.md
  src/bootstrap.py
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: consolidate installation system with consistent feedback
  dev-tools/scripts/dev_tools_runner.py
  makefiles/dev.mk
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: implement config path auto-detection in entry point
  src/run.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve config path detection during bootstrap
  src/config/loader.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: add container build optimization implementation plan
  .kiro/CONTAINER_BUILD_OPTIMIZATION.md
Due: quality-check

feat: implement complete container build optimization
  .github/workflows/container.yml
  .kiro/CONTAINER_BUILD_OPTIMIZATION.md
Due: quality-check, validate-workflows

feat: add release branch support to semantic-release configuration
  pyproject.toml
Due: safety, quality-check

feat: comprehensive release system preparation for v1.0
  .project.yml
  dev-tools/ci/ci_security_dispatcher.py
  dev-tools/container/container_dispatcher.py
  dev-tools/docs/docs_dispatcher.py
  dev-tools/quality/quality_dispatcher.py
  dev-tools/release/orchestrator.sh
  dev-tools/release/release_dispatcher.py
  dev-tools/scripts/dev_tools_runner.py
  dev-tools/scripts/workflow_orchestrator.py
  dev-tools/testing/test_dispatcher.py
  makefiles/ci.mk
  makefiles/deploy.mk
  makefiles/dev.mk
  makefiles/quality.mk
  pyproject.toml
  src/config/loader.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/template/configuration_manager.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/instrumentation/botocore_metrics.py
  src/run.py
  tests/config/test_template_defaults.py
  tests/onaws/scenarios_rest_api.py
  tests/onaws/test_rest_api_onaws.py
  tests/providers/aws/test_botocore_metrics.py
  tests/unit/domain/test_business_rules.py
  tests/unit/infrastructure/test_config_driven_provider_registration.py
  tests/unit/providers/test_aws_handlers.py
  uv.lock
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

refactor: reduce complexity in all dispatcher files
  dev-tools/ci/ci_security_dispatcher.py
  dev-tools/container/container_dispatcher.py
  dev-tools/docs/docs_dispatcher.py
  dev-tools/quality/quality_dispatcher.py
  dev-tools/release/release_dispatcher.py
  dev-tools/testing/test_dispatcher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve remaining ruff violations
  dev-tools/ci/ci_security_dispatcher.py
  dev-tools/container/container_dispatcher.py
  dev-tools/docs/docs_dispatcher.py
  dev-tools/quality/quality_dispatcher.py
  dev-tools/release/release_dispatcher.py
  dev-tools/testing/test_dispatcher.py
  tests/config/test_template_defaults.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve critical CI failures
  .github/actions/get-config/action.yml
  .project.yml
  pyproject.toml
Due: safety, quality-check

refactor: reduce complexity in visualise.py functions
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: continue complexity reduction in visualise.py
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: restore complete Excel plotting functionality with complexity reduction
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: complete complexity reduction - all functions now complexity ≤10
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve code quality violations in visualise.py
  visualise/visualise.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: remove .kiro folder from git tracking
  .kiro/CONTAINER_BUILD_OPTIMIZATION.md
Due: quality-check

Fix all critical code quality violations
  hfmock.py
  pyproject.toml
  src/application/commands/request_handlers.py
  src/cli/main.py
  src/config/managers/configuration_manager.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/persistence/json/registration.py
  src/infrastructure/persistence/json/strategy.py
  src/infrastructure/persistence/json/template.py
  src/infrastructure/persistence/json/unit_of_work.py
  src/infrastructure/persistence/repository_migrator.py
  src/monitoring/metrics.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/instrumentation/botocore_metrics.py
  tests/integration/test_complete_workflows.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_native_spec_all_providers.py
  tests/providers/aws/test_botocore_metrics.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/architecture/test_ddd_compliance_fixed.py
  tests/unit/infrastructure/persistence/test_json_strategy_metrics.py
  tests/unit/infrastructure/test_repository_patterns.py
  tests/unit/infrastructure/test_unified_base_registry.py
  tests/unit/patterns/test_strategy_pattern.py
  tests/unit/providers/aws/strategy/test_augment_capacity_metadata.py
  tests/unit/providers/aws/test_launch_template_manager.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: resolve I001 import sorting violation in asg_handler.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve all critical code quality violations blocking CI pipeline
  hfmock.py
  pyproject.toml
  src/application/commands/request_handlers.py
  src/cli/main.py
  src/config/managers/configuration_manager.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/persistence/json/registration.py
  src/infrastructure/persistence/json/strategy.py
  src/infrastructure/persistence/json/template.py
  src/infrastructure/persistence/json/unit_of_work.py
  src/infrastructure/persistence/repository_migrator.py
  src/monitoring/metrics.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/instrumentation/botocore_metrics.py
  tests/integration/test_complete_workflows.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_native_spec_all_providers.py
  tests/providers/aws/test_botocore_metrics.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/architecture/test_ddd_compliance_fixed.py
  tests/unit/infrastructure/persistence/test_json_strategy_metrics.py
  tests/unit/infrastructure/test_repository_patterns.py
  tests/unit/infrastructure/test_unified_base_registry.py
  tests/unit/patterns/test_strategy_pattern.py
  tests/unit/providers/aws/strategy/test_augment_capacity_metadata.py
  tests/unit/providers/aws/test_launch_template_manager.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: resolve all critical unit test failures
  :wq!
  src/application/commands/request_handlers.py
  src/application/services/provider_selection_service.py
  src/config/schemas/provider_strategy_schema.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/application/services/test_provider_capability_service.py
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update GitHub Actions to latest stable versions
  .github/actions/get-config/action.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/release-management.yml
  .github/workflows/reusable-security.yml
  .github/workflows/reusable-test.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
  .github/workflows/suggest-rc.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, validate-workflows

fix: remove circular dependency in reusable-security workflow
  .github/workflows/reusable-security.yml
Due: quality-check, validate-workflows

feat: restructure CI/CD workflows with proper separation
  .github/actions/setup-uv-cached/action.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/container-build.yml
  .github/workflows/security-code.yml
  .github/workflows/security-container.yml
  .github/workflows/security.yml
  .github/workflows/shared-config.yml
Due: quality-check, validate-workflows

fix: resolve I001 import sorting violation in CQRS test
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add missing workflow permissions to resolve CodeQL alerts
  .github/workflows/changelog.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/container-build.yml
  .github/workflows/shared-config.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, validate-workflows

fix: implement container tag calculation using make pattern
  .github/workflows/container-build.yml
  dev-tools/container/calculate_tags.sh
  makefiles/deploy.mk
Due: quality-check, validate-workflows

fix: update workflow dependencies to use calculate-tags job
  .github/workflows/container-build.yml
Due: quality-check, validate-workflows

fix: add missing workflow permissions to resolve CodeQL alerts
  .github/workflows/reusable-test.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: rewrite CQRS pattern tests to use actual functionality
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: implement container matrix optimization and smart caching
  .github/workflows/cache-management.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/container-build.yml
  .github/workflows/security-container.yml
  .github/workflows/shared-config.yml
Due: quality-check, validate-workflows

fix: resolve code quality issues in CQRS tests
  tests/unit/application/test_cqrs_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve security workflow permissions and container build platform issues
  .github/workflows/container-build.yml
  .github/workflows/security-code.yml
Due: quality-check, validate-workflows

feat: implement proper build-scan-push container workflow
  .github/workflows/container-build.yml
Due: quality-check, validate-workflows

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
