Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

feat: add capacity top-up retry loop to provisioning orchestration
  src/application/services/provisioning_orchestration_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: sort imports in ec2_fleet handler and test file
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
  tests/unit/application/test_batching_policy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: harden pre-commit hooks and move slow checks to pre-push
  .pre-commit-config.yaml
  dev-tools/quality/quality_dispatcher.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: remove unused beads hooks, simplify pre-commit hook
  .githooks/README.md
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-commit
  .githooks/pre-push
  .githooks/prepare-commit-msg
Due: quality-check

fix: correct provisioning retry loop for async fleet handlers
  dev-tools/quality/quality_dispatcher.py
  src/application/commands/request_creation_handlers.py
  src/application/services/provisioning_orchestration_service.py
  src/application/services/request_status_management_service.py
  src/application/services/request_status_service.py
  src/config/schemas/common_schema.py
  src/infrastructure/adapters/configuration_adapter.py
  src/providers/aws/infrastructure/handlers/asg/handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet/handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/conftest.py
  tests/onaws/test_onaws.py
  tests/unit/application/services/test_request_status_management_service.py
  tests/unit/application/test_batching_policy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace pytest.exit with pytest.skip in AWS credential check
  tests/onaws/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: remove internal auth reference from credential check docstring
  tests/onaws/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: ensure AWS credential check runs in xdist workers before tests
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: always check AWS credentials when onaws tests are collected
  tests/onaws/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

style: remove unused request param from check_aws_credentials
  tests/onaws/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: check AWS credentials once at session start, exit early with clear message
  tests/onaws/conftest.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: discover and terminate instant EC2 fleet instances via instance tags
  dev-tools/admin/cleanup_orb_resources.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: read provider_data from correct location and make AlreadyExists non-retryable
  src/application/services/provisioning_orchestration_service.py
  src/infrastructure/resilience/strategy/circuit_breaker.py
  src/infrastructure/resilience/strategy/exponential.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: tag spot-instances-request resources in RunInstances handler
  src/providers/aws/infrastructure/handlers/run_instances/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: add pre-flight validation and circuit breaker tasks
  dev-tools/admin/cleanup_orb_resources.py
  src/providers/aws/infrastructure/handlers/run_instances/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: remove dead resource manager cluster and fix circuit breaker propagation
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/resource_manager.py
  src/infrastructure/adapters/ports/__init__.py
  src/infrastructure/adapters/ports/cloud_account_port.py
  src/infrastructure/adapters/ports/cloud_resource_catalog_port.py
  src/infrastructure/adapters/ports/cloud_resource_manager_port.py
  src/infrastructure/adapters/ports/cloud_resource_quota_port.py
  src/infrastructure/adapters/ports/resource_provisioning_port.py
  src/infrastructure/base/resource_manager.py
  src/infrastructure/di/registry_services.py
  src/providers/aws/infrastructure/adapters/__init__.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/adapters/resource_manager_adapter.py
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/managers/__init__.py
  src/providers/aws/managers/aws_resource_manager.py
  src/providers/registry/provider_registry.py
  tests/test_injectable_migration.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/providers/test_providers_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: fix DI violations, wire validation and fallback strategy, reactive quota handling
  src/application/commands/provider_handlers.py
  src/application/provider/__init__.py
  src/application/provider/commands.py
  src/application/services/provider_registry_service.py
  src/application/services/provisioning_orchestration_service.py
  src/domain/base/exceptions.py
  src/infrastructure/resilience/strategy/circuit_breaker.py
  src/providers/aws/exceptions/aws_exceptions.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/adapters/aws_validation_adapter.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/base/strategy/fallback_strategy.py
  src/providers/registration.py
  src/providers/registry/provider_registry.py
  tests/unit/application/provider/test_provider_commands.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

style: auto-format registration.py
  src/providers/registration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: wire AWSValidationAdapter and validate_template_requirements into provisioning path
  src/application/services/provider_validation_service.py
  src/infrastructure/di/domain_services.py
  src/providers/aws/infrastructure/adapters/aws_validation_adapter.py
  src/providers/aws/registration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: add type annotations and assert pattern to handler config_port
  src/application/services/provider_validation_service.py
  src/providers/aws/infrastructure/handlers/asg/handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet/handler.py
  src/providers/aws/infrastructure/handlers/run_instances/handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve three regressions in provisioning and status query paths
  src/application/commands/request_creation_handlers.py
  src/application/services/request_query_service.py
  src/providers/aws/infrastructure/handlers/asg/handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/run_instances/handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore deleted dev-tools scripts and guard AWS credential check
  Makefile
  dev-tools/ci/check_requirements.sh
  dev-tools/container/container_health_check.py
  dev-tools/quality/quality_check.py
  dev-tools/scripts/hooks/pre-commit
  dev-tools/security/security_container.py
  dev-tools/setup/install_completions.sh
  dev-tools/testing/test-docker.sh
  makefiles/ci.mk
  makefiles/deploy.mk
  makefiles/quality.mk
  tests/onaws/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: wire handler capabilities into validation and surface sync errors
  Makefile
  makefiles/dev.mk
  src/application/queries/request_query_handlers.py
  src/domain/base/ports/configuration_port.py
  src/domain/services/template_validation_domain_service.py
  src/infrastructure/adapters/configuration_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove wrong provider_api fallback and fix handler capabilities source
  src/application/dto/template_dto.py
  src/application/queries/template_query_handlers.py
  src/domain/services/template_validation_domain_service.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/template/dtos.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
