Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

fix: add self-reference to changelog-validation workflow
  .github/workflows/changelog-validation.yml
Due: quality-check, validate-workflows

fix: add missing self-references to workflow path triggers
  .github/workflows/security-code.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

fix: standardize artifact management policies
  .github/workflows/ci-tests.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/reusable-test.yml
Due: quality-check, validate-workflows

feat: add basic workflow health monitoring
  .github/workflows/health-monitoring.yml
Due: quality-check, validate-workflows

feat: add status badges to README
  README.md
Due: quality-check

docs: update CI/CD optimization tracking with accurate completion status
  .kiro/workflow-optimization-tracking.md
Due: quality-check

feat: add dynamic health and advanced metrics badges
  .github/workflows/advanced-metrics.yml
  .github/workflows/health-monitoring.yml
  README.md
Due: quality-check, validate-workflows

fix: configure dynamic badge gist URLs
  README.md
Due: quality-check

fix: resolve workflow validation errors
  .github/workflows/advanced-metrics.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/health-monitoring.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows

refactor: reorganize README badges for better readability
  README.md
Due: quality-check

fix: resolve shellcheck warnings in health-monitoring workflow
  .github/workflows/health-monitoring.yml
Due: quality-check, validate-workflows

fix: make architecture validation and mypy checks optional with clearer names
  .github/workflows/ci-quality.yml
Due: quality-check, validate-workflows

fix: make test report generation optional to prevent PR blocking
  .github/workflows/ci-tests.yml
Due: quality-check, validate-workflows

fix: replace custom test aggregation with proven GitHub Action
  .github/workflows/advanced-metrics.yml
  .github/workflows/changelog-validation.yml
  .github/workflows/ci-tests.yml
  .github/workflows/health-monitoring.yml
  uv.lock
Due: quality-check, validate-workflows

fix: default config was missing in system tests
  tests/onaws/template_processor.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: removing code duplication and improving performance in onaws tests
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/onaws/test_onaws.py
  tests/onaws/test_rest_api_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: monthly dependency maintenance
  uv.lock
Due: none

feat: rename PyPI package to orb-py and refactor class names
  .github/workflows/dev-pypi.yml
  .project.yml
  README.md
  dev-tools/scripts/generate_pyproject.py
  docs/root/deployment/pypi-setup.md
  docs/root/deployment/readme.md
  docs/root/deployment/traditional.md
  docs/root/developer_guide/releases.md
  docs/root/index.md
  docs/root/mcp/integration-guide.md
  docs/root/mcp/tools-mode.md
  docs/root/sdk/quickstart.md
  pyproject.toml
  src/_package.py
  src/interface/mcp/server/core.py
  src/interface/mcp/server/handler.py
  src/interface/mcp_command_handlers.py
  src/mcp/__init__.py
  src/mcp/discovery.py
  src/mcp/tools.py
  src/sdk/__init__.py
  src/sdk/client.py
  tests/integration/mcp/test_mcp_protocol_compliance.py
  tests/interface/mcp/test_mcp_server_core.py
  tests/interface/mcp/test_mcp_server_handler.py
  tests/mcp/test_mcp_discovery.py
  tests/mcp/test_mcp_tools.py
  tests/sdk/test_sdk_client.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

feat: add orb_py namespace package for standard imports
  src/orb_py/__init__.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: update PyPI URLs and badges to orb-py
  README.md
  docs/root/deployment/pypi-setup.md
  docs/root/developer_guide/releases.md
  uv.lock
Due: quality-check

fix: upgrade filelock to 3.20.3 to fix CVE-2025-68146 TOCTOU vulnerability
  uv.lock
Due: none

chore: add Unlicense to allowed licenses (OSI/FSF approved)
  .github/workflows/security-code.yml
Due: quality-check, validate-workflows

style: fix import sorting in orb_py/__init__.py
  src/orb_py/__init__.py
  tests/sdk/test_sdk_client.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove PyPI publishing from dev workflow, only publish to TestPyPI
  .github/workflows/dev-pypi.yml
Due: quality-check, validate-workflows

refactor: derive PyPI package name from .project.yml config
  .github/actions/get-config/action.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/prod-release.yml
Due: quality-check, validate-workflows

fix: derive Python module name from PyPI package name for test-install
  makefiles/common.mk
  makefiles/deploy.mk
Due: none

fix: TestPyPI dev version numbering
  .github/workflows/dev-pypi.yml
  makefiles/deploy.mk
Due: quality-check, validate-workflows

fix: resolve workflow failures and improve consistency
  .github/actions/setup-uv-fresh/action.yml
  .github/workflows/advanced-metrics.yml
  .github/workflows/changelog-validation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/dependabot.yml
  .github/workflows/dev-pypi.yml
  .github/workflows/docs.yml
  .github/workflows/prod-release.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
  dev-tools/scripts/install_dev_tools.py
  makefiles/deploy.mk
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows

fix: remove hardcoded src prefix from package imports
  src/infrastructure/di/components/dependency_resolver.py
  src/infrastructure/di/handler_discovery.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: botocore_metrics.py now uses correct call to set_gauge metric
  src/providers/aws/infrastructure/instrumentation/botocore_metrics.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: adding documentation on the history retrieval for individual EC2 instances.
  .gitignore
  tests/onaws/resource-history-capture.md
Due: quality-check

fix: adding terminate_req_instances.py to quickly terminate all relevant EC2s by name
  dev-tools/admin/README.md
  dev-tools/admin/terminate_req_instances.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: aws_client: unify region/profile selection via ProviderSelectionService with fallback to config_manager.get_typed(AWSProviderConfig)
  src/providers/aws/infrastructure/aws_client.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: EC2 Fleet Instant now checks for errors and checks if there are no instances returned. Such requests marked as failed.
  src/application/queries/handlers.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  tests/unit/application/queries/test_request_status_capacity.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: removing unnecessary fuction arguments
  src/providers/aws/infrastructure/aws_client.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: AWS Provider Config parameters were renamed max_retries -> aws_max_retries connection_timeout_ms -> aws_connect_timeout timeout → aws_read_timeout
  config/README.md
  src/config/README.md
  src/config/loader.py
  src/config/validators/config_validator.py
  src/providers/aws/configuration/config.py
  src/providers/aws/infrastructure/aws_client.py
  tests/config/test_provider_strategy_integration.py
  tests/unit/providers/aws/test_aws_provider_config_legacy_timeout.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: self.config: dict[str, Any] = {} was used without initialisation. Refactoring it out
  src/providers/aws/infrastructure/aws_client.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
