Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

- feat(aws): runtime LT-networking inspection in RunInstances
  src/orb/providers/aws/infrastructure/handlers/run_instances/handler.py
  src/orb/providers/aws/infrastructure/launch_template/manager.py
  tests/onmoto/test_cleanup_e2e.py
  tests/unit/providers/aws/infrastructure/handlers/test_run_instances_handler.py
  tests/unit/providers/aws/test_launch_template_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

- fix(hostfactory): use list-returns subcommand in getReturnRequests.sh
  src/orb/infrastructure/scheduler/hostfactory/scripts/getReturnRequests.sh
Due: none

- fix(aws): improving templates
  config/aws_templates.json
Due: quality-check

fix(scheduler): expose launchTemplateId in templates list output
  src/orb/infrastructure/template/dtos.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(aws): remove placeholder infra stubs from template_defaults
  src/orb/providers/aws/config/aws_defaults.json
  tests/onmoto/conftest.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(hostfactory): userDataScript file-path detection corrupts UserData
  src/orb/infrastructure/scheduler/hostfactory/transformations.py
  tests/unit/infrastructure/scheduler/test_field_mapping.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor(hostfactory): remove dead HostFactoryResponseFormatter
  src/orb/infrastructure/scheduler/hostfactory/response_formatter.py
  tests/integration/test_machine_field_contract.py
  tests/unit/test_hf_response_contracts.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs(nav): add Integrations section, promote scheduler guide
  docs/mkdocs.yml
  docs/root/developer_guide/adding_a_scheduler.md
Due: quality-check

docs(developer-guide): add adding_a_provider guide
  docs/mkdocs.yml
  docs/root/developer_guide/adding_a_provider.md
  docs/root/developer_guide/adding_a_scheduler.md
Due: quality-check

refactor(release): bypass run_tool.sh in semantic-release; tighten run_tool.sh
  dev-tools/setup/run_tool.sh
  makefiles/deploy.mk
Due: none

chore: monthly dependency maintenance
  uv.lock
Due: none

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
