Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

fix: update config.example.json to match default_config.json structure
  config/config.example.json
Due: quality-check

feat: reorganize specs for proper packaging and logical structure
  MANIFEST.in
  config/default_config.json
  config/specs/aws/examples/asg-basic.json
  config/specs/aws/examples/complete-default.json
  config/specs/aws/examples/ec2fleet-attribute-based.json
  config/specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
  config/specs/aws/examples/ec2fleet-hpc-spot-diversified.json
  config/specs/aws/examples/ec2fleet-price-capacity-optimized.json
  config/specs/aws/examples/gpu-compute-cluster.json
  config/specs/aws/examples/launch-template-advanced.json
  config/specs/aws/examples/launch-template-basic.json
  config/specs/aws/examples/launch-template-complete-default.json
  config/specs/aws/examples/multi-tier-architecture.json
  config/specs/aws/examples/runinstances-basic.json
  config/specs/aws/examples/spotfleet-price-capacity-optimized.json
  docs/configuration/native-spec-config.md
  src/ohfp/providers/aws/infrastructure/services/aws_native_spec_service.py
  src/ohfp/providers/aws/specs/asg/default.json
  src/ohfp/providers/aws/specs/ec2fleet/default.json
  src/ohfp/providers/aws/specs/launch-template/default.json
  src/ohfp/providers/aws/specs/runinstances/default.json
  src/ohfp/providers/aws/specs/spotfleet/default.json
  src/providers/aws/infrastructure/services/aws_native_spec_service.py
  src/providers/aws/specs/asg/default.json
  src/providers/aws/specs/ec2fleet/default.json
  src/providers/aws/specs/launch-template/default.json
  src/providers/aws/specs/runinstances/default.json
  src/providers/aws/specs/spotfleet/default.json
  tests/unit/providers/aws/test_spec_file_loading.py
  uv.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: update documentation and tests for new spec paths
  docs/configuration/native-spec-config.md
  tests/unit/providers/aws/test_spec_file_loading.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

chore: improve awscpinst gitignore specificity
  .gitignore
  awscpinst/config/awsprov_config.json
  awscpinst/input/EC2FleetMaintain.json
  awscpinst/input/EC2FleetRequestjson.json
Due: quality-check

docs: migrate orphaned root documentation into MkDocs structure
  docs/docs/api/multi-provider-api.md
  docs/docs/api/native-spec-reference.md
  docs/docs/architecture/machine-discovery-flow.md
  docs/docs/architecture/multi-provider-design.md
  docs/docs/cli/scheduler-commands.md
  docs/docs/cli/template-commands.md
  docs/docs/configuration/native-spec-config.md
  docs/docs/deployment/pypi-setup.md
  docs/docs/developer_guide/data_models.md
  docs/docs/developer_guide/development.md
  docs/docs/developer_guide/providers.md
  docs/docs/developer_guide/resilience.md
  docs/docs/mcp/api-reference.md
  docs/docs/mcp/integration-guide.md
  docs/docs/mcp/tools-mode.md
  docs/docs/sdk/quickstart.md
  docs/docs/security/security-scanning.md
  docs/docs/user_guide/storage_strategies.md
  docs/docs/user_guide/troubleshooting.md
  docs/mkdocs.yml
Due: quality-check

refactor: modernize UV tooling and remove obsolete lock files
  awscpinst/config/templates.json
  dev-tools/scripts/uv_manager.py
  makefiles/dev.mk
  requirements.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

docs: add initial changelog from git history
  CHANGELOG.md
Due: quality-check

feat: migrate to git-changelog with proper command-line integration
  .github/workflows/changelog.yml
  dev-tools/release/changelog_manager.py
  dev-tools/setup/setup_changelog.sh
  docs/root/developer_guide/changelog_management.md
  makefiles/changelog.mk
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows

fix: include changelog makefile and add delete release script
  Makefile
  dev-tools/release/delete_release.sh
Due: none

fix: improve backfill and historical build systems
  dev-tools/release/historical_release.sh
  dev-tools/release/release_creator.sh
  makefiles/deploy.mk
Due: none

fix: prevent GitHub auto-generated release notes
  CHANGELOG.md
  dev-tools/release/release_creator.sh
Due: quality-check

fix: generate proper incremental release notes
  dev-tools/release/release_notes.sh
Due: none

fix: show full commit contents in release notes and handle historical project structures
  dev-tools/release/release_creator.sh
  dev-tools/release/release_notes.sh
  pyproject.toml
Due: safety, quality-check

fix: add build cleanup and handle conflicting build systems
  dev-tools/release/release_creator.sh
  pyproject.toml
Due: safety, quality-check

fix: use existing setup.py for historical builds instead of creating conflicts
  dev-tools/release/release_creator.sh
Due: none

feat: improve release notes with smart formatting
  dev-tools/release/release_notes.sh
Due: none

feat: integrate comprehensive release management and notes enhancements
  .project.yml
  Makefile
  dev-tools/release/build_historical.sh
  dev-tools/release/historical_release.sh
  dev-tools/release/release_backfill.sh
  dev-tools/release/release_creator.sh
  dev-tools/release/release_notes.sh
  dev-tools/release/update_release_notes.sh
Due: quality-check

fix: auto-calculate Python min_version from versions array
  .project.yml
  dev-tools/scripts/generate_pyproject.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve code quality and workflow issues
  dev-tools/release/changelog_manager.py
  dev-tools/scripts/generate_pyproject.py
  pyproject.toml
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: resolve workflow configuration and quality issues
  .project.yml
  dev-tools/release/changelog_manager.py
  pyproject.toml
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports

fix: exclude CHANGELOG.md from hyperbolic terms check and add missing docstrings
  dev-tools/release/changelog_manager.py
  dev-tools/scripts/quality_check.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve shellcheck issues in changelog.yml
  .github/workflows/changelog.yml
Due: quality-check, validate-workflows

fix: resolve remaining shellcheck issues in release scripts
  dev-tools/release/build_historical.sh
  dev-tools/release/release_backfill.sh
  dev-tools/release/release_notes.sh
Due: none

fix: remove unsupported --output flag from changelog workflow
  .github/workflows/changelog.yml
Due: quality-check, validate-workflows

fix: use only Makefile targets in changelog workflow
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: quality-check, validate-workflows

fix: add PEP440 versioning support to git-changelog for proper tag recognition
  CHANGELOG.md
  dev-tools/release/changelog_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct malformed shell script in changelog workflow
  .github/workflows/changelog.yml
Due: quality-check, validate-workflows

refactor: simplify changelog workflow to use make target directly
  .github/workflows/changelog.yml
Due: quality-check, validate-workflows

feat: fix dependencies and core setup
  .github/workflows/changelog.yml
  Makefile
  makefiles/changelog.mk
  pyproject.toml
  pyproject.toml.template
  uv.lock
Due: safety, quality-check, validate-workflows

feat: update alpha workflow for auto-merge
  .github/workflows/auto-release-alpha.yml
Due: quality-check, validate-workflows

feat: implement issue-based weekly beta releases
  .github/workflows/auto-release-beta.yml
  .github/workflows/process-beta-trigger.yml
Due: quality-check, validate-workflows

feat: cleanup unused code and add workflow validation
  makefiles/changelog.mk
  makefiles/dev.mk
Due: none

feat: implement PR-based changelog integration
  dev-tools/release/create_changelog_pr.sh
  dev-tools/release/promote_manager.sh
  dev-tools/release/release_creator.sh
  makefiles/changelog.mk
Due: none

feat: add repository configuration and documentation
  .github/labels.yml
Due: quality-check

fix: remove unused variable in create_changelog_pr.sh
  dev-tools/release/create_changelog_pr.sh
Due: none

fix: resolve shellcheck warnings in auto-release-beta workflow
  .github/workflows/auto-release-beta.yml
Due: quality-check, validate-workflows

fix: resolve workflow failures with PEP 440 version parsing and dependency management
  .github/workflows/auto-release-alpha.yml
  .github/workflows/process-beta-trigger.yml
  dev-tools/release/dry_run_release.sh
  dev-tools/release/promote_manager.sh
  dev-tools/release/version_manager.sh
  pyproject.toml
  pyproject.toml.template
  uv.lock
Due: safety, quality-check, validate-workflows

fix: correct string concatenation in promote_manager.sh for shellcheck compliance
  dev-tools/release/promote_manager.sh
Due: none

feat: add pyproject.toml to gitignore and fix cache keys
  .github/workflows/changelog.yml
  .gitignore
  dev-tools/scripts/ci_check.py
  pyproject.toml
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
