Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

test: add AWS resource cleanup to onaws test fixtures
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add --profile support and consistent region defaults to admin scripts
  dev-tools/admin/list_terminate_active_fleets.py
  dev-tools/admin/terminate_req_instances.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: add comprehensive ORB resource cleanup script
  dev-tools/admin/cleanup_orb_resources.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct ASG filter format for describe_auto_scaling_groups
  dev-tools/admin/cleanup_orb_resources.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: add --tag-key/--tag-value flags to override resource filter tag
  dev-tools/admin/cleanup_orb_resources.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

feat: replace --tag-key/--tag-value with repeatable --tag key=value flag
  dev-tools/admin/cleanup_orb_resources.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct request status cache config field name and wire into DI
  src/infrastructure/caching/request_cache_service.py
  src/infrastructure/di/infrastructure_services.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add default_grace_period to RequestConfig so return requests respect configured value
  src/api/handlers/get_return_requests_handler.py
  src/config/schemas/common_schema.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: rewrite README with foolproof getting-started guide
  README.md
  docs/root/getting_started/quick_start.md
  docs/root/user_guide/templates.md
  docs/root/user_guide/troubleshooting.md
Due: quality-check

fix(tests): enable metrics and add missing mock method to fix stale test failures
  tests/providers/aws/test_botocore_metrics.py
  tests/test_injectable_migration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests): update field mapping keys and fix broken storage import
  tests/performance/test_lazy_loading_performance.py
  tests/test_field_mapping_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests): align tests with current production behaviour
  tests/config/test_template_defaults.py
  tests/e2e/test_critical_path_e2e.py
  tests/infrastructure/scheduler/base/test_strategy.py
  tests/integration/test_end_to_end_dry_run.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(tests): align handler tests with current production behaviour
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/providers/aws/test_handler_merge_integration.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: correct stale mock attribute path in request caching tests
  tests/infrastructure/test_request_caching.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

docs: fix stale and inaccurate documentation
  SECURITY.md
  docs/root/architecture/system_overview.md
  docs/root/configuration-guide.md
  docs/root/user_guide/configuration.md
Due: quality-check

fix: resolve quality gate false positives and enable pyright basic mode
  dev-tools/scripts/check_architecture.py
  dev-tools/scripts/validate_cqrs.py
  pyproject.toml
  pyrightconfig.json
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: storage and provider parity corrections
  src/domain/machine/repository.py
  src/infrastructure/storage/base/repository_mixin.py
  src/infrastructure/storage/base/strategy.py
  src/infrastructure/storage/repositories/template_repository.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

ci: enforce pyright, arch checks, and unit tests as hard failures
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows, detect-secrets

fix: resolve all pyright basic mode type errors across codebase
  src/application/queries/bulk_handlers.py
  src/application/services/asg_metadata_service.py
  src/infrastructure/error/utilities.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/storage/components/generic_serializer.py
  src/infrastructure/storage/repository_migrator.py
  src/interface/serve_command_handler.py
  src/monitoring/health.py
  src/providers/aws/configuration/template_extension.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: consolidate duplicated scheduler strategy methods into base class
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/scheduler/base/strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve layer violations, remove dead code and test-mode production behaviour
  src/application/queries/handlers.py
  src/application/services/provider_name_service.py
  src/application/services/provider_validation_service.py
  src/application/services/template_defaults_service.py
  src/application/services/template_generation_service.py
  src/domain/base/ports/request_creation_port.py
  src/domain/base/utils.py
  src/domain/template/factory.py
  src/providers/registry/provider_registry.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove service-locator from domain enums and align config schemas
  config/default_config.json
  src/config/schemas/common_schema.py
  src/config/schemas/performance_schema.py
  src/providers/aws/domain/template/value_objects.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: standardise AWS resource tags on orb: prefixed kebab-case keys
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/utilities/__init__.py
  src/providers/aws/utilities/aws_operations.py
  src/providers/aws/utilities/fleet_tag_builder.py
  tests/unit/providers/aws/infrastructure/test_resource_tags.py
  tests/unit/providers/test_fleet_tag_builder.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: auto-cleanup empty ASG/Fleet resources and launch templates after full return
  config/default_config.json
  src/application/dto/queries.py
  src/application/queries/handlers.py
  src/config/schemas/app_schema.py
  src/config/schemas/cleanup_schema.py
  src/domain/base/ports/configuration_port.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/request_command_handlers.py
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/fleet_override_builder.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/test_injectable_migration.py
  tests/unit/providers/aws/infrastructure/handlers/test_asg_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_cleanup.py
  tests/unit/providers/aws/infrastructure/handlers/test_ec2_fleet_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_run_instances_handler.py
  tests/unit/providers/aws/infrastructure/handlers/test_spot_fleet_handler.py
  typings/application/dto/queries.pyi
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
