Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

docs: fix orb init non-interactive flags — separate AWS-specific from generic
  docs/root/workflows/end-to-end.md
Due: quality-check

feat: inject SchedulerPort into SDKMethodDiscovery for consistent scheduler-aware SDK responses
  src/orb/sdk/client.py
  src/orb/sdk/discovery.py
  tests/unit/sdk/test_discovery_scheduler_formatting.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: MCP tool dispatch TypeError, handle_get_template scheduler formatting, dead storage fetch
  src/orb/interface/mcp/server/core.py
  src/orb/interface/storage_command_handlers.py
  src/orb/interface/template_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: remove dead scheduler port methods and HF status map from base strategy
  src/orb/domain/base/ports/scheduler_port.py
  src/orb/infrastructure/scheduler/base/strategy.py
  tests/onaws/plugin_io_schemas.py
  tests/unit/infrastructure/scheduler/test_response_formatting.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: inject SchedulerPort into REST routers for scheduler-aware response formatting
  src/orb/api/dependencies.py
  src/orb/api/handlers/get_request_status_handler.py
  src/orb/api/handlers/request_machines_handler.py
  src/orb/api/handlers/request_return_machines_handler.py
  src/orb/api/routers/machines.py
  src/orb/api/routers/requests.py
  src/orb/api/routers/templates.py
  src/orb/infrastructure/di/server_services.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/api/test_router_endpoints.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update remaining scheduler_port imports to application.ports location
  src/orb/api/handlers/request_machines_handler.py
  src/orb/sdk/client.py
  src/orb/sdk/discovery.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update unit tests for scheduler port refactor
  tests/unit/api/test_templates_router.py
  tests/unit/application/test_sdk_scheduler_formatting.py
  tests/unit/infrastructure/scheduler/test_default_strategy_extended.py
  tests/unit/interface/test_template_command_handlers.py
  tests/unit/sdk/test_sdk_client_isolation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve test isolation issue in templates router tests
  tests/utilities/reset_singletons.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: update scheduler port import paths in interface test files
  tests/unit/interface/test_request_machines_wait.py
  tests/unit/interface/test_scheduler_delegation_guard.py
  tests/unit/interface/test_scheduler_response_consistency.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add type: ignore[return] to Protocol stubs and fix unused vars in delegation guard
  src/orb/sdk/protocols.py
  tests/unit/interface/test_scheduler_delegation_guard.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add explanatory comment to empty except in client.py wait_for_request
  src/orb/sdk/client.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add explanatory comment to empty except in reset_singletons.py
  tests/utilities/reset_singletons.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: remove duplicate broken SchedulerPort registration from scheduler_services.py
  src/orb/infrastructure/di/scheduler_services.py
  src/orb/infrastructure/di/services.py
  tests/unit/infrastructure/scheduler/test_registry_get_strategy_class.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: remove dead NotImplementedError stubs from ProviderRegistryAdapter and ProviderPort sub-ports
  src/orb/infrastructure/adapters/provider_registry_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: clear BaseRegistry._instances on singleton reset to fix test isolation gap
  tests/onmoto/conftest.py
  tests/utilities/reset_singletons.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: inject ConfigurationPort into ProviderRegistry singleton via DI
  src/orb/infrastructure/di/provider_services.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: rename ProviderRegistryAdapter to ProviderDiscoveryAdapter
  src/orb/infrastructure/adapters/provider_discovery_adapter.py
  src/orb/infrastructure/di/core_services.py
  tests/unit/architecture/test_provider_leak_detection.py
  tests/unit/infrastructure/test_provider_discovery_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: add unit tests for ProviderRegistry selection logic
  tests/unit/providers/registry/__init__.py
  tests/unit/providers/registry/test_provider_registry_selection.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve QA defects D1-D6 from PR #169 review
  src/orb/infrastructure/di/registry_services.py
  src/orb/interface/init_command_handler.py
  tests/e2e/test_configuration_integration.py
  tests/e2e/test_performance.py
  tests/e2e/test_system_validation.py
  tests/unit/interface/test_init_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve GH code quality comments on PR #169
  src/orb/providers/aws/cli/aws_cli_spec.py
  tests/unit/application/test_list_templates_handler.py
  tests/unit/interface/test_scheduler_delegation_guard.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve ruff issues - unused validator variable and import sorting
  tests/e2e/test_performance.py
  tests/unit/providers/registry/test_provider_registry_selection.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: address remaining GH code quality comments
  src/orb/infrastructure/di/core_services.py
  src/orb/interface/init_command_handler.py
  tests/utilities/reset_singletons.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: add unit tests for all 9 core orchestrators
  tests/unit/application/services/orchestration/__init__.py
  tests/unit/application/services/orchestration/test_acquire_machines_orchestrator.py
  tests/unit/application/services/orchestration/test_cancel_request_orchestrator.py
  tests/unit/application/services/orchestration/test_delete_template_orchestrator.py
  tests/unit/application/services/orchestration/test_get_machine_orchestrator.py
  tests/unit/application/services/orchestration/test_get_provider_config_orchestrator.py
  tests/unit/application/services/orchestration/test_get_provider_health_orchestrator.py
  tests/unit/application/services/orchestration/test_get_provider_metrics_orchestrator.py
  tests/unit/application/services/orchestration/test_get_request_status_orchestrator.py
  tests/unit/application/services/orchestration/test_list_machines_orchestrator.py
  tests/unit/application/services/orchestration/test_list_providers_orchestrator.py
  tests/unit/application/services/orchestration/test_list_requests_orchestrator.py
  tests/unit/application/services/orchestration/test_list_return_requests_orchestrator.py
  tests/unit/application/services/orchestration/test_list_templates_orchestrator.py
  tests/unit/application/services/orchestration/test_return_machines_orchestrator.py
  tests/unit/application/services/orchestration/test_start_machines_orchestrator.py
  tests/unit/application/services/orchestration/test_stop_machines_orchestrator.py
  tests/unit/application/services/orchestration/test_template_orchestrators.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: config dead code removal and env var fixes
  config/default_config.json
  src/orb/config/__init__.py
  src/orb/config/constants.py
  src/orb/config/default_config.json
  src/orb/config/loader.py
  src/orb/config/schemas/__init__.py
  src/orb/config/schemas/app_schema.py
  src/orb/config/schemas/common_schema.py
  src/orb/config/schemas/performance_schema.py
  src/orb/config/schemas/storage_schema.py
  src/orb/infrastructure/logging/logger.py
  src/orb/infrastructure/storage/components/sql_connection_manager.py
  src/orb/infrastructure/storage/sql/registration.py
  src/orb/providers/aws/infrastructure/aws_client.py
  src/orb/providers/aws/infrastructure/handlers/base_handler.py
  src/orb/providers/aws/storage/registration.py
  tests/integration/test_bootstrap_integration.py
  tests/integration/test_full_workflow.py
  tests/unit/infrastructure/logging/__init__.py
  tests/unit/infrastructure/logging/test_logger.py
  tests/unit/infrastructure/storage/__init__.py
  tests/unit/providers/aws/handlers/__init__.py
  tests/unit/providers/aws/storage/test_registration_collections.py
  tests/unit/test_no_aws_in_common_schema.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: move AWS-specific config out of generic schema layer
  src/orb/application/services/template_defaults_service.py
  src/orb/config/schemas/cleanup_schema.py
  src/orb/config/schemas/metrics_schema.py
  src/orb/config/schemas/template_schema.py
  src/orb/infrastructure/adapters/configuration_adapter.py
  src/orb/providers/aws/configuration/__init__.py
  src/orb/providers/aws/configuration/batch_sizes_config.py
  src/orb/providers/aws/configuration/cleanup_config.py
  src/orb/providers/aws/configuration/config.py
  src/orb/providers/aws/configuration/naming_config.py
  src/orb/providers/aws/configuration/validator.py
  src/orb/providers/aws/domain/template/aws_template_aggregate.py
  src/orb/providers/aws/infrastructure/instrumentation/botocore_metrics.py
  tests/providers/aws/test_botocore_metrics.py
  tests/unit/config/test_metrics_config_adapter.py
  tests/unit/config/test_template_schema.py
  tests/unit/providers/aws/configuration/__init__.py
  tests/unit/providers/aws/configuration/test_aws_batch_sizes_config.py
  tests/unit/providers/aws/configuration/test_aws_naming_config.py
  tests/unit/providers/aws/configuration/test_cleanup_config.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve CI failures, CodeQL issues, and code quality comments
  src/orb/application/queries/system.py
  src/orb/cli/args.py
  src/orb/cli/factories/system_command_factory.py
  src/orb/cli/registry.py
  src/orb/infrastructure/storage/json/strategy.py
  tests/unit/architecture/test_provider_leak_detection.py
  tests/unit/config/test_storage_schema_database.py
  tests/unit/sdk/test_discovery_scheduler_formatting.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add template orchestrators — Create, Update, Delete, Validate, Get, List, Refresh
  src/orb/application/queries/template_query_handlers.py
  src/orb/application/services/orchestration/create_template.py
  src/orb/application/services/orchestration/delete_template.py
  src/orb/application/services/orchestration/get_template.py
  src/orb/application/services/orchestration/refresh_templates.py
  src/orb/application/services/orchestration/update_template.py
  src/orb/application/services/orchestration/validate_template.py
  tests/unit/application/queries/test_template_query_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add NotFoundError and AlreadyExistsError to SDK; surface DuplicateError→409
  src/orb/sdk/exceptions.py
  src/orb/sdk/protocols.py
  tests/unit/sdk/test_sdk_machine_methods.py
  tests/unit/sdk/test_sdk_template_methods.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: template storage round-trip and SDK scheduler override correctness
  src/orb/application/dto/commands.py
  src/orb/application/dto/queries.py
  src/orb/application/ports/scheduler_port.py
  src/orb/infrastructure/scheduler/base/field_mapper.py
  src/orb/infrastructure/scheduler/default/default_strategy.py
  src/orb/infrastructure/template/configuration_manager.py
  src/orb/sdk/config.py
  tests/integration/test_template_roundtrip.py
  tests/unit/infrastructure/scheduler/test_cross_cutting.py
  tests/unit/infrastructure/scheduler/test_strategy_loading.py
  tests/unit/infrastructure/template/test_template_crud_scheduler_matrix.py
  tests/unit/sdk/test_client_wait.py
  tests/unit/sdk/test_sdk_constructor_overrides.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: wire remaining orchestrators into DI registry; thin CLI and REST handlers
  src/orb/application/events/base/event_handler.py
  src/orb/application/services/machine_sync_service.py
  src/orb/application/services/provider_validation_service.py
  src/orb/application/services/template_generation_service.py
  src/orb/cli/factories/cli_command_factory_orchestrator.py
  src/orb/infrastructure/storage/json/registration.py
  src/orb/infrastructure/storage/json/unit_of_work.py
  src/orb/infrastructure/utilities/__init__.py
  src/orb/infrastructure/utilities/common/string_utils.py
  src/orb/infrastructure/utilities/factories/__init__.py
  src/orb/interface/init_command_handler.py
  src/orb/interface/mcp/server/core.py
  src/orb/interface/system_command_handlers.py
  tests/unit/api/test_requests_router.py
  tests/unit/application/commands/__init__.py
  tests/unit/application/commands/test_template_command_handlers.py
  tests/unit/interface/mcp/test_mcp_resources_and_validate.py
  tests/unit/interface/test_configuration_handlers.py
  tests/unit/interface/test_handle_update_template.py
  tests/unit/interface/test_system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: delete APIHandlerFactory dead code and clean up stale references
  dev-tools/package/generate_pyproject.py
  src/README.md
  src/orb/api/README.md
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: post-review robustness — polling abort threshold, no_op on empty return, hasattr cleanup
  config/aws_templates.json
  src/orb/providers/aws/infrastructure/launch_template/manager.py
  tests/onaws/template_processor.py
  tests/onmoto/test_template_pipeline.py
  tests/providers/contract/base_provisioning_contract.py
  tests/unit/application/test_list_templates_handler.py
  tests/unit/config/test_path_resolution_service.py
  tests/unit/infrastructure/storage/test_sql_connection_manager.py
  tests/unit/providers/aws/handlers/test_base_handler_circuit_breaker_config.py
  tests/unit/providers/test_config_builder_placement.py
  tests/unit/test_injectable_migration.py
  tests/unit/test_machines_start.py
  tests/unit/test_template_roundtrip.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: unify Command/Query ABC hierarchy to eliminate cast(object) workarounds
  src/orb/application/dto/base.py
  src/orb/application/interfaces/command_query.py
  src/orb/application/services/orchestration/acquire_machines.py
  src/orb/application/services/orchestration/cancel_request.py
  src/orb/application/services/orchestration/create_template.py
  src/orb/application/services/orchestration/delete_template.py
  src/orb/application/services/orchestration/get_provider_health.py
  src/orb/application/services/orchestration/get_provider_metrics.py
  src/orb/application/services/orchestration/get_request_status.py
  src/orb/application/services/orchestration/list_providers.py
  src/orb/application/services/orchestration/list_requests.py
  src/orb/application/services/orchestration/refresh_templates.py
  src/orb/application/services/orchestration/return_machines.py
  src/orb/application/services/orchestration/start_machines.py
  src/orb/application/services/orchestration/stop_machines.py
  src/orb/application/services/orchestration/update_template.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: RequestStatusError crash and SDK pagination kwargs dropped
  src/orb/application/services/orchestration/get_request_status.py
  src/orb/sdk/client.py
  tests/unit/application/services/orchestration/test_get_request_status_orchestrator.py
  tests/unit/sdk/test_sdk_request_methods.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: log actual provider types on init instead of stale mock fallback
  src/orb/bootstrap.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: log provider instances (not type) on successful init
  src/orb/bootstrap.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: return minimal machine record for terminal/transitional AWS states instead of failing validation
  src/orb/providers/aws/infrastructure/adapters/machine_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: preserve historical machine data (IP, subnet etc) for terminal/transitional states
  src/orb/application/services/machine_sync_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: introduce ResponseFormattingService for uniform handler return values
  src/orb/application/dto/interface_response.py
  src/orb/application/services/response_formatting_service.py
  src/orb/cli/router.py
  src/orb/infrastructure/di/port_registrations.py
  src/orb/interface/machine_command_handlers.py
  src/orb/interface/request_command_handlers.py
  src/orb/interface/template_command_handlers.py
  tests/unit/infrastructure/scheduler/test_format_conversion_consistency.py
  tests/unit/interface/test_cli_handler_execution.py
  tests/unit/interface/test_handle_update_template.py
  tests/unit/interface/test_request_command_handlers.py
  tests/unit/interface/test_request_machines_wait.py
  tests/unit/interface/test_scheduler_delegation_guard.py
  uv.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: rename machines list --template-id to --request-id and fix extract_output_format
  src/orb/cli/args.py
  src/orb/cli/args_extractor.py
  src/orb/interface/machine_command_handlers.py
  tests/unit/cli/test_args_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
