Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: correct stale test assertions — requestId→request_id, long→verbose, detailed→verbose, fix import order
  tests/infrastructure/error/test_http_response_handler.py
  tests/integration/api/test_async_request_poll.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve ResponseFormattingService from DI singleton in dependencies.py
  src/orb/api/dependencies.py
  tests/unit/api/test_dependencies.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

security: scope id-token permissions and remove broken health-monitoring workflow
  .github/workflows/docs.yml
  .github/workflows/health-monitoring.yml
  .github/workflows/prod-release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, validate-workflows

fix: restore shutting-down to terminal count in request status
  src/orb/application/services/request_status_service.py
  tests/unit/application/services/test_request_status_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

revert: shutting-down is not terminal — only terminated counts as done
  src/orb/application/services/request_status_service.py
  tests/unit/application/services/test_request_status_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: PR #173 second review — 7 issues across interface, MCP, AWS adapter, and DI
  src/orb/cli/args.py
  src/orb/infrastructure/di/port_registrations.py
  src/orb/interface/mcp/server/core.py
  src/orb/interface/system_command_handlers.py
  src/orb/providers/aws/infrastructure/adapters/machine_adapter.py
  tests/unit/providers/aws/infrastructure/test_machine_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

perf: skip describe calls on return path when resource_mapping provided
  src/orb/providers/aws/infrastructure/handlers/shared/fleet_grouping_mixin.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add --wait/--timeout to machines return and machines terminate
  src/orb/application/services/orchestration/dtos.py
  src/orb/application/services/orchestration/return_machines.py
  src/orb/cli/args.py
  src/orb/interface/request_command_handlers.py
  src/orb/providers/aws/infrastructure/handlers/shared/fleet_grouping_mixin.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

style: ruff import sort fixes
  src/orb/cli/args.py
  src/orb/interface/system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: move ResponseFormattingService to interface layer + fix warnings
  src/orb/_package.py
  src/orb/api/dependencies.py
  src/orb/infrastructure/di/port_registrations.py
  src/orb/infrastructure/scheduler/base/strategy.py
  src/orb/infrastructure/storage/components/lock_manager.py
  src/orb/interface/config_command_handlers.py
  src/orb/interface/infrastructure_command_handler.py
  src/orb/interface/machine_command_handlers.py
  src/orb/interface/provider_config_handler.py
  src/orb/interface/request_command_handlers.py
  src/orb/interface/response_formatting_service.py
  src/orb/interface/scheduler_command_handlers.py
  src/orb/interface/storage_command_handlers.py
  src/orb/interface/system_command_handlers.py
  src/orb/interface/template_command_handlers.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/api/test_dependencies.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/cli/test_args_contract.py
  tests/unit/cli/test_storage_commands.py
  tests/unit/infrastructure/scheduler/test_format_conversion_consistency.py
  tests/unit/interface/test_cli_handler_execution.py
  tests/unit/interface/test_configuration_handlers.py
  tests/unit/interface/test_handle_update_template.py
  tests/unit/interface/test_handler_param_forwarding.py
  tests/unit/interface/test_infrastructure_command_handler.py
  tests/unit/interface/test_request_command_handlers.py
  tests/unit/interface/test_request_machines_wait.py
  tests/unit/interface/test_scheduler_command_handlers.py
  tests/unit/interface/test_scheduler_delegation_guard.py
  tests/unit/interface/test_scheduler_response_consistency.py
  tests/unit/interface/test_system_command_handlers.py
  tests/unit/interface/test_template_command_handlers.py
  tests/unit/sdk/test_sdk_batch.py
  tests/unit/test_domain_validation.py
  tests/unit/test_import_fixes.py
  tests/unit/test_machines_start.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: replace author attribution with AWS ORB Maintainers
  .github/CODEOWNERS
  .project.yml
  CODE_OF_CONDUCT.md
  pyproject.toml
  src/orb/_package.py
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

refactor: extract composition root to orb.bootstrap package
  src/orb/bootstrap/__init__.py
  src/orb/bootstrap/core_services.py
  src/orb/bootstrap/domain_services.py
  src/orb/bootstrap/infrastructure_services.py
  src/orb/bootstrap/monitoring_services.py
  src/orb/bootstrap/orchestrator_registry.py
  src/orb/bootstrap/port_registrations.py
  src/orb/bootstrap/provider_services.py
  src/orb/bootstrap/registry_services.py
  src/orb/bootstrap/server_services.py
  src/orb/bootstrap/services.py
  src/orb/bootstrap/storage_services.py
  src/orb/infrastructure/di/__init__.py
  src/orb/infrastructure/di/buses.py
  src/orb/infrastructure/di/container.py
  tests/e2e/test_cli_integration.py
  tests/onmoto/test_rest_api_onmoto.py
  tests/performance/test_lazy_loading_performance.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/application/services/test_provisioning_orchestration_service_di.py
  tests/unit/architecture/test_provider_leak_detection.py
  tests/unit/infrastructure/di/test_bootstrap_extraction.py
  tests/unit/infrastructure/di/test_monitoring_services.py
  tests/unit/infrastructure/test_config_driven_provider_registration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: return path and machine display bugs
  src/orb/application/commands/request_creation_handlers.py
  src/orb/application/factories/request_dto_factory.py
  src/orb/application/services/request_status_service.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/infrastructure/scheduler/hostfactory/response_formatter.py
  tests/unit/infrastructure/scheduler/test_hostfactory_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add request_id and return_request_id to MachineReferenceDTO
  src/orb/application/factories/request_dto_factory.py
  src/orb/application/request/dto.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: show machine's own request_id in request status response
  src/orb/application/factories/request_dto_factory.py
  src/orb/application/request/dto.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: smart requestId/returnRequestId display based on request context
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/infrastructure/scheduler/hostfactory/response_formatter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: ruff format and import order in loader and aws_provider_strategy
  src/orb/config/loader.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update test schemas and fixtures for cloudHostId fallback behaviour
  config/default_config.json
  tests/onaws/plugin_io_schemas.py
  tests/onmoto/conftest.py
  tests/onmoto/test_mcp_onmoto.py
  tests/onmoto/test_sdk_default_scheduler.py
  tests/unit/application/services/orchestration/test_acquire_machines_orchestrator.py
  tests/unit/application/services/test_provider_api_fallback_removal.py
  tests/unit/infrastructure/di/test_bootstrap_extraction.py
  tests/unit/interface/test_request_command_handlers.py
  tests/unit/test_domain_validation.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add explanatory comment to empty except in scheduler registry
  src/orb/infrastructure/scheduler/registry.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Apply suggested fix to src/orb/domain/template/template_aggregate.py from Copilot Autofix
  src/orb/domain/template/template_aggregate.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace broken upload-sarif with SPDX dependency submission for SBOM upload
  .github/workflows/dev-pypi.yml
Due: quality-check, validate-workflows

fix: Apply suggested fix to src/orb/domain/template/template_aggregate.py from Copilot Autofix
  src/orb/domain/template/template_aggregate.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace broken upload-sarif with SPDX dependency submission for SBOM upload
  .github/workflows/dev-pypi.yml
  pyproject.toml
Due: safety, quality-check, validate-workflows

fix: fix actionlint errors in preview job
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

feat: add force_level input to workflow_dispatch for manual bump override
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: replace empty string choice with auto for force_level input
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

fix: remove 2>/dev/null from preview to expose PSR output for debugging
  .github/workflows/semantic-release.yml
Due: quality-check, validate-workflows

feat: add print_console() plain-text helper to cli/console
  src/orb/cli/console.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: replace bare print() with console helpers in cli/main.py
  src/orb/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: fix import sort in bootstrap/__init__.py
  src/orb/bootstrap/__init__.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(ci): exempt trufflehog from AGPL-3.0 license check
  .github/workflows/security-code.yml
Due: quality-check, validate-workflows

ci(deps): use ci prefix for github-actions dependabot commits
  .github/dependabot.yml
Due: quality-check

chore: monthly dependency maintenance
  uv.lock
Due: none

test(onmoto): add EC2Fleet, ASG, SpotFleet price type matrix tests
  tests/onmoto/test_asg_price_types.py
  tests/onmoto/test_ec2fleet_price_types.py
  tests/onmoto/test_spot_fleet_gaps.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

test(onmoto): complete epic 1670 — RunInstances gaps, cross-cutting, onaws fixes
  tests/onaws/test_cleanup_e2e_onaws.py
  tests/onaws/test_onaws.py
  tests/onmoto/test_cross_cutting.py
  tests/onmoto/test_run_instances_gaps.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(cli): use plain print for JSON output and fix Rich console line wrapping
  src/orb/cli/console.py
  src/orb/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix(providers): EC2Fleet/SpotFleet request fleet deleted on partial return
  src/orb/providers/aws/infrastructure/handlers/ec2_fleet/release_manager.py
  src/orb/providers/aws/infrastructure/handlers/fleet_release_policy.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/release_manager.py
  tests/unit/providers/aws/handlers/test_fleet_release_regression.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test(onmoto): complete epic 2153 — full onmoto/onaws equivalence coverage
  tests/onmoto/test_cleanup_e2e.py
  tests/onmoto/test_cli_onmoto.py
  tests/onmoto/test_mcp_onmoto.py
  tests/onmoto/test_multi_resource_onmoto.py
  tests/onmoto/test_partial_return.py
  tests/onmoto/test_rest_api_onmoto.py
  tests/onmoto/test_sdk_onmoto.py
  uv.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix(ci): fix ruff import sorting/unused imports and restore uv.lock from main
  tests/onmoto/test_partial_return.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/domain/test_request_aggregate.py
  tests/unit/domain/test_template_aggregate.py
  tests/unit/infrastructure/test_infrastructure_comprehensive.py
  tests/unit/providers/aws/handlers/test_fleet_release_regression.py
  tests/unit/providers/test_providers_comprehensive.py
  tests/unit/sdk/test_sdk_machine_methods.py
  tests/unit/sdk/test_sdk_request_methods.py
  tests/unit/sdk/test_sdk_template_methods.py
  tests/unit/test_asg_stack_deleted.py
  tests/unit/test_import_validation.py
  uv.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports
