Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: add conditional badge generation to prevent failures
  .github/workflows/advanced-metrics.yml
Due: quality-check, validate-workflows

fix: configure badge generation with proper gist and secrets
  .github/workflows/advanced-metrics.yml
  README.md
Due: quality-check, validate-workflows

fix: refine Advanced Metrics test selection to avoid dependency issues
  .github/workflows/advanced-metrics.yml
Due: quality-check, validate-workflows

fix: add packages read permission to Container Build workflow
  .github/workflows/dev-containers.yml
Due: quality-check, validate-workflows

fix: ruff errors
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: merging issues
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: provider selection and multi-provider return requests
  src/application/commands/request_handlers.py
  src/domain/machine/aggregate.py
  src/domain/request/aggregate.py
  src/infrastructure/persistence/repositories/machine_repository.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: enable multi-provider AWS client support using existing patterns
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: implement multi-provider handler factory with metadata-driven selection
  src/application/queries/handlers.py
  src/infrastructure/di/provider_services.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/aws_handler_factory.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: complete multi-provider architecture with machine context
  src/application/queries/handlers.py
  src/domain/machine/aggregate.py
  src/infrastructure/persistence/repositories/machine_repository.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: ensure machine creation sets provider_api and resource_id fields
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

refactor: improve return request grouping by provider context
  src/application/commands/request_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: complete return request logic with proper resource-based termination
  src/application/commands/request_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update template generation to use strategy handler factory
  src/interface/templates_generate_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: consolidate instance ID handling across AWS handlers
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/unit/providers/test_aws_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: implement template multi-provider architecture with provider strategy pattern
  src/cli/main.py
  src/domain/base/ports/provider_port.py
  src/interface/infrastructure_command_handler.py
  src/interface/init_command_handler.py
  src/interface/templates_generate_handler.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/models/infrastructure_models.py
  src/providers/aws/services/infrastructure_discovery_service.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add simple centralized help system for getting started workflow
  src/cli/help_utils.py
  src/interface/init_command_handler.py
  src/interface/template_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore help display for resources without actions with fast performance and clean code
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add 'infra' as shortcut for 'infrastructure' commands
  src/cli/main.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove incorrect await from infrastructure discovery
  src/interface/infrastructure_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: implement proper infrastructure discovery delegation in ProviderContextAdapter
  src/infrastructure/adapters/provider_context_adapter.py
  src/interface/infrastructure_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove incorrect await from infrastructure validate command
  src/interface/infrastructure_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: make infrastructure commands more helpful with actionable guidance
  src/interface/infrastructure_command_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: improve formatting for init command sections
  src/application/services/provider_selection_service.py
  src/cli/main.py
  src/infrastructure/adapters/provider_context_adapter.py
  src/interface/infrastructure_command_handler.py
  src/interface/init_command_handler.py
  src/interface/templates_generate_handler.py
  src/providers/aws/models/infrastructure_models.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

docs: add init command improvements next steps
  .kiro/INIT_IMPROVEMENTS_NEXT_STEPS.md
Due: quality-check

fix: improve template generation and subnet handling
  config/aws_default_eu-west-2_templates.json
  src/application/queries/handlers.py
  src/application/services/template_defaults_service.py
  src/infrastructure/scheduler/hostfactory/field_mapper.py
  src/interface/templates_generate_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: make generic templates the default for generation
  config/aws_default_eu-west-2_templates.json
  config/aws_templates.json
  src/cli/main.py
  src/interface/templates_generate_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: update startup validator to use template hierarchy
  src/infrastructure/validation/startup_validator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets
