Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$

fix: implement bidirectional field mapping and scheduler-specific template generation
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/templates_generate_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add DRY scheduler field mapper architecture
  src/infrastructure/scheduler/base/field_mapper.py
  src/infrastructure/scheduler/default/field_mapper.py
  src/infrastructure/scheduler/hostfactory/field_mapper.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: correct CLI bypass logic and missing import
  src/cli/main.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/infrastructure/validation/startup_validator.py
  src/interface/health_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: convert subnetIds to subnetId for HF and exclude nulls in defaults
  src/application/services/template_defaults_service.py
  src/infrastructure/scheduler/hostfactory/field_mapper.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve remaining ruff issues
  src/api/server.py
  src/interface/health_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore missing config file write logic in init command
  src/interface/init_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: startup validator detects missing templates correctly
  src/infrastructure/validation/startup_validator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: syntax error in health_command_handler.py
  src/interface/health_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: align startup validator with config loader path resolution
  src/infrastructure/validation/startup_validator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: generate cleaner templates without null fields
  src/infrastructure/scheduler/hostfactory/field_mapper.py
  src/interface/templates_generate_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: eliminate null field pollution in template display
  src/application/commands/request_handlers.py
  src/domain/base/ports/scheduler_port.py
  src/domain/template/template_aggregate.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: set correct allocation strategy defaults (spot=price_capacity_optimized, ondemand=lowest_price)
  src/domain/template/template_aggregate.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: inject template_defaults_service in scheduler registration
  src/infrastructure/scheduler/registration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: integrate field mappers with scheduler strategies
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve DI circular dependency and scheduler strategy issues
  src/infrastructure/di/components/dependency_resolver.py
  src/infrastructure/di/container.py
  src/infrastructure/di/services.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: show default_config.json first in missing files list
  src/infrastructure/validation/startup_validator.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: use handler factory for template generation
  src/interface/templates_generate_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add missing permissions to package-testing workflow
  .github/workflows/package-testing.yml
Due: quality-check, validate-workflows

fix: resolve CI failures - ruff formatting, import guards, and bandit issues
  src/cli/formatters.py
  src/monitoring/health.py
  tests/config/test_template_defaults.py
  tests/infrastructure/scheduler/base/test_strategy.py
  tests/integration/test_full_workflow.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/api/test_api_comprehensive.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve critical test failures
  tests/config/test_template_defaults.py
  tests/conftest.py
  tests/infrastructure/di/test_injectable_decorator.py
  tests/infrastructure/scheduler/base/test_strategy.py
  tests/infrastructure/test_request_caching.py
  tests/integration/test_full_workflow.py
  tests/unit/api/handlers/test_api_handler_initialization.py
  tests/unit/api/test_api_comprehensive.py
  tests/unit/application/queries/test_scheduler_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: resolve ruff formatting and linting issues
  pyproject.toml
  src/application/commands/request_handlers.py
  src/application/services/provider_name_service.py
  src/application/services/provider_selection_service.py
  src/bootstrap.py
  src/cli/main.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/adapters/provider_context_adapter.py
  src/infrastructure/di/buses.py
  src/infrastructure/di/storage_services.py
  src/infrastructure/factories/scheduler_strategy_factory.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/health_command_handler.py
  src/interface/init_command_handler.py
  src/interface/request_command_handlers.py
  src/interface/serve_command_handler.py
  src/interface/templates_generate_handler.py
  src/monitoring/health.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/fleet_grouping_mixin.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/base/strategy/provider_strategy.py
  tests/test_import_guards.py
  tests/test_platform_dirs.py
  uv.lock
Due: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, detect-secrets

fix: show actual error messages instead of 'Unknown error'
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: remove emojis from package-testing workflow
  .github/workflows/package-testing.yml
Due: quality-check, validate-workflows

fix: scheduler override functionality
  config/aws-default_templates.json
  config/templates.json
  src/cli/main.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/factories/scheduler_strategy_factory.py
  src/infrastructure/registry/scheduler_registry.py
  src/infrastructure/scheduler/default/default_strategy.py
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add synchronous query execution support
  src/infrastructure/di/buses.py
  src/interface/health_command_handler.py
  tests/integration/test_full_workflow.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: return full template config instead of hardcoded fields
  src/infrastructure/adapters/configuration_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: implement proper provider health checking
  src/domain/base/ports/provider_port.py
  src/infrastructure/adapters/provider_context_adapter.py
  src/interface/health_command_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve template loading synchronization issues
  src/infrastructure/template/template_repository_impl.py
  src/interface/health_command_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: register storage types before DI container initialization
  src/infrastructure/di/storage_services.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add missing app_config property to ConfigurationAdapter
  src/infrastructure/adapters/configuration_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve false success response and architectural violations
  src/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/providers/aws/infrastructure/adapters/aws_provisioning_adapter.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve workflow validation issues
  .github/workflows/package-testing.yml
  src/cli/formatters.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, validate-workflows, detect-secrets

fix: resolve workflow and documentation issues
  .github/workflows/package-testing.yml
  docs/root/configuration/multi-provider.md
Due: quality-check, validate-workflows

fix: resolve all ruff import sorting issues using uv run
  src/api/server.py
  src/application/commands/request_handlers.py
  src/application/services/provider_name_service.py
  src/cli/formatters.py
  src/cli/main.py
  src/config/loader.py
  src/config/managers/configuration_manager.py
  src/infrastructure/scheduler/base/field_mapper.py
  src/infrastructure/scheduler/default/field_mapper.py
  src/infrastructure/scheduler/hostfactory/field_mapper.py
  src/infrastructure/scheduler/registration.py
  src/infrastructure/validation/startup_validator.py
  src/interface/health_command_handler.py
  src/interface/init_command_handler.py
  src/interface/serve_command_handler.py
  src/interface/system_command_handlers.py
  src/interface/template_command_handlers.py
  src/interface/templates_generate_handler.py
  src/monitoring/health.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/run.py
  tests/onaws/test_multi_asg_termination.py
  tests/onaws/test_multi_ec2_fleet_termination.py
  tests/onaws/test_multi_resource_termination.py
  tests/onaws/test_multi_spot_fleet_termination.py
  tests/test_import_guards.py
  tests/test_platform_dirs.py
  uv.lock
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve bandit security issues
  src/config/managers/configuration_manager.py
  src/infrastructure/factories/scheduler_strategy_factory.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve main branch workflow failures
  .github/workflows/advanced-metrics.yml
  makefiles/quality.mk
Due: quality-check, validate-workflows

fix: align Advanced Metrics workflow with established patterns
  .github/workflows/advanced-metrics.yml
  python-sbom.json
Due: quality-check, validate-workflows

fix: resolve main branch workflow failures after merge
  .github/workflows/advanced-metrics.yml
  .github/workflows/test-matrix.yml
Due: quality-check, validate-workflows
