Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

fix: forward offset, limit, status from args to ListRequestsInput in handle_list_requests
  src/orb/interface/request_command_handlers.py
  tests/unit/cli/test_args_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: extract build_parser(), add --detailed to providers health, add CLI contract tests
  src/orb/cli/args.py
  tests/unit/cli/test_args_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: address code review issues — merge machine_ids_flag, fix limit falsy-zero, normalise dest naming
  src/orb/cli/args.py
  src/orb/interface/machine_command_handlers.py
  src/orb/interface/request_command_handlers.py
  tests/unit/cli/test_args_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: wire dropped params in list_machines, list_templates, return_requests, provider_health, provider_metrics, get_template handlers
  src/orb/interface/machine_command_handlers.py
  src/orb/interface/request_command_handlers.py
  src/orb/interface/system_command_handlers.py
  src/orb/interface/template_command_handlers.py
  tests/unit/interface/test_handler_param_forwarding.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace MCP _get_tool_schema name-heuristic with static schema dict; fix count→machine_count
  src/orb/interface/mcp/server/core.py
  tests/unit/interface/test_mcp_tool_schema.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: align SDK protocols.py — get_request_status request_ids, add stop/start_machines stubs
  src/orb/sdk/protocols.py
  tests/unit/sdk/test_protocols.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: resolve pyright errors from interface consistency changes
  src/orb/interface/machine_command_handlers.py
  tests/unit/interface/test_handler_param_forwarding.py
  tests/unit/interface/test_mcp_tool_schema.py
  tests/unit/sdk/test_protocols.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: scheduler response formatting — HF spec fields, status_reason promotion, null stripping
  src/orb/infrastructure/scheduler/default/default_strategy.py
  src/orb/infrastructure/scheduler/hostfactory/response_formatter.py
  src/orb/providers/aws/infrastructure/adapters/machine_adapter.py
  tests/unit/cli/test_args_contract.py
  tests/unit/cli/test_response_formatter.py
  tests/unit/infrastructure/scheduler/test_format_conversion_consistency.py
  tests/unit/interface/test_request_command_handlers.py
  tests/unit/interface/test_scheduler_response_consistency.py
  tests/unit/interface/test_template_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: normalise validation error dicts in request/machine/template handlers
  src/orb/cli/args.py
  src/orb/interface/request_command_handlers.py
  src/orb/interface/template_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: add scheduler/storage orchestrators, formatter methods, migrate handlers
  src/orb/application/services/orchestration/dtos.py
  src/orb/application/services/orchestration/get_scheduler_config.py
  src/orb/application/services/orchestration/get_storage_config.py
  src/orb/application/services/orchestration/list_scheduler_strategies.py
  src/orb/application/services/orchestration/list_storage_strategies.py
  src/orb/application/services/response_formatting_service.py
  src/orb/infrastructure/di/orchestrator_registry.py
  src/orb/interface/scheduler_command_handlers.py
  src/orb/interface/storage_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: SDK/REST/MCP output consistency — MCP tool registration, InterfaceResponse serialisation, REST formatter injection
  src/orb/api/dependencies.py
  src/orb/api/routers/machines.py
  src/orb/api/routers/requests.py
  src/orb/interface/mcp/server/core.py
  tests/unit/api/test_router_endpoints.py
  tests/unit/api/test_stream_endpoint.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: suppress unused scheduler variable warnings
  tests/unit/interface/test_request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: health endpoint runs checks before returning status
  src/orb/api/server.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: unwrap InterfaceResponse in contract test helpers
  tests/contract/test_orchestrator_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: add validate_aws_region to InputValidator
  src/orb/infrastructure/validation/input_validator.py
  tests/contract/test_orchestrator_contract.py
  tests/integration/test_security_features.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

style: fix import ordering in contract and e2e test files
  tests/contract/test_orchestrator_contract.py
  tests/integration/test_end_to_end_integration.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: remove broken requests create/return registry entries; explicit provider factory signatures
  src/orb/cli/factories/provider_command_factory.py
  src/orb/cli/registry.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: cast registry to Any before hasattr reload call to satisfy pyright
  src/orb/interface/system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: system reload/health/metrics use ResponseFormattingService; add format_success
  src/orb/application/services/response_formatting_service.py
  tests/unit/interface/test_configuration_handlers.py
  tests/unit/interface/test_system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: config commands wrap results in InterfaceResponse
  src/orb/cli/registry.py
  src/orb/interface/config_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: scheduler validate exit code; mcp safe args.format access; init handles KeyboardInterrupt
  src/orb/interface/mcp_command_handlers.py
  src/orb/interface/scheduler_command_handlers.py
  tests/unit/interface/test_scheduler_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: add format_machine_operation and format_template_mutation to ResponseFormattingService
  src/orb/application/services/response_formatting_service.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

test: update machines start/stop tests for InterfaceResponse return type
  tests/unit/cli/test_args_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

docs: remove duplicate CI badges from Documentation & CI details section
  README.md
Due: quality-check

style: fix import ordering in storage_command_handlers
  src/orb/interface/storage_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

ci: remove mypy — pyright covers all type checking
  .github/workflows/ci-quality.yml
  Makefile
  makefiles/ci.mk
  makefiles/dev.mk
  mypy.ini
  pyproject.toml
Due: safety, quality-check, validate-workflows

ci: remove mypy from pre-commit hooks and pyproject.toml excludes
  .pre-commit-config.yaml
  pyproject.toml
Due: safety, quality-check

ci: add Codecov test analytics — junit_family=legacy and test-results-action upload
  .github/workflows/reusable-test.yml
  pyproject.toml
Due: safety, quality-check, validate-workflows

fix: remove --detailed subparser args; --verbose is already global
  src/orb/cli/args.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: wire --verbose through storage health with real latency probe
  src/orb/application/queries/storage.py
  src/orb/application/queries/storage_handlers.py
  src/orb/interface/storage_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: wire --verbose through system/config/storage handlers, remove --detailed everywhere
  src/orb/application/queries/system.py
  src/orb/cli/args.py
  src/orb/cli/factories/storage_command_factory.py
  src/orb/cli/factories/system_command_factory.py
  src/orb/interface/config_command_handlers.py
  src/orb/interface/mcp/server/core.py
  src/orb/interface/storage_command_handlers.py
  src/orb/interface/system_command_handlers.py
  tests/unit/cli/test_args_contract.py
  tests/unit/interface/test_system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: use find_all() instead of list_all() in storage health probe
  src/orb/application/queries/storage_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: storage health/metrics model_dump serialisation and storage test exit code
  src/orb/interface/storage_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: move AWS naming patterns into providers block, move database into storage, add contract test imports
  config/default_config.json
  tests/contract/test_orchestrator_contract.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: handle_system_health returns InterfaceResponse, update tests to match; fix list_all→find_all in system_handlers
  src/orb/application/queries/system_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: handle_system_health returns InterfaceResponse on happy path
  tests/unit/interface/test_system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

refactor: extract _extract_status_reason helper in machine_adapter
  src/orb/providers/aws/infrastructure/adapters/machine_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: replace _make_bus_handler with proper handlers; wrap system metrics and mcp handlers in InterfaceResponse
  src/orb/cli/registry.py
  src/orb/interface/mcp_command_handlers.py
  src/orb/interface/system_command_handlers.py
  tests/unit/interface/mcp/test_mcp_resources_and_validate.py
  tests/unit/interface/test_system_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: restore missing pytest markers (api, security) in pyproject.toml
  pyproject.toml
Due: safety, quality-check

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
