Repository awslabs/open-resource-broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, ruff-check, bandit, safety, quality-check, validate-imports, validate-workflows, detect-secrets

format-fix:
  name: Auto-Format Code
  entry: make format-fix
  language: system
  pass_filenames: false
  description: Auto-format Python code with Ruff

ruff-check:
  name: Ruff (Code Quality - Required)
  entry: make ci-quality-ruff
  language: system
  pass_filenames: false
  description: Check Python code quality with Ruff (must pass)

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-workflows:
  name: Validate Workflows
  entry: make validate-workflows
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow YAML files

detect-secrets:
  name: Detect Hardcoded Secrets
  entry: make detect-secrets
  language: system
  pass_filenames: false
  description: Detect potential hardcoded secrets in source code

fix: restore accidentally deleted changelog_manager.py
  dev-tools/release/changelog_manager.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports

fix: remove unused integrated publisher input from docs workflow
  .github/workflows/docs.yml
Due: quality-check, validate-workflows

fix: restore PyPI publishing with GitHub Actions OIDC
  .github/workflows/publish.yml
  dev-tools/release/publisher.sh
Due: quality-check, validate-workflows

feat: implement scheduled alpha/beta/RC releases
  .github/workflows/release-management.yml
  dev-tools/release/create_release.sh
  makefiles/deploy.mk
Due: quality-check, validate-workflows

refactor: move complex makefile logic to conditional_release.sh script
  dev-tools/release/conditional_release.sh
  makefiles/deploy.mk
Due: none

docs: update release management guide
  docs/root/developer_guide/releases.md
Due: quality-check

fix: resolve shellcheck issues in conditional_release.sh
  dev-tools/release/conditional_release.sh
Due: none

fix: logging messages don't show the original file and the line number where messae is originated from
  src/infrastructure/adapters/logging_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: adding color coding to logging messages in the stdout
  src/infrastructure/logging/logger.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: make sure colored formatting does not appear in log files
  src/infrastructure/logging/logger.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: jinja formatting and additional logging on render failures
  src/infrastructure/adapters/logging_adapter.py
  src/infrastructure/logging/logger.py
  src/infrastructure/template/jinja_spec_renderer.py
  src/providers/aws/specs/ec2fleet/default.json
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

feat: extra logging on fleet creation
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Update logger.py adding docstring
  src/infrastructure/logging/logger.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Refactor AWS provider configuration and fix EC2 Fleet instance handling
  src/application/services/native_spec_service.py
  src/providers/aws/domain/template/aggregate.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/specs/ec2fleet/default.json
  src/providers/aws/utilities/aws_operations.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Refactor configuration structure and update AWS provider templates
  src/infrastructure/persistence/json/strategy.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

- Fix tests around JSON storage - find_by_id added option string argument type
  src/infrastructure/persistence/repositories/request_repository.py
  tests/unit/infrastructure/test_repository_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

chore: monthly dependency maintenance
  uv.lock
Due: none

Refactor configuration structure and clean up template files
  src/application/commands/request_handlers.py
  src/infrastructure/adapters/logging_adapter.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Changing CreateReturnRequestHandler to use UOW to store requests to database
  src/application/commands/request_handlers.py
  src/application/services/native_spec_service.py
  src/infrastructure/adapters/provider_context_adapter.py
  src/infrastructure/persistence/repositories/machine_repository.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fixing request status update functionality for instant request types
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/application/request/dto.py
  src/domain/request/aggregate.py
  src/infrastructure/logging/logger.py
  src/providers/base/strategy/provider_context.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

update/merge
  src/application/queries/handlers.py
  src/infrastructure/di/decorators.py
  src/infrastructure/di/handler_discovery.py
  src/infrastructure/di/provider_services.py
  src/ohfp/providers/aws/infrastructure/template/caching_ami_resolver.py
  src/providers/aws/infrastructure/template/caching_ami_resolver.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/base/strategy/composite_strategy.py
  src/providers/base/strategy/fallback_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Refactoring logging
  src/application/queries/handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: run.py arguments and request states
  src/application/queries/handlers.py
  src/cli/main.py
  src/domain/request/request_types.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: user data script was not passed to the launch template
  src/application/queries/handlers.py
  src/application/services/native_spec_service.py
  src/infrastructure/scheduler/hostfactory/transformations.py
  src/interface/request_command_handlers.py
  src/providers/aws/infrastructure/adapters/request_adapter.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/managers/aws_instance_manager.py
  src/providers/aws/utilities/ec2/instances.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: Instance Profile was not passed through to Launch Template
  src/application/queries/handlers.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: root volume size was not set in the LT
  src/infrastructure/scheduler/hostfactory/field_mappings.py
  src/infrastructure/scheduler/hostfactory/transformations.py
  src/providers/aws/domain/template/aws_template_aggregate.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/specs/launch-template/default.json
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: machine return by private IP instead of instance ID
  src/application/commands/request_handlers.py
  src/cli/main.py
  src/domain/machine/repository.py
  src/infrastructure/persistence/repositories/machine_repository.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/aws/utilities/ec2/instances.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Revert "Fix: machine return by private IP instead of instance ID"
  src/application/commands/request_handlers.py
  src/cli/main.py
  src/domain/machine/repository.py
  src/infrastructure/persistence/repositories/machine_repository.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/aws/utilities/ec2/instances.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: when returning machines, HF provides instance Id via attribute "machineId" instead of "name"
  src/interface/request_command_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: added environmental variables in scripts. Correct parsing of machine attributes from legacy template
  docs/root/deployment/dev_deployment_documentation.md
  scripts/invoke_provider.sh
  src/infrastructure/scheduler/hostfactory/strategy.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Fix: Documentation corrections
  docs/root/deployment/dev_deployment_documentation.md
Due: quality-check

feat(tests): add on-AWS test support and system tests
  .gitignore
  Makefile
  config/sample_user_data_script.sh
  dev-tools/testing/run_tests.py
  docs/root/testing/system-tests-onaws.md
  hfmock.py
  makefiles/dev.mk
  pytest.ini
  src/config/managers/configuration_manager.py
  src/domain/request/request_types.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  tests/onaws/__init__.py
  tests/onaws/config_templates/awsprov_templates.base.json
  tests/onaws/config_templates/config.base.json
  tests/onaws/config_templates/default_config.base.json
  tests/onaws/parse_output.py
  tests/onaws/plugin_io_schemas.py
  tests/onaws/scenarios.py
  tests/onaws/template_processor.py
  tests/onaws/test_onaws.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: launch_template_id is passed from config, template is re-used if exists
  src/application/queries/handlers.py
  tests/unit/application/queries/test_get_template_handler.py
  tests/unit/application/queries/test_scheduler_handlers.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: tests and ruff checks
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/interface/request_command_handlers.py
  src/providers/base/strategy/provider_context.py
  tests/unit/application/services/test_provider_capability_service.py
  tests/unit/application/services/test_provider_selection_service.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/infrastructure/test_repository_patterns.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

fix: EC2 Fleet Request Type.
  makefiles/dev.mk
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/providers/aws/infrastructure/adapters/machine_adapter.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  tests/conftest.py
  tests/infrastructure/scheduler/base/test_strategy.py
  tests/onaws/scenarios.py
  tests/unit/domain/test_template_aggregate.py
Due: format-fix, ruff-check, bandit, quality-check, validate-imports, detect-secrets

Release 0.1.1
  .project.yml
Due: quality-check

Fix Docker build error: Add missing PYTHON_VERSION build argument
  makefiles/deploy.mk
Due: none

Path conditions:
  format-fix: any of: \.(py)$
  ruff-check: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
